.intro {
  margin: 3rem 0;
  padding: 3rem 0;
}
.intro__title {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.15;
  max-width: 50rem;
}
.intro__subtitle {
  color: var(--subtitle-color);
  font-size: 1.6rem;
}
.intro__description {
  font-size: 1.25rem;
  max-width: 50rem;
}
.intro__description > * {
  margin: 1rem 0;
}
@media (min-width: 48em) {
  .intro__title {
    font-size: 5rem;
  }
}
.feature-post {
  background-color: var(--feature-post-color);
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.feature-post__inner {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.feature-post__list {
  display: grid;
  gap: 4rem;
  margin-top: 2rem;
}
@media (min-width: 48em) {
  .feature-post .feature-post__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 62em) {
  .feature-post .feature-post__inner {
    grid-template-columns: 200px 1fr;
  }
  .feature-post .feature-post__list {
    margin-top: 0;
  }
}
.featured-article__clamp {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
}
.featured-article__meta {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  width: 100%;
}
.featured-article__title {
  color: var(--link-color);
  font-family: serif;
  font-size: 1.6rem;
  text-decoration-color: var(--link-hover-color);
}
.featured-article__excerpt {
  display: block;
  font-size: 1rem;
  margin-top: 0.8rem;
}
