.Rosewater {
  color: get-color('Rosewater');
}

.Flamingo {
  color: get-color('Flamingo');
}

.Pink {
  color: get-color('Pink');
}

.Mauve {
  color: get-color('Mauve');
}

.Red {
  color: get-color('Red');
}

.Maroon {
  color: get-color('Maroon');
}

.Peach {
  color: get-color('Peach');
}

.Yellow {
  color: get-color('Yellow');
}

.Green {
  color: get-color('Green');
}

.Teal {
  color: get-color('Teal');
}

.Sky {
  color: get-color('Sky');
}

.Sapphire {
  color: get-color('Sapphire');
}

.Blue {
  color: get-color('Blue');
}

.Lavender {
  color: get-color('Lavender');
}

.Text {
  color: get-color('Text');
}

.Subtext1 {
  color: get-color('Subtext1');
}

.Subtext0 {
  color: get-color('Subtext0');
}

.Overlay2 {
  color: get-color('Overlay2');
}

.Overlay1 {
  color: get-color('Overlay1');
}

.Overlay0 {
  color: get-color('Overlay0');
}

.Surface2 {
  color: get-color('Surface2');
}

.Surface1 {
  color: get-color('Surface1');
}

.Surface0 {
  color: get-color('Surface0');
}

.Base {
  color: get-color('Base');
}

.Mantle {
  color: get-color('Mantle');
}

.Crust {
  color: get-color('Crust');
}
