@mixin pixelBorder($dark, $size: 2px) {
  $outline: var(--color-links-outline);
  background-color: var(--color-links);

  box-shadow: // Luz (arriba e izquierda)
  -#{$size} -#{$size} 0 0 var(--color-links),
  0 -#{$size} 0 0 var(--color-links),
  -#{$size} 0 0 0 var(--color-links),

  // Sombra (derecha y abajo)
  #{$size} 0 0 0 var(--color-links-dark),
  0 #{$size} 0 0 var(--color-links-dark),
  #{$size} #{$size} 0 0 var(--color-links-dark),

  // Contorno exterior (más oscuro)
  -#{$size * 2} -#{$size * 2} 0 0 $outline,
  #{$size * 2} -#{$size * 2} 0 0 $outline,
  -#{$size * 2} #{$size * 2} 0 0 $outline,
  #{$size * 2} #{$size * 2} 0 0 $outline;
}

.pixelBorder--2 {
  display: inline-block;
  transform: translateZ(0);
  color: var(--color-links);

  @include pixelBorder(#ac7d75, 2px);

}
