.loose {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 100ch;
  padding: 0 1.33rem;
}

.wrapper {
  position: relative;
  max-width: 70ch;
  padding: 0 1.33rem;
}

.constrained {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 45rem;
}
