.wrapper {
  position: relative;
  max-width: 55ch;
  text-wrap: pretty;
}

.constrained {
  position: relative;
  max-width: 80ch;
  text-wrap: pretty;
}

.loose {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  min-width: 50ch;
}
