.wrapper {
  position: relative;
  max-width: 55ch;
}

.constrained {
  max-width: 39ch;
  @include media-query('md') {
    max-width: 80ch;
  }
}

.loose {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  min-width: 50ch;
  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 1rem;

  @media (max-width: 768px) {
    min-width: auto;
  }
}
