<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>New test - bitbyte-blog - my little corner on the web
</title>
<link rel="icon" type="image/png" href="../favicon.png" />
<link rel="alternate" type="application/atom+xml" title="bitbyte-blog Atom Feed" href="../atom.xml" />
<link rel="alternate" type="application/atom+xml" title="bitbyte-blog Atom Feed (tags)" href="../tags.xml" />
<link rel="stylesheet" type="text/css" href="../style.css" />
</head>
<body>
<table><tr><td><a href="../../"><img src="../logo.png" alt="" width="32" height="32" /></a></td><td><h1>bitbyte-blog</h1><span class="desc">my little corner on the web
</span></td></tr><tr><td></td><td>
<a href="../log.html">Log</a> | <a href="../files.html">Files</a> | <a href="../refs.html">Refs</a> | <a href="../file/LICENSE.html">LICENSE</a></td></tr></table>
<hr/>
<div id="content">
<pre><b>commit</b> <a href="../commit/012c847a773c2f487010d4de45916198fcb3797e.html">012c847a773c2f487010d4de45916198fcb3797e</a>
<b>parent</b> <a href="../commit/ebbd26b36d43bd7c2e0f9318ce81945c8f0e6e6e.html">ebbd26b36d43bd7c2e0f9318ce81945c8f0e6e6e</a>
<b>Author:</b> hectoraldairah &lt;<a href="mailto:hectoraldairah@protonmail.com">hectoraldairah@protonmail.com</a>&gt;
<b>Date:</b>   Mon, 11 Aug 2025 23:50:47 -0600

New test

<b>Diffstat:</b>
<table><tr><td class="M">M</td><td><a href="#h0">src/_includes/layouts/base.njk</a></td><td> | </td><td class="num">33</td><td><span class="i">+++++++++</span><span class="d">------------------------</span></td></tr>
</table></pre><pre>1 file changed, 9 insertions(+), 24 deletions(-)
<hr/><b>diff --git a/<a id="h0" href="../file/src/_includes/layouts/base.njk.html">src/_includes/layouts/base.njk</a> b/<a href="../file/src/_includes/layouts/base.njk.html">src/_includes/layouts/base.njk</a></b>
<a href="#h0-0" id="h0-0" class="h">@@ -10,12 +10,6 @@
</a>       {% include &quot;css/critical.css&quot; %}
     &lt;/style&gt;
 
<a href="#h0-0-3" id="h0-0-3" class="d">-    &lt;script
</a><a href="#h0-0-4" id="h0-0-4" class="d">-      data-goatcounter=&quot;https://bitbyte.goatcounter.com/count&quot;
</a><a href="#h0-0-5" id="h0-0-5" class="d">-      async
</a><a href="#h0-0-6" id="h0-0-6" class="d">-      src=&quot;https://gc.zgo.at/count.js&quot;
</a><a href="#h0-0-7" id="h0-0-7" class="d">-    &gt;&lt;/script&gt;
</a><a href="#h0-0-8" id="h0-0-8" class="d">-
</a>     &lt;link
       rel=&quot;preload&quot;
       href=&quot;/assets/fonts/FreePixel.ttf&quot;
<a href="#h0-1" id="h0-1" class="h">@@ -153,7 +147,16 @@
</a>       &lt;/main&gt;
       {% include &quot;partials/footer.njk&quot; %}
     &lt;/div&gt;
<a href="#h0-1-3" id="h0-1-3" class="i">+    &lt;script&gt;
</a><a href="#h0-1-4" id="h0-1-4" class="i">+      let stats = document.querySelector(&#39;#stats&#39;);
</a><a href="#h0-1-5" id="h0-1-5" class="i">+      window.goatcounter.visit_count({ append: stats });
</a><a href="#h0-1-6" id="h0-1-6" class="i">+    &lt;/script&gt;
</a> 
<a href="#h0-1-8" id="h0-1-8" class="i">+    &lt;script
</a><a href="#h0-1-9" id="h0-1-9" class="i">+      data-goatcounter=&quot;https://bitbyte.goatcounter.com/count&quot;
</a><a href="#h0-1-10" id="h0-1-10" class="i">+      async
</a><a href="#h0-1-11" id="h0-1-11" class="i">+      src=&quot;//gc.zgo.at/count.js&quot;
</a><a href="#h0-1-12" id="h0-1-12" class="i">+    &gt;&lt;/script&gt;
</a>     &lt;script type=&quot;text/javascript&quot; defer&gt;
       const currentTheme = localStorage.getItem(&#39;theme&#39;);
       if (currentTheme) {
<a href="#h0-2" id="h0-2" class="h">@@ -171,23 +174,5 @@
</a>         localStorage.setItem(&#39;theme&#39;, theme);
       });
     &lt;/script&gt;
<a href="#h0-2-3" id="h0-2-3" class="d">-    &lt;script&gt;
</a><a href="#h0-2-4" id="h0-2-4" class="d">-      let r = new XMLHttpRequest();
</a><a href="#h0-2-5" id="h0-2-5" class="d">-      r.addEventListener(&#39;load&#39;, function () {
</a><a href="#h0-2-6" id="h0-2-6" class="d">-        document.querySelector(&#39;#stats&#39;).innerText = JSON.parse(
</a><a href="#h0-2-7" id="h0-2-7" class="d">-          this.responseText
</a><a href="#h0-2-8" id="h0-2-8" class="d">-        ).count;
</a><a href="#h0-2-9" id="h0-2-9" class="d">-      });
</a><a href="#h0-2-10" id="h0-2-10" class="d">-
</a><a href="#h0-2-11" id="h0-2-11" class="d">-      let path = window.goatcounter.get_data()[&#39;p&#39;];
</a><a href="#h0-2-12" id="h0-2-12" class="d">-
</a><a href="#h0-2-13" id="h0-2-13" class="d">-      r.open(
</a><a href="#h0-2-14" id="h0-2-14" class="d">-        &#39;GET&#39;,
</a><a href="#h0-2-15" id="h0-2-15" class="d">-        &#39;https://bitbyte.goatcounter.com/counter/&#39; +
</a><a href="#h0-2-16" id="h0-2-16" class="d">-          encodeURIComponent(path) +
</a><a href="#h0-2-17" id="h0-2-17" class="d">-          &#39;.json&#39;
</a><a href="#h0-2-18" id="h0-2-18" class="d">-      );
</a><a href="#h0-2-19" id="h0-2-19" class="d">-      r.send();
</a><a href="#h0-2-20" id="h0-2-20" class="d">-    &lt;/script&gt;
</a>   &lt;/body&gt;
 &lt;/html&gt;
</pre>
</div>
</body>
</html>
