<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>add favicon - bitbyte-blog - my little corner on the web
</title>
<link rel="icon" type="image/png" href="../favicon.png" />
<link rel="alternate" type="application/atom+xml" title="bitbyte-blog Atom Feed" href="../atom.xml" />
<link rel="alternate" type="application/atom+xml" title="bitbyte-blog Atom Feed (tags)" href="../tags.xml" />
<link rel="stylesheet" type="text/css" href="../style.css" />
</head>
<body>
<table><tr><td><a href="../../"><img src="../logo.png" alt="" width="32" height="32" /></a></td><td><h1>bitbyte-blog</h1><span class="desc">my little corner on the web
</span></td></tr><tr><td></td><td>
<a href="../log.html">Log</a> | <a href="../files.html">Files</a> | <a href="../refs.html">Refs</a> | <a href="../file/LICENSE.html">LICENSE</a></td></tr></table>
<hr/>
<div id="content">
<pre><b>commit</b> <a href="../commit/016c6721a0b06ff49c9753a772572a1a39429ac3.html">016c6721a0b06ff49c9753a772572a1a39429ac3</a>
<b>parent</b> <a href="../commit/94483e54c1bd5ef479e52d749c02b675b2a9283a.html">94483e54c1bd5ef479e52d749c02b675b2a9283a</a>
<b>Author:</b> hectoraldairah &lt;<a href="mailto:hectoraldairah@protonmail.com">hectoraldairah@protonmail.com</a>&gt;
<b>Date:</b>   Fri, 10 Jun 2022 16:58:45 -0500

add favicon

<b>Diffstat:</b>
<table><tr><td class="M">M</td><td><a href="#h0">src/_includes/layouts/base.njk</a></td><td> | </td><td class="num">17</td><td><span class="i">+++++++++++++++++</span><span class="d"></span></td></tr>
<tr><td class="A">A</td><td><a href="#h1">src/assets/favicon/android-icon-144x144.png</a></td><td> | </td><td class="num">0</td><td><span class="i"></span><span class="d"></span></td></tr>
<tr><td class="A">A</td><td><a href="#h2">src/assets/favicon/android-icon-192x192.png</a></td><td> | </td><td class="num">0</td><td><span class="i"></span><span class="d"></span></td></tr>
<tr><td class="A">A</td><td><a href="#h3">src/assets/favicon/android-icon-36x36.png</a></td><td> | </td><td class="num">0</td><td><span class="i"></span><span class="d"></span></td></tr>
<tr><td class="A">A</td><td><a href="#h4">src/assets/favicon/android-icon-48x48.png</a></td><td> | </td><td class="num">0</td><td><span class="i"></span><span class="d"></span></td></tr>
<tr><td class="A">A</td><td><a href="#h5">src/assets/favicon/android-icon-72x72.png</a></td><td> | </td><td class="num">0</td><td><span class="i"></span><span class="d"></span></td></tr>
<tr><td class="A">A</td><td><a href="#h6">src/assets/favicon/android-icon-96x96.png</a></td><td> | </td><td class="num">0</td><td><span class="i"></span><span class="d"></span></td></tr>
<tr><td class="A">A</td><td><a href="#h7">src/assets/favicon/apple-icon-114x114.png</a></td><td> | </td><td class="num">0</td><td><span class="i"></span><span class="d"></span></td></tr>
<tr><td class="A">A</td><td><a href="#h8">src/assets/favicon/apple-icon-120x120.png</a></td><td> | </td><td class="num">0</td><td><span class="i"></span><span class="d"></span></td></tr>
<tr><td class="A">A</td><td><a href="#h9">src/assets/favicon/apple-icon-144x144.png</a></td><td> | </td><td class="num">0</td><td><span class="i"></span><span class="d"></span></td></tr>
<tr><td class="A">A</td><td><a href="#h10">src/assets/favicon/apple-icon-152x152.png</a></td><td> | </td><td class="num">0</td><td><span class="i"></span><span class="d"></span></td></tr>
<tr><td class="A">A</td><td><a href="#h11">src/assets/favicon/apple-icon-180x180.png</a></td><td> | </td><td class="num">0</td><td><span class="i"></span><span class="d"></span></td></tr>
<tr><td class="A">A</td><td><a href="#h12">src/assets/favicon/apple-icon-57x57.png</a></td><td> | </td><td class="num">0</td><td><span class="i"></span><span class="d"></span></td></tr>
<tr><td class="A">A</td><td><a href="#h13">src/assets/favicon/apple-icon-60x60.png</a></td><td> | </td><td class="num">0</td><td><span class="i"></span><span class="d"></span></td></tr>
<tr><td class="A">A</td><td><a href="#h14">src/assets/favicon/apple-icon-72x72.png</a></td><td> | </td><td class="num">0</td><td><span class="i"></span><span class="d"></span></td></tr>
<tr><td class="A">A</td><td><a href="#h15">src/assets/favicon/apple-icon-76x76.png</a></td><td> | </td><td class="num">0</td><td><span class="i"></span><span class="d"></span></td></tr>
<tr><td class="A">A</td><td><a href="#h16">src/assets/favicon/apple-icon-precomposed.png</a></td><td> | </td><td class="num">0</td><td><span class="i"></span><span class="d"></span></td></tr>
<tr><td class="A">A</td><td><a href="#h17">src/assets/favicon/apple-icon.png</a></td><td> | </td><td class="num">0</td><td><span class="i"></span><span class="d"></span></td></tr>
<tr><td class="A">A</td><td><a href="#h18">src/assets/favicon/browserconfig.xml</a></td><td> | </td><td class="num">3</td><td><span class="i">+++</span><span class="d"></span></td></tr>
<tr><td class="A">A</td><td><a href="#h19">src/assets/favicon/favicon-16x16.png</a></td><td> | </td><td class="num">0</td><td><span class="i"></span><span class="d"></span></td></tr>
<tr><td class="A">A</td><td><a href="#h20">src/assets/favicon/favicon-32x32.png</a></td><td> | </td><td class="num">0</td><td><span class="i"></span><span class="d"></span></td></tr>
<tr><td class="A">A</td><td><a href="#h21">src/assets/favicon/favicon-96x96.png</a></td><td> | </td><td class="num">0</td><td><span class="i"></span><span class="d"></span></td></tr>
<tr><td class="A">A</td><td><a href="#h22">src/assets/favicon/favicon.ico</a></td><td> | </td><td class="num">0</td><td><span class="i"></span><span class="d"></span></td></tr>
<tr><td class="A">A</td><td><a href="#h23">src/assets/favicon/manifest.json</a></td><td> | </td><td class="num">42</td><td><span class="i">++++++++++++++++++++++++++++++++++++++++++</span><span class="d"></span></td></tr>
<tr><td class="A">A</td><td><a href="#h24">src/assets/favicon/ms-icon-144x144.png</a></td><td> | </td><td class="num">0</td><td><span class="i"></span><span class="d"></span></td></tr>
<tr><td class="A">A</td><td><a href="#h25">src/assets/favicon/ms-icon-150x150.png</a></td><td> | </td><td class="num">0</td><td><span class="i"></span><span class="d"></span></td></tr>
<tr><td class="A">A</td><td><a href="#h26">src/assets/favicon/ms-icon-310x310.png</a></td><td> | </td><td class="num">0</td><td><span class="i"></span><span class="d"></span></td></tr>
<tr><td class="A">A</td><td><a href="#h27">src/assets/favicon/ms-icon-70x70.png</a></td><td> | </td><td class="num">0</td><td><span class="i"></span><span class="d"></span></td></tr>
</table></pre><pre>28 files changed, 62 insertions(+), 0 deletions(-)
<hr/><b>diff --git a/<a id="h0" href="../file/src/_includes/layouts/base.njk.html">src/_includes/layouts/base.njk</a> b/<a href="../file/src/_includes/layouts/base.njk.html">src/_includes/layouts/base.njk</a></b>
<a href="#h0-0" id="h0-0" class="h">@@ -9,6 +9,23 @@
</a>         &lt;style&gt;
             {% include &quot;css/critical.css&quot; %}
         &lt;/style&gt;
<a href="#h0-0-3" id="h0-0-3" class="i">+        &lt;link rel=&quot;apple-touch-icon&quot; sizes=&quot;57x57&quot; href=&quot;{{&#39;/assets/favicon/apple-icon-57x57.png&#39; | url}}&quot;&gt;
</a><a href="#h0-0-4" id="h0-0-4" class="i">+        &lt;link rel=&quot;apple-touch-icon&quot; sizes=&quot;60x60&quot; href=&quot;{{&#39;/assets/favicon/apple-icon-60x60.png&#39; | url }}&quot;&gt;
</a><a href="#h0-0-5" id="h0-0-5" class="i">+        &lt;link rel=&quot;apple-touch-icon&quot; sizes=&quot;72x72&quot; href=&quot;{{&#39;/assets/favicon/apple-icon-72x72.png&#39; | url }}&quot;&gt;
</a><a href="#h0-0-6" id="h0-0-6" class="i">+        &lt;link rel=&quot;apple-touch-icon&quot; sizes=&quot;76x76&quot; href=&quot;{{&#39;/assets/favicon/apple-icon-76x76.png&#39; | url }}&quot;&gt;
</a><a href="#h0-0-7" id="h0-0-7" class="i">+        &lt;link rel=&quot;apple-touch-icon&quot; sizes=&quot;114x114&quot; href=&quot;{{&#39;/assets/favicon/apple-icon-114x114.png&#39; | url }}&quot;&gt;
</a><a href="#h0-0-8" id="h0-0-8" class="i">+        &lt;link rel=&quot;apple-touch-icon&quot; sizes=&quot;120x120&quot; href=&quot;{{&#39;/assets/favicon/apple-icon-120x120.png&#39; | url }}&quot;&gt;
</a><a href="#h0-0-9" id="h0-0-9" class="i">+        &lt;link rel=&quot;apple-touch-icon&quot; sizes=&quot;144x144&quot; href=&quot;{{&#39;/assets/favicon/apple-icon-144x144.png&#39; | url }}&quot;&gt;
</a><a href="#h0-0-10" id="h0-0-10" class="i">+        &lt;link rel=&quot;apple-touch-icon&quot; sizes=&quot;152x152&quot; href=&quot;{{&#39;/assets/favicon/apple-icon-152x152.png&#39; | url }}&quot;&gt;
</a><a href="#h0-0-11" id="h0-0-11" class="i">+        &lt;link rel=&quot;apple-touch-icon&quot; sizes=&quot;180x180&quot; href=&quot;{{&#39;/assets/favicon/apple-icon-180x180.png&#39; | url }}&quot;&gt;
</a><a href="#h0-0-12" id="h0-0-12" class="i">+        &lt;link rel=&quot;icon&quot; type=&quot;image/png&quot; sizes=&quot;192x192&quot;  href=&quot;{{&#39;/assets/favicon/android-icon-192x192.png&#39; | url }}&quot;&gt;
</a><a href="#h0-0-13" id="h0-0-13" class="i">+        &lt;link rel=&quot;icon&quot; type=&quot;image/png&quot; sizes=&quot;32x32&quot; href=&quot;{{&#39;/assets/favicon/favicon-32x32.png&#39; | url }}&quot;&gt;
</a><a href="#h0-0-14" id="h0-0-14" class="i">+        &lt;link rel=&quot;icon&quot; type=&quot;image/png&quot; sizes=&quot;96x96&quot; href=&quot;{{&#39;/assets/favicon/favicon-96x96.png&#39; | url }}&quot;&gt;
</a><a href="#h0-0-15" id="h0-0-15" class="i">+        &lt;link rel=&quot;icon&quot; type=&quot;image/png&quot; sizes=&quot;16x16&quot; href=&quot;{{&#39;/assets/favicon/favicon-16x16.png&#39; | url }}&quot;&gt;
</a><a href="#h0-0-16" id="h0-0-16" class="i">+        &lt;link rel=&quot;manifest&quot; href=&quot;{{&#39;/assets/favicon/manifest.json&#39; | url }} &quot;&gt;
</a><a href="#h0-0-17" id="h0-0-17" class="i">+        &lt;meta name=&quot;msapplication-TileColor&quot; content=&quot;#ffffff&quot;&gt;
</a><a href="#h0-0-18" id="h0-0-18" class="i">+        &lt;meta name=&quot;msapplication-TileImage&quot; content=&quot;{{&#39;/assets/favicon/ms-icon-144x144.png&#39; | url }}&quot;&gt;
</a><a href="#h0-0-19" id="h0-0-19" class="i">+        &lt;meta name=&quot;theme-color&quot; content=&quot;#ffffff&quot;&gt;
</a> 
         {# Add facility for pages to delare an array of critical styles #}
         {% if pageCriticalStyles %}
<b>diff --git a/<a id="h1" href="../file/src/assets/favicon/android-icon-144x144.png.html">src/assets/favicon/android-icon-144x144.png</a> b/<a href="../file/src/assets/favicon/android-icon-144x144.png.html">src/assets/favicon/android-icon-144x144.png</a></b>
Binary files differ.
<b>diff --git a/<a id="h2" href="../file/src/assets/favicon/android-icon-192x192.png.html">src/assets/favicon/android-icon-192x192.png</a> b/<a href="../file/src/assets/favicon/android-icon-192x192.png.html">src/assets/favicon/android-icon-192x192.png</a></b>
Binary files differ.
<b>diff --git a/<a id="h3" href="../file/src/assets/favicon/android-icon-36x36.png.html">src/assets/favicon/android-icon-36x36.png</a> b/<a href="../file/src/assets/favicon/android-icon-36x36.png.html">src/assets/favicon/android-icon-36x36.png</a></b>
Binary files differ.
<b>diff --git a/<a id="h4" href="../file/src/assets/favicon/android-icon-48x48.png.html">src/assets/favicon/android-icon-48x48.png</a> b/<a href="../file/src/assets/favicon/android-icon-48x48.png.html">src/assets/favicon/android-icon-48x48.png</a></b>
Binary files differ.
<b>diff --git a/<a id="h5" href="../file/src/assets/favicon/android-icon-72x72.png.html">src/assets/favicon/android-icon-72x72.png</a> b/<a href="../file/src/assets/favicon/android-icon-72x72.png.html">src/assets/favicon/android-icon-72x72.png</a></b>
Binary files differ.
<b>diff --git a/<a id="h6" href="../file/src/assets/favicon/android-icon-96x96.png.html">src/assets/favicon/android-icon-96x96.png</a> b/<a href="../file/src/assets/favicon/android-icon-96x96.png.html">src/assets/favicon/android-icon-96x96.png</a></b>
Binary files differ.
<b>diff --git a/<a id="h7" href="../file/src/assets/favicon/apple-icon-114x114.png.html">src/assets/favicon/apple-icon-114x114.png</a> b/<a href="../file/src/assets/favicon/apple-icon-114x114.png.html">src/assets/favicon/apple-icon-114x114.png</a></b>
Binary files differ.
<b>diff --git a/<a id="h8" href="../file/src/assets/favicon/apple-icon-120x120.png.html">src/assets/favicon/apple-icon-120x120.png</a> b/<a href="../file/src/assets/favicon/apple-icon-120x120.png.html">src/assets/favicon/apple-icon-120x120.png</a></b>
Binary files differ.
<b>diff --git a/<a id="h9" href="../file/src/assets/favicon/apple-icon-144x144.png.html">src/assets/favicon/apple-icon-144x144.png</a> b/<a href="../file/src/assets/favicon/apple-icon-144x144.png.html">src/assets/favicon/apple-icon-144x144.png</a></b>
Binary files differ.
<b>diff --git a/<a id="h10" href="../file/src/assets/favicon/apple-icon-152x152.png.html">src/assets/favicon/apple-icon-152x152.png</a> b/<a href="../file/src/assets/favicon/apple-icon-152x152.png.html">src/assets/favicon/apple-icon-152x152.png</a></b>
Binary files differ.
<b>diff --git a/<a id="h11" href="../file/src/assets/favicon/apple-icon-180x180.png.html">src/assets/favicon/apple-icon-180x180.png</a> b/<a href="../file/src/assets/favicon/apple-icon-180x180.png.html">src/assets/favicon/apple-icon-180x180.png</a></b>
Binary files differ.
<b>diff --git a/<a id="h12" href="../file/src/assets/favicon/apple-icon-57x57.png.html">src/assets/favicon/apple-icon-57x57.png</a> b/<a href="../file/src/assets/favicon/apple-icon-57x57.png.html">src/assets/favicon/apple-icon-57x57.png</a></b>
Binary files differ.
<b>diff --git a/<a id="h13" href="../file/src/assets/favicon/apple-icon-60x60.png.html">src/assets/favicon/apple-icon-60x60.png</a> b/<a href="../file/src/assets/favicon/apple-icon-60x60.png.html">src/assets/favicon/apple-icon-60x60.png</a></b>
Binary files differ.
<b>diff --git a/<a id="h14" href="../file/src/assets/favicon/apple-icon-72x72.png.html">src/assets/favicon/apple-icon-72x72.png</a> b/<a href="../file/src/assets/favicon/apple-icon-72x72.png.html">src/assets/favicon/apple-icon-72x72.png</a></b>
Binary files differ.
<b>diff --git a/<a id="h15" href="../file/src/assets/favicon/apple-icon-76x76.png.html">src/assets/favicon/apple-icon-76x76.png</a> b/<a href="../file/src/assets/favicon/apple-icon-76x76.png.html">src/assets/favicon/apple-icon-76x76.png</a></b>
Binary files differ.
<b>diff --git a/<a id="h16" href="../file/src/assets/favicon/apple-icon-precomposed.png.html">src/assets/favicon/apple-icon-precomposed.png</a> b/<a href="../file/src/assets/favicon/apple-icon-precomposed.png.html">src/assets/favicon/apple-icon-precomposed.png</a></b>
Binary files differ.
<b>diff --git a/<a id="h17" href="../file/src/assets/favicon/apple-icon.png.html">src/assets/favicon/apple-icon.png</a> b/<a href="../file/src/assets/favicon/apple-icon.png.html">src/assets/favicon/apple-icon.png</a></b>
Binary files differ.
<b>diff --git a/<a id="h18" href="../file/src/assets/favicon/browserconfig.xml.html">src/assets/favicon/browserconfig.xml</a> b/<a href="../file/src/assets/favicon/browserconfig.xml.html">src/assets/favicon/browserconfig.xml</a></b>
<a href="#h18-0" id="h18-0" class="h">@@ -0,0 +1,2 @@
</a><a href="#h18-0-0" id="h18-0-0" class="i">+&lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-8&quot;?&gt;
</a><a href="#h18-0-1" id="h18-0-1" class="i">+&lt;browserconfig&gt;&lt;msapplication&gt;&lt;tile&gt;&lt;square70x70logo src=&quot;/ms-icon-70x70.png&quot;/&gt;&lt;square150x150logo src=&quot;/ms-icon-150x150.png&quot;/&gt;&lt;square310x310logo src=&quot;/ms-icon-310x310.png&quot;/&gt;&lt;TileColor&gt;#ffffff&lt;/TileColor&gt;&lt;/tile&gt;&lt;/msapplication&gt;&lt;/browserconfig&gt;
</a><a href="#h18-0-2" id="h18-0-2" class="i">+\ No newline at end of file
</a><b>diff --git a/<a id="h19" href="../file/src/assets/favicon/favicon-16x16.png.html">src/assets/favicon/favicon-16x16.png</a> b/<a href="../file/src/assets/favicon/favicon-16x16.png.html">src/assets/favicon/favicon-16x16.png</a></b>
Binary files differ.
<b>diff --git a/<a id="h20" href="../file/src/assets/favicon/favicon-32x32.png.html">src/assets/favicon/favicon-32x32.png</a> b/<a href="../file/src/assets/favicon/favicon-32x32.png.html">src/assets/favicon/favicon-32x32.png</a></b>
Binary files differ.
<b>diff --git a/<a id="h21" href="../file/src/assets/favicon/favicon-96x96.png.html">src/assets/favicon/favicon-96x96.png</a> b/<a href="../file/src/assets/favicon/favicon-96x96.png.html">src/assets/favicon/favicon-96x96.png</a></b>
Binary files differ.
<b>diff --git a/<a id="h22" href="../file/src/assets/favicon/favicon.ico.html">src/assets/favicon/favicon.ico</a> b/<a href="../file/src/assets/favicon/favicon.ico.html">src/assets/favicon/favicon.ico</a></b>
Binary files differ.
<b>diff --git a/<a id="h23" href="../file/src/assets/favicon/manifest.json.html">src/assets/favicon/manifest.json</a> b/<a href="../file/src/assets/favicon/manifest.json.html">src/assets/favicon/manifest.json</a></b>
<a href="#h23-0" id="h23-0" class="h">@@ -0,0 +1,41 @@
</a><a href="#h23-0-0" id="h23-0-0" class="i">+{
</a><a href="#h23-0-1" id="h23-0-1" class="i">+ &quot;name&quot;: &quot;App&quot;,
</a><a href="#h23-0-2" id="h23-0-2" class="i">+ &quot;icons&quot;: [
</a><a href="#h23-0-3" id="h23-0-3" class="i">+  {
</a><a href="#h23-0-4" id="h23-0-4" class="i">+   &quot;src&quot;: &quot;\/android-icon-36x36.png&quot;,
</a><a href="#h23-0-5" id="h23-0-5" class="i">+   &quot;sizes&quot;: &quot;36x36&quot;,
</a><a href="#h23-0-6" id="h23-0-6" class="i">+   &quot;type&quot;: &quot;image\/png&quot;,
</a><a href="#h23-0-7" id="h23-0-7" class="i">+   &quot;density&quot;: &quot;0.75&quot;
</a><a href="#h23-0-8" id="h23-0-8" class="i">+  },
</a><a href="#h23-0-9" id="h23-0-9" class="i">+  {
</a><a href="#h23-0-10" id="h23-0-10" class="i">+   &quot;src&quot;: &quot;\/android-icon-48x48.png&quot;,
</a><a href="#h23-0-11" id="h23-0-11" class="i">+   &quot;sizes&quot;: &quot;48x48&quot;,
</a><a href="#h23-0-12" id="h23-0-12" class="i">+   &quot;type&quot;: &quot;image\/png&quot;,
</a><a href="#h23-0-13" id="h23-0-13" class="i">+   &quot;density&quot;: &quot;1.0&quot;
</a><a href="#h23-0-14" id="h23-0-14" class="i">+  },
</a><a href="#h23-0-15" id="h23-0-15" class="i">+  {
</a><a href="#h23-0-16" id="h23-0-16" class="i">+   &quot;src&quot;: &quot;\/android-icon-72x72.png&quot;,
</a><a href="#h23-0-17" id="h23-0-17" class="i">+   &quot;sizes&quot;: &quot;72x72&quot;,
</a><a href="#h23-0-18" id="h23-0-18" class="i">+   &quot;type&quot;: &quot;image\/png&quot;,
</a><a href="#h23-0-19" id="h23-0-19" class="i">+   &quot;density&quot;: &quot;1.5&quot;
</a><a href="#h23-0-20" id="h23-0-20" class="i">+  },
</a><a href="#h23-0-21" id="h23-0-21" class="i">+  {
</a><a href="#h23-0-22" id="h23-0-22" class="i">+   &quot;src&quot;: &quot;\/android-icon-96x96.png&quot;,
</a><a href="#h23-0-23" id="h23-0-23" class="i">+   &quot;sizes&quot;: &quot;96x96&quot;,
</a><a href="#h23-0-24" id="h23-0-24" class="i">+   &quot;type&quot;: &quot;image\/png&quot;,
</a><a href="#h23-0-25" id="h23-0-25" class="i">+   &quot;density&quot;: &quot;2.0&quot;
</a><a href="#h23-0-26" id="h23-0-26" class="i">+  },
</a><a href="#h23-0-27" id="h23-0-27" class="i">+  {
</a><a href="#h23-0-28" id="h23-0-28" class="i">+   &quot;src&quot;: &quot;\/android-icon-144x144.png&quot;,
</a><a href="#h23-0-29" id="h23-0-29" class="i">+   &quot;sizes&quot;: &quot;144x144&quot;,
</a><a href="#h23-0-30" id="h23-0-30" class="i">+   &quot;type&quot;: &quot;image\/png&quot;,
</a><a href="#h23-0-31" id="h23-0-31" class="i">+   &quot;density&quot;: &quot;3.0&quot;
</a><a href="#h23-0-32" id="h23-0-32" class="i">+  },
</a><a href="#h23-0-33" id="h23-0-33" class="i">+  {
</a><a href="#h23-0-34" id="h23-0-34" class="i">+   &quot;src&quot;: &quot;\/android-icon-192x192.png&quot;,
</a><a href="#h23-0-35" id="h23-0-35" class="i">+   &quot;sizes&quot;: &quot;192x192&quot;,
</a><a href="#h23-0-36" id="h23-0-36" class="i">+   &quot;type&quot;: &quot;image\/png&quot;,
</a><a href="#h23-0-37" id="h23-0-37" class="i">+   &quot;density&quot;: &quot;4.0&quot;
</a><a href="#h23-0-38" id="h23-0-38" class="i">+  }
</a><a href="#h23-0-39" id="h23-0-39" class="i">+ ]
</a><a href="#h23-0-40" id="h23-0-40" class="i">+}
</a><a href="#h23-0-41" id="h23-0-41" class="i">+\ No newline at end of file
</a><b>diff --git a/<a id="h24" href="../file/src/assets/favicon/ms-icon-144x144.png.html">src/assets/favicon/ms-icon-144x144.png</a> b/<a href="../file/src/assets/favicon/ms-icon-144x144.png.html">src/assets/favicon/ms-icon-144x144.png</a></b>
Binary files differ.
<b>diff --git a/<a id="h25" href="../file/src/assets/favicon/ms-icon-150x150.png.html">src/assets/favicon/ms-icon-150x150.png</a> b/<a href="../file/src/assets/favicon/ms-icon-150x150.png.html">src/assets/favicon/ms-icon-150x150.png</a></b>
Binary files differ.
<b>diff --git a/<a id="h26" href="../file/src/assets/favicon/ms-icon-310x310.png.html">src/assets/favicon/ms-icon-310x310.png</a> b/<a href="../file/src/assets/favicon/ms-icon-310x310.png.html">src/assets/favicon/ms-icon-310x310.png</a></b>
Binary files differ.
<b>diff --git a/<a id="h27" href="../file/src/assets/favicon/ms-icon-70x70.png.html">src/assets/favicon/ms-icon-70x70.png</a> b/<a href="../file/src/assets/favicon/ms-icon-70x70.png.html">src/assets/favicon/ms-icon-70x70.png</a></b>
Binary files differ.
</pre>
</div>
</body>
</html>
