<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>remove mastodon link - bitbyte-blog - Unnamed repository; edit this file &#39;description&#39; to name the repository.
</title>
<link rel="icon" type="image/png" href="../favicon.png" />
<link rel="alternate" type="application/atom+xml" title="bitbyte-blog Atom Feed" href="../atom.xml" />
<link rel="alternate" type="application/atom+xml" title="bitbyte-blog Atom Feed (tags)" href="../tags.xml" />
<link rel="stylesheet" type="text/css" href="../style.css" />
</head>
<body>
<table><tr><td><a href="../../"><img src="../logo.png" alt="" width="32" height="32" /></a></td><td><h1>bitbyte-blog</h1><span class="desc">Unnamed repository; edit this file &#39;description&#39; to name the repository.
</span></td></tr><tr><td></td><td>
<a href="../log.html">Log</a> | <a href="../files.html">Files</a> | <a href="../refs.html">Refs</a> | <a href="../file/LICENSE.html">LICENSE</a></td></tr></table>
<hr/>
<div id="content">
<pre><b>commit</b> <a href="../commit/1d4717a181cecde4b282459d287ee0b88700f51c.html">1d4717a181cecde4b282459d287ee0b88700f51c</a>
<b>parent</b> <a href="../commit/a6c3c68684e9d3936d12cb0698b0f52559cacde8.html">a6c3c68684e9d3936d12cb0698b0f52559cacde8</a>
<b>Author:</b> hectoraldairah &lt;<a href="mailto:hectoraldairah@protonmail.com">hectoraldairah@protonmail.com</a>&gt;
<b>Date:</b>   Wed, 19 Jul 2023 18:14:55 -0600

remove mastodon link

<b>Diffstat:</b>
<table><tr><td class="M">M</td><td><a href="#h0">src/_data/social.json</a></td><td> | </td><td class="num">5</td><td><span class="i"></span><span class="d">-----</span></td></tr>
<tr><td class="M">M</td><td><a href="#h1">src/_includes/layouts/gym.njk</a></td><td> | </td><td class="num">21</td><td><span class="i">++++++++</span><span class="d">-------------</span></td></tr>
<tr><td class="M">M</td><td><a href="#h2">src/about/gym/index.md</a></td><td> | </td><td class="num">9</td><td><span class="i">+++++++++</span><span class="d"></span></td></tr>
</table></pre><pre>3 files changed, 17 insertions(+), 18 deletions(-)
<hr/><b>diff --git a/<a id="h0" href="../file/src/_data/social.json.html">src/_data/social.json</a> b/<a href="../file/src/_data/social.json.html">src/_data/social.json</a></b>
<a href="#h0-0" id="h0-0" class="h">@@ -1,11 +1,6 @@
</a> {
   &quot;items&quot;: [
     {
<a href="#h0-0-3" id="h0-0-3" class="d">-      &quot;url&quot;: &quot;https://hostux.social/@bitbyte&quot;,
</a><a href="#h0-0-4" id="h0-0-4" class="d">-      &quot;text&quot;: &quot;Mastodon&quot;,
</a><a href="#h0-0-5" id="h0-0-5" class="d">-      &quot;rel&quot;: &quot;me&quot;
</a><a href="#h0-0-6" id="h0-0-6" class="d">-    },
</a><a href="#h0-0-7" id="h0-0-7" class="d">-    {
</a>       &quot;url&quot;: &quot;https://codepen.io/hectoraldairah&quot;,
       &quot;text&quot;: &quot;Codepen&quot;
     },
<b>diff --git a/<a id="h1" href="../file/src/_includes/layouts/gym.njk.html">src/_includes/layouts/gym.njk</a> b/<a href="../file/src/_includes/layouts/gym.njk.html">src/_includes/layouts/gym.njk</a></b>
<a href="#h1-0" id="h1-0" class="h">@@ -1,18 +1,13 @@
</a> {% extends &quot;layouts/base.njk&quot; %} {% block content %}
 &lt;article class=&quot;constrained&quot;&gt;
<a href="#h1-0-2" id="h1-0-2" class="d">-    {% include &quot;partials/page-header.njk&quot; %}
</a><a href="#h1-0-3" id="h1-0-3" class="d">-    &lt;p&gt;
</a><a href="#h1-0-4" id="h1-0-4" class="d">-        This is my gym log section where I keep tracking (and hopefully)
</a><a href="#h1-0-5" id="h1-0-5" class="d">-        progress on my fitness goals.
</a><a href="#h1-0-6" id="h1-0-6" class="d">-    &lt;/p&gt;
</a><a href="#h1-0-7" id="h1-0-7" class="i">+  {% include &quot;partials/page-header.njk&quot; %}
</a><a href="#h1-0-8" id="h1-0-8" class="i">+  &lt;p&gt;
</a><a href="#h1-0-9" id="h1-0-9" class="i">+    This is my gym log section where I keep tracking (and hopefully) progress on
</a><a href="#h1-0-10" id="h1-0-10" class="i">+    my fitness goals.
</a><a href="#h1-0-11" id="h1-0-11" class="i">+  &lt;/p&gt;
</a> 
<a href="#h1-0-13" id="h1-0-13" class="d">-    &lt;section class=&quot;log-section&quot;&gt;
</a><a href="#h1-0-14" id="h1-0-14" class="d">-        &lt;img
</a><a href="#h1-0-15" id="h1-0-15" class="d">-            class=&quot;responsive-image&quot;
</a><a href="#h1-0-16" id="h1-0-16" class="d">-            src=&quot;{{&#39;/assets/images/construction.gif&#39; | url }}&quot;
</a><a href="#h1-0-17" id="h1-0-17" class="d">-            alt=&quot;Héctor Aguilar&quot;
</a><a href="#h1-0-18" id="h1-0-18" class="d">-        /&gt;
</a><a href="#h1-0-19" id="h1-0-19" class="d">-        &lt;p&gt;This section is... well you know it&lt;/p&gt;
</a><a href="#h1-0-20" id="h1-0-20" class="d">-    &lt;/section&gt;
</a><a href="#h1-0-21" id="h1-0-21" class="i">+  &lt;section class=&quot;log-section&quot;&gt;
</a><a href="#h1-0-22" id="h1-0-22" class="i">+    {{content | safe}}
</a><a href="#h1-0-23" id="h1-0-23" class="i">+  &lt;/section&gt;
</a> &lt;/article&gt;
 {% endblock %}
<b>diff --git a/<a id="h2" href="../file/src/about/gym/index.md.html">src/about/gym/index.md</a> b/<a href="../file/src/about/gym/index.md.html">src/about/gym/index.md</a></b>
<a href="#h2-0" id="h2-0" class="h">@@ -6,3 +6,12 @@ metaDesc: &#39;A gym log to keep track of my fitness progress&#39;
</a> pageHeaderTitle: &#39;Gym logs&#39;
 pageHeaderSummary: &#39;Do you even lift brah?&#39;
 ---
<a href="#h2-0-3" id="h2-0-3" class="i">+
</a><a href="#h2-0-4" id="h2-0-4" class="i">+| title     | start_time | end_time | description       | exercise_title | superset_id | exercise_notes                | set_index | set_type    | weight_kg | reps | distance_km | duration_seconds | rpe |
</a><a href="#h2-0-5" id="h2-0-5" class="i">+| --------- | ---------- | -------- | ----------------- | -------------- | ----------- | ----------------------------- | --------- | ----------- | --------- | ---- | ----------- | ---------------- | --- |
</a><a href="#h2-0-6" id="h2-0-6" class="i">+| Workout 1 | 10:00 AM   | 11:00 AM | Full body workout | Squats         | 1           | Start with light warm-up sets | 1         | Warm-up     | -         | -    | -           | -                | -   |
</a><a href="#h2-0-7" id="h2-0-7" class="i">+| Workout 1 | 10:00 AM   | 11:00 AM | Full body workout | Squats         | 1           | Increase weight gradually     | 2         | Working Set | 80        | 8    | -           | -                | -   |
</a><a href="#h2-0-8" id="h2-0-8" class="i">+| Workout 1 | 10:00 AM   | 11:00 AM | Full body workout | Squats         | 1           | Final set, push to failure    | 3         | Working Set | 90        | 6    | -           | -                | -   |
</a><a href="#h2-0-9" id="h2-0-9" class="i">+| Workout 1 | 10:00 AM   | 11:00 AM | Full body workout | Bench Press    | 1           | Start with light warm-up sets | 1         | Warm-up     | -         | -    | -           | -                | -   |
</a><a href="#h2-0-10" id="h2-0-10" class="i">+| Workout 1 | 10:00 AM   | 11:00 AM | Full body workout | Bench Press    | 1           | Increase weight gradually     | 2         | Working Set | 60        | 10   | -           | -                | -   |
</a><a href="#h2-0-11" id="h2-0-11" class="i">+| Workout 1 | 10:00 AM   | 11:00 AM | Full body workout | Bench Press    | 1           | Final set, push to failure    | 3         | Working Set | 70        | 8    | -           | -                | -   |
</a></pre>
</div>
</body>
</html>
