<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>pixel art section - bitbyte-blog - Unnamed repository; edit this file &#39;description&#39; to name the repository.
</title>
<link rel="icon" type="image/png" href="../favicon.png" />
<link rel="alternate" type="application/atom+xml" title="bitbyte-blog Atom Feed" href="../atom.xml" />
<link rel="alternate" type="application/atom+xml" title="bitbyte-blog Atom Feed (tags)" href="../tags.xml" />
<link rel="stylesheet" type="text/css" href="../style.css" />
</head>
<body>
<table><tr><td><a href="../../"><img src="../logo.png" alt="" width="32" height="32" /></a></td><td><h1>bitbyte-blog</h1><span class="desc">Unnamed repository; edit this file &#39;description&#39; to name the repository.
</span></td></tr><tr><td></td><td>
<a href="../log.html">Log</a> | <a href="../files.html">Files</a> | <a href="../refs.html">Refs</a> | <a href="../file/LICENSE.html">LICENSE</a></td></tr></table>
<hr/>
<div id="content">
<pre><b>commit</b> <a href="../commit/94483e54c1bd5ef479e52d749c02b675b2a9283a.html">94483e54c1bd5ef479e52d749c02b675b2a9283a</a>
<b>parent</b> <a href="../commit/aafea9f0c3a7f519a3680daf804b841e9e8c8052.html">aafea9f0c3a7f519a3680daf804b841e9e8c8052</a>
<b>Author:</b> hectoraldairah &lt;<a href="mailto:hectoraldairah@protonmail.com">hectoraldairah@protonmail.com</a>&gt;
<b>Date:</b>   Fri, 10 Jun 2022 15:46:52 -0500

pixel art section

<b>Diffstat:</b>
<table><tr><td class="M">M</td><td><a href="#h0">.eleventy.js</a></td><td> | </td><td class="num">62</td><td><span class="i">++++++++++++++++++++++++++++++++++++++</span><span class="d">------------------------</span></td></tr>
<tr><td class="M">M</td><td><a href="#h1">src/_includes/layouts/pixelart.njk</a></td><td> | </td><td class="num">1</td><td><span class="i"></span><span class="d">-</span></td></tr>
<tr><td class="M">M</td><td><a href="#h2">src/feed.njk</a></td><td> | </td><td class="num">9</td><td><span class="i">++++</span><span class="d">-----</span></td></tr>
<tr><td class="D">D</td><td><a href="#h3">src/pixelart/amongos/amogus.png</a></td><td> | </td><td class="num">0</td><td><span class="i"></span><span class="d"></span></td></tr>
<tr><td class="D">D</td><td><a href="#h4">src/pixelart/amongos/amongos.md</a></td><td> | </td><td class="num">10</td><td><span class="i"></span><span class="d">----------</span></td></tr>
<tr><td class="D">D</td><td><a href="#h5">src/pixelart/bug/bug.md</a></td><td> | </td><td class="num">11</td><td><span class="i"></span><span class="d">-----------</span></td></tr>
<tr><td class="D">D</td><td><a href="#h6">src/pixelart/bug/demon.gif</a></td><td> | </td><td class="num">0</td><td><span class="i"></span><span class="d"></span></td></tr>
<tr><td class="M">M</td><td><a href="#h7">src/robots.txt</a></td><td> | </td><td class="num">4</td><td><span class="i">+</span><span class="d">---</span></td></tr>
</table></pre><pre>8 files changed, 43 insertions(+), 54 deletions(-)
<hr/><b>diff --git a/<a id="h0" href="../file/.eleventy.js.html">.eleventy.js</a> b/<a href="../file/.eleventy.js.html">.eleventy.js</a></b>
<a href="#h0-0" id="h0-0" class="h">@@ -1,13 +1,16 @@
</a><a href="#h0-0-0" id="h0-0-0" class="d">-const fs = require(&quot;fs&quot;);
</a><a href="#h0-0-1" id="h0-0-1" class="i">+const fs = require(&#39;fs&#39;);
</a> 
<a href="#h0-0-3" id="h0-0-3" class="d">-const pluginImage = require(&quot;@11ty/eleventy-img&quot;);
</a><a href="#h0-0-4" id="h0-0-4" class="d">-const pluginNavigation = require(&quot;@11ty/eleventy-navigation&quot;);
</a><a href="#h0-0-5" id="h0-0-5" class="d">-const pluginRSS = require(&quot;@11ty/eleventy-plugin-rss&quot;);
</a><a href="#h0-0-6" id="h0-0-6" class="i">+const pluginImage = require(&#39;@11ty/eleventy-img&#39;);
</a><a href="#h0-0-7" id="h0-0-7" class="i">+const pluginNavigation = require(&#39;@11ty/eleventy-navigation&#39;);
</a><a href="#h0-0-8" id="h0-0-8" class="i">+const pluginRSS = require(&#39;@11ty/eleventy-plugin-rss&#39;);
</a> 
<a href="#h0-0-10" id="h0-0-10" class="d">-const filters = require(&quot;./src/utils/filters&quot;);
</a><a href="#h0-0-11" id="h0-0-11" class="d">-const markdown = require(&quot;./src/utils/markdown&quot;);
</a><a href="#h0-0-12" id="h0-0-12" class="i">+const filters = require(&#39;./src/utils/filters&#39;);
</a><a href="#h0-0-13" id="h0-0-13" class="i">+const markdown = require(&#39;./src/utils/markdown&#39;);
</a> 
<a href="#h0-0-15" id="h0-0-15" class="d">-const CONTENT_GLOBS = { post: &quot;./src/posts/**/*.md&quot;, pixelart: &quot;./src/pixelart/**/*.md&quot; };
</a><a href="#h0-0-16" id="h0-0-16" class="i">+const CONTENT_GLOBS = {
</a><a href="#h0-0-17" id="h0-0-17" class="i">+  post: &#39;./src/posts/**/*.md&#39;,
</a><a href="#h0-0-18" id="h0-0-18" class="i">+  pixelart: &#39;./src/pixelart/**/*.md&#39;,
</a><a href="#h0-0-19" id="h0-0-19" class="i">+};
</a> 
 module.exports = (config) =&gt; {
   // Plugins
<a href="#h0-1" id="h0-1" class="h">@@ -15,11 +18,11 @@ module.exports = (config) =&gt; {
</a>   config.addPlugin(pluginRSS);
 
   // Set directories to pass through to the dist folder
<a href="#h0-1-3" id="h0-1-3" class="d">-  config.addPassthroughCopy(&quot;./src/images/&quot;);
</a><a href="#h0-1-4" id="h0-1-4" class="d">-  config.addPassthroughCopy(&quot;./src/assets/&quot;);
</a><a href="#h0-1-5" id="h0-1-5" class="d">-  config.addPassthroughCopy(&quot;./src/icons/&quot;);
</a><a href="#h0-1-6" id="h0-1-6" class="d">-  config.addPassthroughCopy(&quot;./src/fonts/&quot;);
</a><a href="#h0-1-7" id="h0-1-7" class="d">-  config.addPassthroughCopy(&quot;./src/pixelart/&quot;);
</a><a href="#h0-1-8" id="h0-1-8" class="i">+  config.addPassthroughCopy(&#39;./src/images/&#39;);
</a><a href="#h0-1-9" id="h0-1-9" class="i">+  config.addPassthroughCopy(&#39;./src/assets/&#39;);
</a><a href="#h0-1-10" id="h0-1-10" class="i">+  config.addPassthroughCopy(&#39;./src/icons/&#39;);
</a><a href="#h0-1-11" id="h0-1-11" class="i">+  config.addPassthroughCopy(&#39;./src/fonts/&#39;);
</a><a href="#h0-1-12" id="h0-1-12" class="i">+  config.addPassthroughCopy(&#39;./src/pixelart/&#39;);
</a> 
   // Add filters
   Object.keys(filters).forEach((filterName) =&gt; {
<a href="#h0-2" id="h0-2" class="h">@@ -27,36 +30,47 @@ module.exports = (config) =&gt; {
</a>   });
 
   // Markdown Passing
<a href="#h0-2-3" id="h0-2-3" class="d">-  config.setLibrary(&quot;md&quot;, markdown);
</a><a href="#h0-2-4" id="h0-2-4" class="i">+  config.setLibrary(&#39;md&#39;, markdown);
</a> 
   // Returns a collection of blog posts in reverse date order
<a href="#h0-2-7" id="h0-2-7" class="d">-  config.addCollection(&quot;blog&quot;, (collection) =&gt; {
</a><a href="#h0-2-8" id="h0-2-8" class="i">+  config.addCollection(&#39;blog&#39;, (collection) =&gt; {
</a>     return [...collection.getFilteredByGlob(CONTENT_GLOBS.post)].reverse();
   });
 
<a href="#h0-2-12" id="h0-2-12" class="d">-  config.addCollection(&quot;featured&quot;, (collection) =&gt; {
</a><a href="#h0-2-13" id="h0-2-13" class="i">+  config.addCollection(&#39;featured&#39;, (collection) =&gt; {
</a>     return collection
       .getFilteredByGlob(CONTENT_GLOBS.post)
       .filter((item) =&gt; item.data.featured)
       .sort((a, b) =&gt; b.date - a.date);
   });
 
<a href="#h0-2-20" id="h0-2-20" class="d">-  config.addCollection(&quot;pixelart&quot;, (collection) =&gt; {
</a><a href="#h0-2-21" id="h0-2-21" class="d">-    return [...collection.getFilteredByGlob(CONTENT_GLOBS.pixelart)].reverse()
</a><a href="#h0-2-22" id="h0-2-22" class="i">+  config.addCollection(&#39;pixelart&#39;, (collection) =&gt; {
</a><a href="#h0-2-23" id="h0-2-23" class="i">+    return [...collection.getFilteredByGlob(CONTENT_GLOBS.pixelart)].reverse();
</a><a href="#h0-2-24" id="h0-2-24" class="i">+  });
</a><a href="#h0-2-25" id="h0-2-25" class="i">+
</a><a href="#h0-2-26" id="h0-2-26" class="i">+  config.addCollection(&#39;publish&#39;, (collection) =&gt; {
</a><a href="#h0-2-27" id="h0-2-27" class="i">+    const pixelart = [
</a><a href="#h0-2-28" id="h0-2-28" class="i">+      ...collection.getFilteredByGlob(CONTENT_GLOBS.pixelart),
</a><a href="#h0-2-29" id="h0-2-29" class="i">+    ].reverse();
</a><a href="#h0-2-30" id="h0-2-30" class="i">+    const blog = [
</a><a href="#h0-2-31" id="h0-2-31" class="i">+      ...collection.getFilteredByGlob(CONTENT_GLOBS.post),
</a><a href="#h0-2-32" id="h0-2-32" class="i">+    ].reverse();
</a><a href="#h0-2-33" id="h0-2-33" class="i">+    return [...pixelart, ...blog].reverse();
</a>   });
<a href="#h0-2-35" id="h0-2-35" class="i">+
</a>   // Tell 11ty to use the .eleventyignore and ignore our .gitignore file
   config.setUseGitIgnore(false);
 
<a href="#h0-2-39" id="h0-2-39" class="d">-  config.on(&quot;afterBuild&quot;, () =&gt; {
</a><a href="#h0-2-40" id="h0-2-40" class="d">-    const socialPreviewImagesDir = &quot;dist/assets/images/social-preview-images/&quot;;
</a><a href="#h0-2-41" id="h0-2-41" class="i">+  config.on(&#39;afterBuild&#39;, () =&gt; {
</a><a href="#h0-2-42" id="h0-2-42" class="i">+    const socialPreviewImagesDir = &#39;dist/assets/images/social-preview-images/&#39;;
</a>     fs.readdir(socialPreviewImagesDir, (err, files) =&gt; {
       if (files.length &gt; 0) {
         files.forEach((filename) =&gt; {
<a href="#h0-2-46" id="h0-2-46" class="d">-          if (filename.endsWith(&quot;.svg&quot;)) {
</a><a href="#h0-2-47" id="h0-2-47" class="i">+          if (filename.endsWith(&#39;.svg&#39;)) {
</a>             let imageUrl = socialPreviewImagesDir + filename;
             pluginImage(imageUrl, {
<a href="#h0-2-50" id="h0-2-50" class="d">-              formats: [&quot;jpeg&quot;],
</a><a href="#h0-2-51" id="h0-2-51" class="d">-              outputDir: &quot;./&quot; + socialPreviewImagesDir,
</a><a href="#h0-2-52" id="h0-2-52" class="i">+              formats: [&#39;jpeg&#39;],
</a><a href="#h0-2-53" id="h0-2-53" class="i">+              outputDir: &#39;./&#39; + socialPreviewImagesDir,
</a>               filenameFormat: function (id, src, width, format, options) {
                 let outputFilename = filename.substring(0, filename.length - 4);
 
<a href="#h0-3" id="h0-3" class="h">@@ -71,8 +85,8 @@ module.exports = (config) =&gt; {
</a> 
   return {
     dir: {
<a href="#h0-3-3" id="h0-3-3" class="d">-      input: &quot;src&quot;,
</a><a href="#h0-3-4" id="h0-3-4" class="d">-      output: &quot;dist&quot;,
</a><a href="#h0-3-5" id="h0-3-5" class="i">+      input: &#39;src&#39;,
</a><a href="#h0-3-6" id="h0-3-6" class="i">+      output: &#39;dist&#39;,
</a>     },
   };
 };
<b>diff --git a/<a id="h1" href="../file/src/_includes/layouts/pixelart.njk.html">src/_includes/layouts/pixelart.njk</a> b/<a href="../file/src/_includes/layouts/pixelart.njk.html">src/_includes/layouts/pixelart.njk</a></b>
<a href="#h1-0" id="h1-0" class="h">@@ -10,6 +10,5 @@
</a>       {% include &quot;partials/page-header.njk&quot; %}
       {% include &quot;partials/pixelart-list.njk&quot; %}
     &lt;/div&gt;
<a href="#h1-0-3" id="h1-0-3" class="d">-    {{ pixelArtItems | log }}
</a>   &lt;/article&gt;
 {% endblock %}
<b>diff --git a/<a id="h2" href="../file/src/feed.njk.html">src/feed.njk</a> b/<a href="../file/src/feed.njk.html">src/feed.njk</a></b>
<a href="#h2-0" id="h2-0" class="h">@@ -11,11 +11,11 @@ eleventyExcludeFromCollections: true
</a>     &lt;author&gt;
         &lt;name&gt;{{ author.name }}&lt;/name&gt;
     &lt;/author&gt;
<a href="#h2-0-3" id="h2-0-3" class="d">-    {% if collections.blog %}
</a><a href="#h2-0-4" id="h2-0-4" class="d">-        &lt;updated&gt;{{ collections.blog | rssLastUpdatedDate }}&lt;/updated&gt;
</a><a href="#h2-0-5" id="h2-0-5" class="i">+    {% if collections.publish %}
</a><a href="#h2-0-6" id="h2-0-6" class="i">+        &lt;updated&gt;{{ collections.publish | rssLastUpdatedDate }}&lt;/updated&gt;
</a>     {% endif %}
     &lt;id&gt;{{ site.url }}/&lt;/id&gt;
<a href="#h2-0-9" id="h2-0-9" class="d">-    {%- for post in collections.blog | reverse -%}
</a><a href="#h2-0-10" id="h2-0-10" class="i">+    {%- for post in collections.publish | reverse -%}
</a>         {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(site.url) }}{% endset %}
         &lt;entry&gt;
             &lt;title&gt;{{ post.data.title }}&lt;/title&gt;
<a href="#h2-1" id="h2-1" class="h">@@ -29,4 +29,4 @@ eleventyExcludeFromCollections: true
</a>             &lt;/content&gt;
         &lt;/entry&gt;
     {%- endfor -%}
<a href="#h2-1-3" id="h2-1-3" class="d">-&lt;/feed&gt;
</a><a href="#h2-1-4" id="h2-1-4" class="d">-\ No newline at end of file
</a><a href="#h2-1-5" id="h2-1-5" class="i">+&lt;/feed&gt;
</a><b>diff --git a/<a id="h3" href="../file/src/pixelart/amongos/amogus.png.html">src/pixelart/amongos/amogus.png</a> b/<a href="../file/src/pixelart/amongos/amogus.png.html">src/pixelart/amongos/amogus.png</a></b>
Binary files differ.
<b>diff --git a/<a id="h4" href="../file/src/pixelart/amongos/amongos.md.html">src/pixelart/amongos/amongos.md</a> b/<a href="../file/src/pixelart/amongos/amongos.md.html">src/pixelart/amongos/amongos.md</a></b>
<a href="#h4-0" id="h4-0" class="h">@@ -1,10 +0,0 @@
</a><a href="#h4-0-0" id="h4-0-0" class="d">----
</a><a href="#h4-0-1" id="h4-0-1" class="d">-title: &quot;Amongos&quot;
</a><a href="#h4-0-2" id="h4-0-2" class="d">-date: 2022-12-08
</a><a href="#h4-0-3" id="h4-0-3" class="d">-tags: [&quot;PixelArt&quot;]
</a><a href="#h4-0-4" id="h4-0-4" class="d">-description: &quot;Don&#39;t say it, don&#39;t say it, don&#39;t say it&quot;
</a><a href="#h4-0-5" id="h4-0-5" class="d">-image: amogus.png
</a><a href="#h4-0-6" id="h4-0-6" class="d">-dir: amongos
</a><a href="#h4-0-7" id="h4-0-7" class="d">----
</a><a href="#h4-0-8" id="h4-0-8" class="d">-
</a><a href="#h4-0-9" id="h4-0-9" class="d">-
</a><b>diff --git a/<a id="h5" href="../file/src/pixelart/bug/bug.md.html">src/pixelart/bug/bug.md</a> b/<a href="../file/src/pixelart/bug/bug.md.html">src/pixelart/bug/bug.md</a></b>
<a href="#h5-0" id="h5-0" class="h">@@ -1,11 +0,0 @@
</a><a href="#h5-0-0" id="h5-0-0" class="d">----
</a><a href="#h5-0-1" id="h5-0-1" class="d">-title: &quot;Bug&quot;
</a><a href="#h5-0-2" id="h5-0-2" class="d">-date: 2022-06-09
</a><a href="#h5-0-3" id="h5-0-3" class="d">-tags: [&quot;PixelArt&quot;]
</a><a href="#h5-0-4" id="h5-0-4" class="d">-description: &quot;I found a bug in my code&quot;
</a><a href="#h5-0-5" id="h5-0-5" class="d">-image: demon.gif
</a><a href="#h5-0-6" id="h5-0-6" class="d">-dir: bug
</a><a href="#h5-0-7" id="h5-0-7" class="d">----
</a><a href="#h5-0-8" id="h5-0-8" class="d">-
</a><a href="#h5-0-9" id="h5-0-9" class="d">-This is my little friend
</a><a href="#h5-0-10" id="h5-0-10" class="d">-
</a><b>diff --git a/<a id="h6" href="../file/src/pixelart/bug/demon.gif.html">src/pixelart/bug/demon.gif</a> b/<a href="../file/src/pixelart/bug/demon.gif.html">src/pixelart/bug/demon.gif</a></b>
Binary files differ.
<b>diff --git a/<a id="h7" href="../file/src/robots.txt.html">src/robots.txt</a> b/<a href="../file/src/robots.txt.html">src/robots.txt</a></b>
<a href="#h7-0" id="h7-0" class="h">@@ -1,5 +1,4 @@
</a><a href="#h7-0-0" id="h7-0-0" class="d">-
</a> Sitemap: https://bitbyte.blog/sitemap.xml
 
 User-agent: *
<a href="#h7-0-4" id="h7-0-4" class="d">-Disallow:
</a><a href="#h7-0-5" id="h7-0-5" class="d">-\ No newline at end of file
</a><a href="#h7-0-6" id="h7-0-6" class="i">+Disallow:
</a></pre>
</div>
</body>
</html>
