<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Add new theme selector UI - bitbyte-blog - my little corner on the web
</title>
<link rel="icon" type="image/png" href="../favicon.png" />
<link rel="alternate" type="application/atom+xml" title="bitbyte-blog Atom Feed" href="../atom.xml" />
<link rel="alternate" type="application/atom+xml" title="bitbyte-blog Atom Feed (tags)" href="../tags.xml" />
<link rel="stylesheet" type="text/css" href="../style.css" />
</head>
<body>
<table><tr><td><a href="../../"><img src="../logo.png" alt="" width="32" height="32" /></a></td><td><h1>bitbyte-blog</h1><span class="desc">my little corner on the web
</span></td></tr><tr><td></td><td>
<a href="../log.html">Log</a> | <a href="../files.html">Files</a> | <a href="../refs.html">Refs</a> | <a href="../file/LICENSE.html">LICENSE</a></td></tr></table>
<hr/>
<div id="content">
<pre><b>commit</b> <a href="../commit/a5bde7a4ebcbe809afeb64f2d2a8f3f81dc261a5.html">a5bde7a4ebcbe809afeb64f2d2a8f3f81dc261a5</a>
<b>parent</b> <a href="../commit/876fb7ebb47e46925bdca1bb824900e922f78630.html">876fb7ebb47e46925bdca1bb824900e922f78630</a>
<b>Author:</b> hectoraldairah &lt;<a href="mailto:hectoraldairah@protonmail.com">hectoraldairah@protonmail.com</a>&gt;
<b>Date:</b>   Thu, 17 Nov 2022 17:38:17 -0600

Add new theme selector UI

<b>Diffstat:</b>
<table><tr><td class="M">M</td><td><a href="#h0">src/_includes/partials/site-head.njk</a></td><td> | </td><td class="num">13</td><td><span class="i">+++++++</span><span class="d">------</span></td></tr>
</table></pre><pre>1 file changed, 7 insertions(+), 6 deletions(-)
<hr/><b>diff --git a/<a id="h0" href="../file/src/_includes/partials/site-head.njk.html">src/_includes/partials/site-head.njk</a> b/<a href="../file/src/_includes/partials/site-head.njk.html">src/_includes/partials/site-head.njk</a></b>
<a href="#h0-0" id="h0-0" class="h">@@ -1,12 +1,13 @@
</a> &lt;header role=&quot;banner&quot; class=&quot;site-head&quot;&gt;
   &lt;div class=&quot;wrapper&quot;&gt;
     &lt;div class=&quot;site-head__inner&quot;&gt;
<a href="#h0-0-3" id="h0-0-3" class="d">-      &lt;select name=&quot;themes&quot; id=&quot;themes&quot; onchange=&quot;changeTheme()&quot;&gt;
</a><a href="#h0-0-4" id="h0-0-4" class="d">-        &lt;option value=&quot;light&quot;&gt;light&lt;/option&gt;
</a><a href="#h0-0-5" id="h0-0-5" class="d">-        &lt;option value=&quot;dark&quot;&gt;dark&lt;/option&gt;
</a><a href="#h0-0-6" id="h0-0-6" class="d">-        &lt;option value=&quot;autum&quot;&gt;autum&lt;/option&gt;
</a><a href="#h0-0-7" id="h0-0-7" class="d">-        &lt;option value=&quot;ink&quot;&gt;ink&lt;/option&gt;
</a><a href="#h0-0-8" id="h0-0-8" class="d">-      &lt;/select&gt;
</a><a href="#h0-0-9" id="h0-0-9" class="i">+      &lt;div class=&quot;site-head__inner__themes&quot;&gt;
</a><a href="#h0-0-10" id="h0-0-10" class="i">+        &lt;ul id=&quot;themes&quot;&gt;
</a><a href="#h0-0-11" id="h0-0-11" class="i">+          {% for item in themes.item %}
</a><a href="#h0-0-12" id="h0-0-12" class="i">+          &lt;li&gt;&lt;span id=&quot;{{ item.name }}&quot; class=&quot;[ circle {{ item.color }} ]&quot;&gt;&lt;/span&gt;&lt;/li&gt;
</a><a href="#h0-0-13" id="h0-0-13" class="i">+          {% endfor %}
</a><a href="#h0-0-14" id="h0-0-14" class="i">+        &lt;/ul&gt;
</a><a href="#h0-0-15" id="h0-0-15" class="i">+      &lt;/div&gt;
</a>       &lt;nav class=&quot;[ nav ] [ site-head__nav ]&quot; aria-label=&quot;Primary&quot;&gt;
         &lt;ul class=&quot;nav__list&quot;&gt;
           {% for item in collections.all | eleventyNavigation %}
</pre>
</div>
</body>
</html>
