<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Saved audio - bitbyte-blog - Unnamed repository; edit this file &#39;description&#39; to name the repository.
</title>
<link rel="icon" type="image/png" href="../favicon.png" />
<link rel="alternate" type="application/atom+xml" title="bitbyte-blog Atom Feed" href="../atom.xml" />
<link rel="alternate" type="application/atom+xml" title="bitbyte-blog Atom Feed (tags)" href="../tags.xml" />
<link rel="stylesheet" type="text/css" href="../style.css" />
</head>
<body>
<table><tr><td><a href="../../"><img src="../logo.png" alt="" width="32" height="32" /></a></td><td><h1>bitbyte-blog</h1><span class="desc">Unnamed repository; edit this file &#39;description&#39; to name the repository.
</span></td></tr><tr><td></td><td>
<a href="../log.html">Log</a> | <a href="../files.html">Files</a> | <a href="../refs.html">Refs</a> | <a href="../file/LICENSE.html">LICENSE</a></td></tr></table>
<hr/>
<div id="content">
<pre><b>commit</b> <a href="../commit/a80e285aff51e4625002e8cc601ea009e4638edb.html">a80e285aff51e4625002e8cc601ea009e4638edb</a>
<b>parent</b> <a href="../commit/bfeb991ab988eb825acd3b72a6aa7bb0a1b988e5.html">bfeb991ab988eb825acd3b72a6aa7bb0a1b988e5</a>
<b>Author:</b> hectoraldairah &lt;<a href="mailto:hectoraldairah@protonmail.com">hectoraldairah@protonmail.com</a>&gt;
<b>Date:</b>   Fri,  6 Sep 2024 00:02:09 -0600

Saved audio

<b>Diffstat:</b>
<table><tr><td class="M">M</td><td><a href="#h0">src/_includes/layouts/base.njk</a></td><td> | </td><td class="num">16</td><td><span class="i">++++++++++++++++</span><span class="d"></span></td></tr>
<tr><td class="A">A</td><td><a href="#h1">src/assets/sounds/Beep 99630.mp3</a></td><td> | </td><td class="num">0</td><td><span class="i"></span><span class="d"></span></td></tr>
</table></pre><pre>2 files changed, 16 insertions(+), 0 deletions(-)
<hr/><b>diff --git a/<a id="h0" href="../file/src/_includes/layouts/base.njk.html">src/_includes/layouts/base.njk</a> b/<a href="../file/src/_includes/layouts/base.njk.html">src/_includes/layouts/base.njk</a></b>
<a href="#h0-0" id="h0-0" class="h">@@ -51,6 +51,8 @@
</a> 
     &lt;/head&gt;
     &lt;body&gt;
<a href="#h0-0-3" id="h0-0-3" class="i">+
</a><a href="#h0-0-4" id="h0-0-4" class="i">+      &lt;audio id=&quot;clickSound&quot; src=&quot;../../assets/sounds/Beep 99630.mp3&quot; preload=&quot;auto&quot;&gt;&lt;/audio&gt;
</a>       &lt;div class=&quot;after-body&quot;&gt;
         {% include &quot;partials/site-head.njk&quot; %}
         {% include &quot;partials/site-title.njk&quot; %}
<a href="#h0-1" id="h0-1" class="h">@@ -63,4 +65,18 @@
</a>         {% include &quot;partials/footer.njk&quot; %}
       &lt;/div&gt;
     &lt;/body&gt;
<a href="#h0-1-3" id="h0-1-3" class="i">+    &lt;script defer&gt;
</a><a href="#h0-1-4" id="h0-1-4" class="i">+document.addEventListener(&#39;DOMContentLoaded&#39;, (event) =&gt; {
</a><a href="#h0-1-5" id="h0-1-5" class="i">+
</a><a href="#h0-1-6" id="h0-1-6" class="i">+  const focusSound = new Audio(&#39;../../assets/sounds/Beep 99630.mp3&#39;);
</a><a href="#h0-1-7" id="h0-1-7" class="i">+  focusSound.preload = &#39;auto&#39;;
</a><a href="#h0-1-8" id="h0-1-8" class="i">+
</a><a href="#h0-1-9" id="h0-1-9" class="i">+ const playFocusSound = () =&gt; {
</a><a href="#h0-1-10" id="h0-1-10" class="i">+    focusSound.play();
</a><a href="#h0-1-11" id="h0-1-11" class="i">+  };
</a><a href="#h0-1-12" id="h0-1-12" class="i">+  document.addEventListener(&#39;focus&#39;, (event) =&gt; {
</a><a href="#h0-1-13" id="h0-1-13" class="i">+    playFocusSound();
</a><a href="#h0-1-14" id="h0-1-14" class="i">+  }, true);
</a><a href="#h0-1-15" id="h0-1-15" class="i">+});
</a><a href="#h0-1-16" id="h0-1-16" class="i">+    &lt;/script&gt;
</a> &lt;/html&gt;
<b>diff --git a/<a id="h1" href="../file/src/assets/sounds/Beep%2099630.mp3.html">src/assets/sounds/Beep 99630.mp3</a> b/<a href="../file/src/assets/sounds/Beep%2099630.mp3.html">src/assets/sounds/Beep 99630.mp3</a></b>
Binary files differ.
</pre>
</div>
</body>
</html>
