<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Add Ghost Love pixel Art - bitbyte-blog - Unnamed repository; edit this file &#39;description&#39; to name the repository.
</title>
<link rel="icon" type="image/png" href="../favicon.png" />
<link rel="alternate" type="application/atom+xml" title="bitbyte-blog Atom Feed" href="../atom.xml" />
<link rel="alternate" type="application/atom+xml" title="bitbyte-blog Atom Feed (tags)" href="../tags.xml" />
<link rel="stylesheet" type="text/css" href="../style.css" />
</head>
<body>
<table><tr><td><a href="../../"><img src="../logo.png" alt="" width="32" height="32" /></a></td><td><h1>bitbyte-blog</h1><span class="desc">Unnamed repository; edit this file &#39;description&#39; to name the repository.
</span></td></tr><tr><td></td><td>
<a href="../log.html">Log</a> | <a href="../files.html">Files</a> | <a href="../refs.html">Refs</a> | <a href="../file/LICENSE.html">LICENSE</a></td></tr></table>
<hr/>
<div id="content">
<pre><b>commit</b> <a href="../commit/aafea9f0c3a7f519a3680daf804b841e9e8c8052.html">aafea9f0c3a7f519a3680daf804b841e9e8c8052</a>
<b>parent</b> <a href="../commit/f5aeb855d7c61a1999172d20d5506406fba1048e.html">f5aeb855d7c61a1999172d20d5506406fba1048e</a>
<b>Author:</b> hectoraldairah &lt;<a href="mailto:hectoraldairah@protonmail.com">hectoraldairah@protonmail.com</a>&gt;
<b>Date:</b>   Fri, 10 Jun 2022 14:58:01 -0500

Add Ghost Love pixel Art

<b>Diffstat:</b>
<table><tr><td class="M">M</td><td><a href="#h0">.eleventy.js</a></td><td> | </td><td class="num">1</td><td><span class="i">+</span><span class="d"></span></td></tr>
<tr><td class="M">M</td><td><a href="#h1">gulp-tasks/sass.js</a></td><td> | </td><td class="num">27</td><td><span class="i">++++++++++++++</span><span class="d">-------------</span></td></tr>
<tr><td class="M">M</td><td><a href="#h2">src/_data/navigation.json</a></td><td> | </td><td class="num">7</td><td><span class="i">+++++</span><span class="d">--</span></td></tr>
<tr><td class="A">A</td><td><a href="#h3">src/_includes/css/pixelart-gallery.css</a></td><td> | </td><td class="num">2</td><td><span class="i">++</span><span class="d"></span></td></tr>
<tr><td class="A">A</td><td><a href="#h4">src/_includes/layouts/pixelart-post.njk</a></td><td> | </td><td class="num">32</td><td><span class="i">++++++++++++++++++++++++++++++++</span><span class="d"></span></td></tr>
<tr><td class="M">M</td><td><a href="#h5">src/_includes/layouts/pixelart.njk</a></td><td> | </td><td class="num">11</td><td><span class="i">++++++</span><span class="d">-----</span></td></tr>
<tr><td class="M">M</td><td><a href="#h6">src/_includes/partials/pixelart-list.njk</a></td><td> | </td><td class="num">8</td><td><span class="i">++++++</span><span class="d">--</span></td></tr>
<tr><td class="M">M</td><td><a href="#h7">src/about/index.md</a></td><td> | </td><td class="num">5</td><td><span class="i">++</span><span class="d">---</span></td></tr>
<tr><td class="M">M</td><td><a href="#h8">src/pixelart.md</a></td><td> | </td><td class="num">5</td><td><span class="i">++++</span><span class="d">-</span></td></tr>
<tr><td class="A">A</td><td><a href="#h9">src/pixelart/amongos/amogus.png</a></td><td> | </td><td class="num">0</td><td><span class="i"></span><span class="d"></span></td></tr>
<tr><td class="A">A</td><td><a href="#h10">src/pixelart/amongos/amongos.md</a></td><td> | </td><td class="num">10</td><td><span class="i">++++++++++</span><span class="d"></span></td></tr>
<tr><td class="A">A</td><td><a href="#h11">src/pixelart/bug/bug.md</a></td><td> | </td><td class="num">11</td><td><span class="i">+++++++++++</span><span class="d"></span></td></tr>
<tr><td class="A">A</td><td><a href="#h12">src/pixelart/bug/demon.gif</a></td><td> | </td><td class="num">0</td><td><span class="i"></span><span class="d"></span></td></tr>
<tr><td class="M">M</td><td><a href="#h13">src/pixelart/ghost-love/ghost-love.md</a></td><td> | </td><td class="num">33</td><td><span class="i">+++++++++++++++++++++++++++++++</span><span class="d">--</span></td></tr>
<tr><td class="A">A</td><td><a href="#h14">src/pixelart/pixelart.json</a></td><td> | </td><td class="num">4</td><td><span class="i">++++</span><span class="d"></span></td></tr>
<tr><td class="M">M</td><td><a href="#h15">src/scss/about.scss</a></td><td> | </td><td class="num">1</td><td><span class="i"></span><span class="d">-</span></td></tr>
<tr><td class="D">D</td><td><a href="#h16">src/scss/blocks/_gallery-frame.scss</a></td><td> | </td><td class="num">4</td><td><span class="i"></span><span class="d">----</span></td></tr>
<tr><td class="D">D</td><td><a href="#h17">src/scss/blocks/_gallery.scss</a></td><td> | </td><td class="num">5</td><td><span class="i"></span><span class="d">-----</span></td></tr>
<tr><td class="A">A</td><td><a href="#h18">src/scss/blocks/_pixelart-grid.scss</a></td><td> | </td><td class="num">14</td><td><span class="i">++++++++++++++</span><span class="d"></span></td></tr>
<tr><td class="M">M</td><td><a href="#h19">src/scss/critical.scss</a></td><td> | </td><td class="num">1</td><td><span class="i">+</span><span class="d"></span></td></tr>
<tr><td class="M">M</td><td><a href="#h20">src/scss/page.scss</a></td><td> | </td><td class="num">1</td><td><span class="i">+</span><span class="d"></span></td></tr>
<tr><td class="A">A</td><td><a href="#h21">src/scss/pixelart-gallery.scss</a></td><td> | </td><td class="num">10</td><td><span class="i">++++++++++</span><span class="d"></span></td></tr>
</table></pre><pre>22 files changed, 154 insertions(+), 38 deletions(-)
<hr/><b>diff --git a/<a id="h0" href="../file/.eleventy.js.html">.eleventy.js</a> b/<a href="../file/.eleventy.js.html">.eleventy.js</a></b>
<a href="#h0-0" id="h0-0" class="h">@@ -19,6 +19,7 @@ module.exports = (config) =&gt; {
</a>   config.addPassthroughCopy(&quot;./src/assets/&quot;);
   config.addPassthroughCopy(&quot;./src/icons/&quot;);
   config.addPassthroughCopy(&quot;./src/fonts/&quot;);
<a href="#h0-0-3" id="h0-0-3" class="i">+  config.addPassthroughCopy(&quot;./src/pixelart/&quot;);
</a> 
   // Add filters
   Object.keys(filters).forEach((filterName) =&gt; {
<b>diff --git a/<a id="h1" href="../file/gulp-tasks/sass.js.html">gulp-tasks/sass.js</a> b/<a href="../file/gulp-tasks/sass.js.html">gulp-tasks/sass.js</a></b>
<a href="#h1-0" id="h1-0" class="h">@@ -1,26 +1,27 @@
</a><a href="#h1-0-0" id="h1-0-0" class="d">-const { dest, src } = require(&quot;gulp&quot;);
</a><a href="#h1-0-1" id="h1-0-1" class="d">-const cleanCSS = require(&quot;gulp-clean-css&quot;);
</a><a href="#h1-0-2" id="h1-0-2" class="d">-const sassProcessor = require(&quot;gulp-sass&quot;);
</a><a href="#h1-0-3" id="h1-0-3" class="i">+const { dest, src } = require(&#39;gulp&#39;);
</a><a href="#h1-0-4" id="h1-0-4" class="i">+const cleanCSS = require(&#39;gulp-clean-css&#39;);
</a><a href="#h1-0-5" id="h1-0-5" class="i">+const sassProcessor = require(&#39;gulp-sass&#39;);
</a> 
 // We want to be using canonical Sass, rather than node-sass
<a href="#h1-0-8" id="h1-0-8" class="d">-sassProcessor.compiler = require(&quot;sass&quot;);
</a><a href="#h1-0-9" id="h1-0-9" class="i">+sassProcessor.compiler = require(&#39;sass&#39;);
</a> 
 // Flags whether we compress the output etc
<a href="#h1-0-12" id="h1-0-12" class="d">-const isProduction = process.env.NODE_ENV === &quot;production&quot;;
</a><a href="#h1-0-13" id="h1-0-13" class="i">+const isProduction = process.env.NODE_ENV === &#39;production&#39;;
</a> 
 // An array of outputs that should be sent over to includes
 const criticalStyles = [
<a href="#h1-0-17" id="h1-0-17" class="d">-  &quot;critical.scss&quot;,
</a><a href="#h1-0-18" id="h1-0-18" class="d">-  &quot;home.scss&quot;,
</a><a href="#h1-0-19" id="h1-0-19" class="d">-  &quot;page.scss&quot;,
</a><a href="#h1-0-20" id="h1-0-20" class="d">-  &quot;about.scss&quot;,
</a><a href="#h1-0-21" id="h1-0-21" class="i">+  &#39;critical.scss&#39;,
</a><a href="#h1-0-22" id="h1-0-22" class="i">+  &#39;home.scss&#39;,
</a><a href="#h1-0-23" id="h1-0-23" class="i">+  &#39;page.scss&#39;,
</a><a href="#h1-0-24" id="h1-0-24" class="i">+  &#39;about.scss&#39;,
</a><a href="#h1-0-25" id="h1-0-25" class="i">+  &#39;pixelart-gallery.scss&#39;,
</a> ];
 
 // Takes the arguments passed by `dest` and determines where the output file goes
 const calculateOutput = ({ history }) =&gt; {
   // By default, we want a CSS file in our dist directory, so the
   // HTML can grab it with a &lt;link /&gt;
<a href="#h1-0-32" id="h1-0-32" class="d">-  let response = &quot;./dist/css&quot;;
</a><a href="#h1-0-33" id="h1-0-33" class="i">+  let response = &#39;./dist/css&#39;;
</a> 
   // Get everything after the last slash
   const sourceFileName = /[^/]*$/.exec(history[0])[0];
<a href="#h1-1" id="h1-1" class="h">@@ -29,15 +30,15 @@ const calculateOutput = ({ history }) =&gt; {
</a>   // to the _includes directory, so nunjucks can include it
   // directly in a &lt;style&gt;
   if (criticalStyles.includes(sourceFileName)) {
<a href="#h1-1-3" id="h1-1-3" class="d">-    response = &quot;./src/_includes/css&quot;;
</a><a href="#h1-1-4" id="h1-1-4" class="i">+    response = &#39;./src/_includes/css&#39;;
</a>   }
 
   return response;
 };
 
 const sass = () =&gt; {
<a href="#h1-1-11" id="h1-1-11" class="d">-  return src(&quot;./src/scss/*.scss&quot;)
</a><a href="#h1-1-12" id="h1-1-12" class="d">-    .pipe(sassProcessor().on(&quot;error&quot;, sassProcessor.logError))
</a><a href="#h1-1-13" id="h1-1-13" class="i">+  return src(&#39;./src/scss/*.scss&#39;)
</a><a href="#h1-1-14" id="h1-1-14" class="i">+    .pipe(sassProcessor().on(&#39;error&#39;, sassProcessor.logError))
</a>     .pipe(
       cleanCSS(
         isProduction
<b>diff --git a/<a id="h2" href="../file/src/_data/navigation.json.html">src/_data/navigation.json</a> b/<a href="../file/src/_data/navigation.json.html">src/_data/navigation.json</a></b>
<a href="#h2-0" id="h2-0" class="h">@@ -9,8 +9,12 @@
</a>         &quot;url&quot;: &quot;/blog/&quot;
       },
       {
<a href="#h2-0-3" id="h2-0-3" class="i">+        &quot;text&quot;:&quot;pixel art&quot;,
</a><a href="#h2-0-4" id="h2-0-4" class="i">+        &quot;url&quot;: &quot;/pixelart&quot;
</a><a href="#h2-0-5" id="h2-0-5" class="i">+      },
</a><a href="#h2-0-6" id="h2-0-6" class="i">+      {
</a>         &quot;text&quot;: &quot;about&quot;,
         &quot;url&quot;: &quot;/about/&quot;
       }
     ]
<a href="#h2-0-11" id="h2-0-11" class="d">-  }
</a><a href="#h2-0-12" id="h2-0-12" class="d">-\ No newline at end of file
</a><a href="#h2-0-13" id="h2-0-13" class="i">+  }
</a><b>diff --git a/<a id="h3" href="../file/src/_includes/css/pixelart-gallery.css.html">src/_includes/css/pixelart-gallery.css</a> b/<a href="../file/src/_includes/css/pixelart-gallery.css.html">src/_includes/css/pixelart-gallery.css</a></b>
<a href="#h3-0" id="h3-0" class="h">@@ -0,0 +1 @@
</a><a href="#h3-0-0" id="h3-0-0" class="i">+.pixelart-grid{display:grid;grid-template-columns:repeat(3,1fr);grid-template-rows:auto;gap:1rem}.pixelart-card{display:flex;flex-direction:column;justify-content:center;align-items:center;gap:1rem}
</a><a href="#h3-0-1" id="h3-0-1" class="i">+\ No newline at end of file
</a><b>diff --git a/<a id="h4" href="../file/src/_includes/layouts/pixelart-post.njk.html">src/_includes/layouts/pixelart-post.njk</a> b/<a href="../file/src/_includes/layouts/pixelart-post.njk.html">src/_includes/layouts/pixelart-post.njk</a></b>
<a href="#h4-0" id="h4-0" class="h">@@ -0,0 +1,32 @@
</a><a href="#h4-0-0" id="h4-0-0" class="i">+{% extends &quot;layouts/base.njk&quot; %}
</a><a href="#h4-0-1" id="h4-0-1" class="i">+
</a><a href="#h4-0-2" id="h4-0-2" class="i">+{% set pageCriticalStyles = [&#39;css/page.css&#39;] %}
</a><a href="#h4-0-3" id="h4-0-3" class="i">+
</a><a href="#h4-0-4" id="h4-0-4" class="i">+{% set pageHeaderTitle = title %}
</a><a href="#h4-0-5" id="h4-0-5" class="i">+
</a><a href="#h4-0-6" id="h4-0-6" class="i">+{% set pageHeaderSummary %}
</a><a href="#h4-0-7" id="h4-0-7" class="i">+&lt;div style=&quot;margin-top: -1rem; margin-bottom: 1rem&quot;&gt;{{description}}&lt;/div&gt;
</a><a href="#h4-0-8" id="h4-0-8" class="i">+{% if tags %}
</a><a href="#h4-0-9" id="h4-0-9" class="i">+    &lt;div class=&quot;constrained&quot;&gt;
</a><a href="#h4-0-10" id="h4-0-10" class="i">+        &lt;ul class=&quot;[ tags-list ]&quot; aria-describedby=&quot;tags-desc&quot;&gt;
</a><a href="#h4-0-11" id="h4-0-11" class="i">+            {% for tag in tags %}
</a><a href="#h4-0-12" id="h4-0-12" class="i">+                &lt;li&gt;
</a><a href="#h4-0-13" id="h4-0-13" class="i">+                    &lt;a href=&quot;/tag/{{ tag | slug }}/&quot;&gt;#{{ tag | title | replace(&#39; &#39;, &#39;&#39;) }}&lt;/a&gt;
</a><a href="#h4-0-14" id="h4-0-14" class="i">+                &lt;/li&gt;
</a><a href="#h4-0-15" id="h4-0-15" class="i">+            {% endfor %}
</a><a href="#h4-0-16" id="h4-0-16" class="i">+        &lt;/ul&gt;
</a><a href="#h4-0-17" id="h4-0-17" class="i">+    &lt;/div&gt;
</a><a href="#h4-0-18" id="h4-0-18" class="i">+{% endif %}
</a><a href="#h4-0-19" id="h4-0-19" class="i">+{% endset %}
</a><a href="#h4-0-20" id="h4-0-20" class="i">+
</a><a href="#h4-0-21" id="h4-0-21" class="i">+
</a><a href="#h4-0-22" id="h4-0-22" class="i">+{% block content %}
</a><a href="#h4-0-23" id="h4-0-23" class="i">+  {% include &quot;partials/page-header.njk&quot; %}
</a><a href="#h4-0-24" id="h4-0-24" class="i">+  &lt;article class=&quot;constrained&quot;&gt;
</a><a href="#h4-0-25" id="h4-0-25" class="i">+    &lt;div class=&quot;[ page-content ]&quot;&gt;
</a><a href="#h4-0-26" id="h4-0-26" class="i">+        {{content | safe }}
</a><a href="#h4-0-27" id="h4-0-27" class="i">+    &lt;/div&gt;
</a><a href="#h4-0-28" id="h4-0-28" class="i">+  &lt;/article&gt;
</a><a href="#h4-0-29" id="h4-0-29" class="i">+{% endblock %}
</a><a href="#h4-0-30" id="h4-0-30" class="i">+
</a><a href="#h4-0-31" id="h4-0-31" class="i">+
</a><b>diff --git a/<a id="h5" href="../file/src/_includes/layouts/pixelart.njk.html">src/_includes/layouts/pixelart.njk</a> b/<a href="../file/src/_includes/layouts/pixelart.njk.html">src/_includes/layouts/pixelart.njk</a></b>
<a href="#h5-0" id="h5-0" class="h">@@ -1,14 +1,15 @@
</a> {% extends &quot;layouts/base.njk&quot; %}
<a href="#h5-0-1" id="h5-0-1" class="i">+{% set pageCriticalStyles = [&#39;css/pixelart-gallery.css&#39;]%}
</a> {% set pixelArtItems = pagination.items %}
 {% set pageHeaderTitle = title %}
 {% set pixelArtItems = pagination.items %}
 
 {% block content %}
   &lt;article&gt;
<a href="#h5-0-8" id="h5-0-8" class="d">-  &lt;div class=&quot;constrained&quot;&gt;
</a><a href="#h5-0-9" id="h5-0-9" class="d">-  {% include &quot;partials/page-header.njk&quot; %}
</a><a href="#h5-0-10" id="h5-0-10" class="d">-  {% include &quot;partials/pixelart-list.njk&quot; %}
</a><a href="#h5-0-11" id="h5-0-11" class="d">-  &lt;/div&gt;
</a><a href="#h5-0-12" id="h5-0-12" class="d">-  {{ pixelArtItems | log }}
</a><a href="#h5-0-13" id="h5-0-13" class="i">+    &lt;div class=&quot;constrained&quot;&gt;
</a><a href="#h5-0-14" id="h5-0-14" class="i">+      {% include &quot;partials/page-header.njk&quot; %}
</a><a href="#h5-0-15" id="h5-0-15" class="i">+      {% include &quot;partials/pixelart-list.njk&quot; %}
</a><a href="#h5-0-16" id="h5-0-16" class="i">+    &lt;/div&gt;
</a><a href="#h5-0-17" id="h5-0-17" class="i">+    {{ pixelArtItems | log }}
</a>   &lt;/article&gt;
 {% endblock %}
<b>diff --git a/<a id="h6" href="../file/src/_includes/partials/pixelart-list.njk.html">src/_includes/partials/pixelart-list.njk</a> b/<a href="../file/src/_includes/partials/pixelart-list.njk.html">src/_includes/partials/pixelart-list.njk</a></b>
<a href="#h6-0" id="h6-0" class="h">@@ -1,8 +1,12 @@
</a> &lt;div id=&quot;pixelart-list&quot;&gt;
     &lt;div class=&quot;[ wrapper ] [ flow ]&quot;&gt;
<a href="#h6-0-2" id="h6-0-2" class="d">-        &lt;ul class=&quot;&quot;&gt;
</a><a href="#h6-0-3" id="h6-0-3" class="i">+      &lt;ul class=&quot;[ pixelart-grid ]&quot;&gt;
</a>           {% for item in pixelArtItems %}
<a href="#h6-0-5" id="h6-0-5" class="d">-            {{item.data.title}}  
</a><a href="#h6-0-6" id="h6-0-6" class="i">+          {% set pixelArtImageUrl = [&quot;/pixelart/&quot;, item.data.dir, &quot;/&quot;, item.data.image] | join %}
</a><a href="#h6-0-7" id="h6-0-7" class="i">+          &lt;div class=&quot;[ pixelart-card ]&quot;&gt;
</a><a href="#h6-0-8" id="h6-0-8" class="i">+          &lt;img src={{pixelArtImageUrl | url}}&gt;
</a><a href="#h6-0-9" id="h6-0-9" class="i">+          &lt;a href=&quot;{{ item.url }}&quot;&gt;{{item.data.title}}&lt;/a&gt;
</a><a href="#h6-0-10" id="h6-0-10" class="i">+          &lt;/div&gt;
</a>           {% endfor %} 
         &lt;/ul&gt;
     &lt;/div&gt;
<b>diff --git a/<a id="h7" href="../file/src/about/index.md.html">src/about/index.md</a> b/<a href="../file/src/about/index.md.html">src/about/index.md</a></b>
<a href="#h7-0" id="h7-0" class="h">@@ -3,8 +3,8 @@ title: &quot;about&quot;
</a> layout: &quot;layouts/about.njk&quot;
 eleventyNavigation:
   key: about
<a href="#h7-0-3" id="h7-0-3" class="d">-  order: 3
</a><a href="#h7-0-4" id="h7-0-4" class="i">+  order: 4
</a> permalink: /about/
 metaDesc: &quot;About Hector Aldair Aguilar&quot;
 greet: &quot;A little bit about me&quot;
<a href="#h7-0-8" id="h7-0-8" class="d">----
</a><a href="#h7-0-9" id="h7-0-9" class="d">-\ No newline at end of file
</a><a href="#h7-0-10" id="h7-0-10" class="i">+---
</a><b>diff --git a/<a id="h8" href="../file/src/pixelart.md.html">src/pixelart.md</a> b/<a href="../file/src/pixelart.md.html">src/pixelart.md</a></b>
<a href="#h8-0" id="h8-0" class="h">@@ -3,7 +3,10 @@ title: &#39;Pixel Art&#39;
</a> tag: [&#39;pixelart&#39;, &#39;creative&#39;, &#39;drawings&#39;]
 pagination:
   data: collections.pixelart
<a href="#h8-0-3" id="h8-0-3" class="d">-  size: 1
</a><a href="#h8-0-4" id="h8-0-4" class="i">+  size: 10
</a><a href="#h8-0-5" id="h8-0-5" class="i">+eleventyNavigation:
</a><a href="#h8-0-6" id="h8-0-6" class="i">+  key: pixel art
</a><a href="#h8-0-7" id="h8-0-7" class="i">+  order: 3
</a> layout: &#39;layouts/pixelart.njk&#39;
 metaDesc: &#39;My pixelart drawings&#39;
 pageHeaderSummary: &#39;I like the Gameboy feeling&#39;
<b>diff --git a/<a id="h9" href="../file/src/pixelart/amongos/amogus.png.html">src/pixelart/amongos/amogus.png</a> b/<a href="../file/src/pixelart/amongos/amogus.png.html">src/pixelart/amongos/amogus.png</a></b>
Binary files differ.
<b>diff --git a/<a id="h10" href="../file/src/pixelart/amongos/amongos.md.html">src/pixelart/amongos/amongos.md</a> b/<a href="../file/src/pixelart/amongos/amongos.md.html">src/pixelart/amongos/amongos.md</a></b>
<a href="#h10-0" id="h10-0" class="h">@@ -0,0 +1,10 @@
</a><a href="#h10-0-0" id="h10-0-0" class="i">+---
</a><a href="#h10-0-1" id="h10-0-1" class="i">+title: &quot;Amongos&quot;
</a><a href="#h10-0-2" id="h10-0-2" class="i">+date: 2022-12-08
</a><a href="#h10-0-3" id="h10-0-3" class="i">+tags: [&quot;PixelArt&quot;]
</a><a href="#h10-0-4" id="h10-0-4" class="i">+description: &quot;Don&#39;t say it, don&#39;t say it, don&#39;t say it&quot;
</a><a href="#h10-0-5" id="h10-0-5" class="i">+image: amogus.png
</a><a href="#h10-0-6" id="h10-0-6" class="i">+dir: amongos
</a><a href="#h10-0-7" id="h10-0-7" class="i">+---
</a><a href="#h10-0-8" id="h10-0-8" class="i">+
</a><a href="#h10-0-9" id="h10-0-9" class="i">+
</a><b>diff --git a/<a id="h11" href="../file/src/pixelart/bug/bug.md.html">src/pixelart/bug/bug.md</a> b/<a href="../file/src/pixelart/bug/bug.md.html">src/pixelart/bug/bug.md</a></b>
<a href="#h11-0" id="h11-0" class="h">@@ -0,0 +1,11 @@
</a><a href="#h11-0-0" id="h11-0-0" class="i">+---
</a><a href="#h11-0-1" id="h11-0-1" class="i">+title: &quot;Bug&quot;
</a><a href="#h11-0-2" id="h11-0-2" class="i">+date: 2022-06-09
</a><a href="#h11-0-3" id="h11-0-3" class="i">+tags: [&quot;PixelArt&quot;]
</a><a href="#h11-0-4" id="h11-0-4" class="i">+description: &quot;I found a bug in my code&quot;
</a><a href="#h11-0-5" id="h11-0-5" class="i">+image: demon.gif
</a><a href="#h11-0-6" id="h11-0-6" class="i">+dir: bug
</a><a href="#h11-0-7" id="h11-0-7" class="i">+---
</a><a href="#h11-0-8" id="h11-0-8" class="i">+
</a><a href="#h11-0-9" id="h11-0-9" class="i">+This is my little friend
</a><a href="#h11-0-10" id="h11-0-10" class="i">+
</a><b>diff --git a/<a id="h12" href="../file/src/pixelart/bug/demon.gif.html">src/pixelart/bug/demon.gif</a> b/<a href="../file/src/pixelart/bug/demon.gif.html">src/pixelart/bug/demon.gif</a></b>
Binary files differ.
<b>diff --git a/<a id="h13" href="../file/src/pixelart/ghost-love/ghost-love.md.html">src/pixelart/ghost-love/ghost-love.md</a> b/<a href="../file/src/pixelart/ghost-love/ghost-love.md.html">src/pixelart/ghost-love/ghost-love.md</a></b>
<a href="#h13-0" id="h13-0" class="h">@@ -1,5 +1,5 @@
</a> ---
<a href="#h13-0-1" id="h13-0-1" class="d">-title: &quot;Ghost love&quot;
</a><a href="#h13-0-2" id="h13-0-2" class="i">+title: &quot;Ghost Love&quot;
</a> date: 2021-12-08
 tags: [&quot;PixelArt&quot;]
 description: &quot;A spooky friend&quot;
<a href="#h13-1" id="h13-1" class="h">@@ -7,4 +7,33 @@ image: ghost-love.png
</a> dir: ghost-love
 ---
 
<a href="#h13-1-3" id="h13-1-3" class="d">-This was my first pixel art ever made.
</a><a href="#h13-1-4" id="h13-1-4" class="i">+Pixelart is my favorite style for videogames. Why?
</a><a href="#h13-1-5" id="h13-1-5" class="i">+
</a><a href="#h13-1-6" id="h13-1-6" class="i">+When I was a child, I had only three videogame consoles; the ps1, ps2 and the GBA.
</a><a href="#h13-1-7" id="h13-1-7" class="i">+
</a><a href="#h13-1-8" id="h13-1-8" class="i">+I missed a lot of &quot;new&quot; games until I got a PC and I started to play more &quot;new&quot; games.
</a><a href="#h13-1-9" id="h13-1-9" class="i">+Even then, the PC was an old mini-laptop with only 2 GB of RAM.
</a><a href="#h13-1-10" id="h13-1-10" class="i">+
</a><a href="#h13-1-11" id="h13-1-11" class="i">+That&#39;s the reason I used to play emulators for the SNES, Gameboy and GBA and I fall in
</a><a href="#h13-1-12" id="h13-1-12" class="i">+love with the retro style.
</a><a href="#h13-1-13" id="h13-1-13" class="i">+
</a><a href="#h13-1-14" id="h13-1-14" class="i">+As you can see on this website, I like the pixelart style. So, why not start to making it?
</a><a href="#h13-1-15" id="h13-1-15" class="i">+
</a><a href="#h13-1-16" id="h13-1-16" class="i">+I always think I&#39;m not an __artsy boy__. I have zero art skills... I don&#39;t like that.
</a><a href="#h13-1-17" id="h13-1-17" class="i">+
</a><a href="#h13-1-18" id="h13-1-18" class="i">+
</a><a href="#h13-1-19" id="h13-1-19" class="i">+That&#39;s why I started with pixelart. The _i love the retro style_ + _i wanna make some art that doesn&#39;t suck_
</a><a href="#h13-1-20" id="h13-1-20" class="i">+
</a><a href="#h13-1-21" id="h13-1-21" class="i">+That boring introduction was for this little guy.
</a><a href="#h13-1-22" id="h13-1-22" class="i">+
</a><a href="#h13-1-23" id="h13-1-23" class="i">+My first pixel art ever made.
</a><a href="#h13-1-24" id="h13-1-24" class="i">+
</a><a href="#h13-1-25" id="h13-1-25" class="i">+![Spooky Ghost](ghost-love.png)
</a><a href="#h13-1-26" id="h13-1-26" class="i">+
</a><a href="#h13-1-27" id="h13-1-27" class="i">+This was made with [Asperite](https://www.aseprite.org/) and just a little bit of time.
</a><a href="#h13-1-28" id="h13-1-28" class="i">+
</a><a href="#h13-1-29" id="h13-1-29" class="i">+It was made on the fly, and the color palette I chose was random.
</a><a href="#h13-1-30" id="h13-1-30" class="i">+
</a><a href="#h13-1-31" id="h13-1-31" class="i">+I don&#39;t remember the canvas size.
</a><a href="#h13-1-32" id="h13-1-32" class="i">+
</a><a href="#h13-1-33" id="h13-1-33" class="i">+Ghost Love makes me happy because it&#39;s a reminder that I can make art.
</a><b>diff --git a/<a id="h14" href="../file/src/pixelart/pixelart.json.html">src/pixelart/pixelart.json</a> b/<a href="../file/src/pixelart/pixelart.json.html">src/pixelart/pixelart.json</a></b>
<a href="#h14-0" id="h14-0" class="h">@@ -0,0 +1,4 @@
</a><a href="#h14-0-0" id="h14-0-0" class="i">+{
</a><a href="#h14-0-1" id="h14-0-1" class="i">+  &quot;layout&quot;: &quot;layouts/pixelart-post.njk&quot;,
</a><a href="#h14-0-2" id="h14-0-2" class="i">+  &quot;permalink&quot;: &quot;/pixelart/{{ title | slug }}/index.html&quot;
</a><a href="#h14-0-3" id="h14-0-3" class="i">+}
</a><b>diff --git a/<a id="h15" href="../file/src/scss/about.scss.html">src/scss/about.scss</a> b/<a href="../file/src/scss/about.scss.html">src/scss/about.scss</a></b>
<a href="#h15-0" id="h15-0" class="h">@@ -9,4 +9,3 @@ $generate-utility-classes: false;
</a> 
 // Pull in blocks
 @import &quot;blocks/me&quot;;
<a href="#h15-0-3" id="h15-0-3" class="d">-
</a><b>diff --git a/<a id="h16" href="../file/src/scss/blocks/_gallery-frame.scss.html">src/scss/blocks/_gallery-frame.scss</a> b/<a href="../file/src/scss/blocks/_gallery-frame.scss.html">src/scss/blocks/_gallery-frame.scss</a></b>
<a href="#h16-0" id="h16-0" class="h">@@ -1,4 +0,0 @@
</a><a href="#h16-0-0" id="h16-0-0" class="d">-.gallery-frame {
</a><a href="#h16-0-1" id="h16-0-1" class="d">-  display: block;
</a><a href="#h16-0-2" id="h16-0-2" class="d">-  padding: 1rem;
</a><a href="#h16-0-3" id="h16-0-3" class="d">-}
</a><b>diff --git a/<a id="h17" href="../file/src/scss/blocks/_gallery.scss.html">src/scss/blocks/_gallery.scss</a> b/<a href="../file/src/scss/blocks/_gallery.scss.html">src/scss/blocks/_gallery.scss</a></b>
<a href="#h17-0" id="h17-0" class="h">@@ -1,5 +0,0 @@
</a><a href="#h17-0-0" id="h17-0-0" class="d">-.gallery-section {
</a><a href="#h17-0-1" id="h17-0-1" class="d">-  display: grid;
</a><a href="#h17-0-2" id="h17-0-2" class="d">-  grid-template-columns: repeat(4, 1fr);
</a><a href="#h17-0-3" id="h17-0-3" class="d">-}
</a><a href="#h17-0-4" id="h17-0-4" class="d">-
</a><b>diff --git a/<a id="h18" href="../file/src/scss/blocks/_pixelart-grid.scss.html">src/scss/blocks/_pixelart-grid.scss</a> b/<a href="../file/src/scss/blocks/_pixelart-grid.scss.html">src/scss/blocks/_pixelart-grid.scss</a></b>
<a href="#h18-0" id="h18-0" class="h">@@ -0,0 +1,14 @@
</a><a href="#h18-0-0" id="h18-0-0" class="i">+.pixelart-grid {
</a><a href="#h18-0-1" id="h18-0-1" class="i">+  display: grid;
</a><a href="#h18-0-2" id="h18-0-2" class="i">+  grid-template-columns: repeat(3, 1fr);
</a><a href="#h18-0-3" id="h18-0-3" class="i">+  grid-template-rows: auto;
</a><a href="#h18-0-4" id="h18-0-4" class="i">+  gap: 1rem;
</a><a href="#h18-0-5" id="h18-0-5" class="i">+}
</a><a href="#h18-0-6" id="h18-0-6" class="i">+
</a><a href="#h18-0-7" id="h18-0-7" class="i">+.pixelart-card {
</a><a href="#h18-0-8" id="h18-0-8" class="i">+  display: flex;
</a><a href="#h18-0-9" id="h18-0-9" class="i">+  flex-direction: column;
</a><a href="#h18-0-10" id="h18-0-10" class="i">+  justify-content: center;
</a><a href="#h18-0-11" id="h18-0-11" class="i">+  align-items: center;
</a><a href="#h18-0-12" id="h18-0-12" class="i">+  gap: 1rem;
</a><a href="#h18-0-13" id="h18-0-13" class="i">+}
</a><b>diff --git a/<a id="h19" href="../file/src/scss/critical.scss.html">src/scss/critical.scss</a> b/<a href="../file/src/scss/critical.scss.html">src/scss/critical.scss</a></b>
<a href="#h19-0" id="h19-0" class="h">@@ -17,6 +17,7 @@
</a> // Import Utilities
 @import &quot;utilities/wrapper&quot;;
 
<a href="#h19-0-3" id="h19-0-3" class="i">+// Blocks 
</a> @import &quot;blocks/header&quot;;
 @import &quot;blocks/footer&quot;;
 @import &quot;blocks/nav&quot;;
<b>diff --git a/<a id="h20" href="../file/src/scss/page.scss.html">src/scss/page.scss</a> b/<a href="../file/src/scss/page.scss.html">src/scss/page.scss</a></b>
<a href="#h20-0" id="h20-0" class="h">@@ -12,6 +12,7 @@ $generate-utility-classes: false;
</a> @import &quot;blocks/page-content&quot;;
 
 // // Generic styles
<a href="#h20-0-3" id="h20-0-3" class="i">+
</a> time[datetime] {
   display: block;
   color: get-color(&quot;primary&quot;);
<b>diff --git a/<a id="h21" href="../file/src/scss/pixelart-gallery.scss.html">src/scss/pixelart-gallery.scss</a> b/<a href="../file/src/scss/pixelart-gallery.scss.html">src/scss/pixelart-gallery.scss</a></b>
<a href="#h21-0" id="h21-0" class="h">@@ -0,0 +1,10 @@
</a><a href="#h21-0-0" id="h21-0-0" class="i">+@import &#39;config&#39;;
</a><a href="#h21-0-1" id="h21-0-1" class="i">+
</a><a href="#h21-0-2" id="h21-0-2" class="i">+// // Set Gorko to output no CSS for this file
</a><a href="#h21-0-3" id="h21-0-3" class="i">+$generate-utility-classes: false;
</a><a href="#h21-0-4" id="h21-0-4" class="i">+
</a><a href="#h21-0-5" id="h21-0-5" class="i">+// // Next: pull in Gorko for design tokens
</a><a href="#h21-0-6" id="h21-0-6" class="i">+@import &#39;../../node_modules/gorko/gorko.scss&#39;;
</a><a href="#h21-0-7" id="h21-0-7" class="i">+
</a><a href="#h21-0-8" id="h21-0-8" class="i">+@import &quot;blocks/pixelart-grid&quot;
</a><a href="#h21-0-9" id="h21-0-9" class="i">+
</a></pre>
</div>
</body>
</html>
