<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Change home layout - bitbyte-blog - my little corner on the web
</title>
<link rel="icon" type="image/png" href="../favicon.png" />
<link rel="alternate" type="application/atom+xml" title="bitbyte-blog Atom Feed" href="../atom.xml" />
<link rel="alternate" type="application/atom+xml" title="bitbyte-blog Atom Feed (tags)" href="../tags.xml" />
<link rel="stylesheet" type="text/css" href="../style.css" />
</head>
<body>
<table><tr><td><a href="../../"><img src="../logo.png" alt="" width="32" height="32" /></a></td><td><h1>bitbyte-blog</h1><span class="desc">my little corner on the web
</span></td></tr><tr><td></td><td>
<a href="../log.html">Log</a> | <a href="../files.html">Files</a> | <a href="../refs.html">Refs</a> | <a href="../file/LICENSE.html">LICENSE</a></td></tr></table>
<hr/>
<div id="content">
<pre><b>commit</b> <a href="../commit/c27e7d68a00f4261a1e27d49988827acac437f9d.html">c27e7d68a00f4261a1e27d49988827acac437f9d</a>
<b>parent</b> <a href="../commit/d924670b6058a81780e3b4edea1beff5ffeecfcf.html">d924670b6058a81780e3b4edea1beff5ffeecfcf</a>
<b>Author:</b> hectoraldairah &lt;<a href="mailto:hectoraldairah@protonmail.com">hectoraldairah@protonmail.com</a>&gt;
<b>Date:</b>   Mon,  8 Jan 2024 18:52:08 -0600

Change home layout

<b>Diffstat:</b>
<table><tr><td class="M">M</td><td><a href="#h0">src/_includes/layouts/home.njk</a></td><td> | </td><td class="num">10</td><td><span class="i">++++++</span><span class="d">----</span></td></tr>
<tr><td class="M">M</td><td><a href="#h1">src/_includes/partials/featured-posts.njk</a></td><td> | </td><td class="num">2</td><td><span class="i">+</span><span class="d">-</span></td></tr>
</table></pre><pre>2 files changed, 7 insertions(+), 5 deletions(-)
<hr/><b>diff --git a/<a id="h0" href="../file/src/_includes/layouts/home.njk.html">src/_includes/layouts/home.njk</a> b/<a href="../file/src/_includes/layouts/home.njk.html">src/_includes/layouts/home.njk</a></b>
<a href="#h0-0" id="h0-0" class="h">@@ -3,13 +3,15 @@
</a> 
 &lt;section class=&quot;[ intro ]&quot;&gt;
   &lt;div class=&quot;constrained&quot;&gt;
<a href="#h0-0-3" id="h0-0-3" class="d">-    &lt;h2 class=&quot;[ intro__title ]&quot;&gt;Hi, I&#39;m Héctor Aguilar.&lt;/h2&gt;
</a><a href="#h0-0-4" id="h0-0-4" class="i">+    &lt;h2 class=&quot;[ intro__title ]&quot;&gt;Hi!&lt;/h2&gt;
</a>     &lt;div class=&quot;intro__description&quot;&gt;
<a href="#h0-0-6" id="h0-0-6" class="d">-      &lt;p&gt;A software engineer that loves the web and CLI programs.&lt;/p&gt;
</a><a href="#h0-0-7" id="h0-0-7" class="i">+      &lt;p&gt;I&#39;m Héctor, a software engineer with passion for web development and CLI software.&lt;/p&gt;
</a>       &lt;p&gt;
         This is just my little personal blog where you can read my experiences
<a href="#h0-0-10" id="h0-0-10" class="d">-        learning new stuff. Right now, working at 
</a><a href="#h0-0-11" id="h0-0-11" class="d">-        &lt;a target=&quot;_blank&quot; href=&quot;https://clip.mx/&quot;&gt;Clip&lt;/a&gt;
</a><a href="#h0-0-12" id="h0-0-12" class="i">+        learning new stuff. I&#39;m currently learning &lt;a&gt;Go&lt;/a&gt;, &lt;a&gt;Elixir&lt;/a&gt;, and how to be a better Front-End dev.&lt;/p&gt;
</a><a href="#h0-0-13" id="h0-0-13" class="i">+      &lt;p&gt;
</a><a href="#h0-0-14" id="h0-0-14" class="i">+        Right now, working at 
</a><a href="#h0-0-15" id="h0-0-15" class="i">+        &lt;a target=&quot;_blank&quot; href=&quot;https://clip.mx/&quot;&gt;Clip&lt;/a&gt;.
</a>       &lt;/p&gt;
       &lt;ul class=&quot;intro__description__social&quot;&gt;
         {% for item in social.items%}
<b>diff --git a/<a id="h1" href="../file/src/_includes/partials/featured-posts.njk.html">src/_includes/partials/featured-posts.njk</a> b/<a href="../file/src/_includes/partials/featured-posts.njk.html">src/_includes/partials/featured-posts.njk</a></b>
<a href="#h1-0" id="h1-0" class="h">@@ -1,6 +1,6 @@
</a> &lt;section class=&quot;[ feature-post ]&quot;&gt;
   &lt;div class=&quot;[ wrapper ]&quot;&gt;
<a href="#h1-0-2" id="h1-0-2" class="d">-    &lt;h3 class=&quot;feature-post__title&quot;&gt;Featured Articles&lt;/h3&gt;
</a><a href="#h1-0-3" id="h1-0-3" class="i">+    &lt;h3 class=&quot;feature-post__title&quot;&gt;Articles&lt;/h3&gt;
</a>     &lt;div class=&quot;feature-post__list&quot;&gt;
       {% for item in postItems %}
       &lt;article class=&quot;featured-article&quot;&gt;
</pre>
</div>
</body>
</html>
