/* lora-regular - latin */
@font-face {
  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/fonts/lora-v17-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../../assets/fonts/lora-v17-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../assets/fonts/lora-v17-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../assets/fonts/lora-v17-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../../assets/fonts/lora-v17-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../../assets/fonts/lora-v17-latin-regular.svg#Lora") format("svg"); /* Legacy iOS */
}

/* lora-600 - latin */
@font-face {
  font-family: "Lora";
  font-style: normal;
  font-weight: 600;
  src: url("../../assets/fonts/lora-v17-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../../assets/fonts/lora-v17-latin-600.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../assets/fonts/lora-v17-latin-600.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../assets/fonts/lora-v17-latin-600.woff") format("woff"),
    /* Modern Browsers */ url("../../assets/fonts/lora-v17-latin-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../../assets/fonts/lora-v17-latin-600.svg#Lora") format("svg"); /* Legacy iOS */
}

/* nunito-regular - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/fonts/snunito-v16-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../../assets/fonts/nunito-v16-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../assets/fonts/nunito-v16-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../assets/fonts/nunito-v16-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../../assets/fonts/nunito-v16-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../../assets/fonts/nunito-v16-latin-regular.svg#Nunito")
      format("svg"); /* Legacy iOS */
}

/* nunito-italic - latin */
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 400;
  src: url("../../assets/fonts/nunito-v16-latin-italic.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../../assets/fonts/nunito-v16-latin-italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../assets/fonts/nunito-v16-latin-italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../assets/fonts/nunito-v16-latin-italic.woff") format("woff"),
    /* Modern Browsers */ url("../../assets/fonts/nunito-v16-latin-italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../../assets/fonts/nunito-v16-latin-italic.svg#Nunito") format("svg"); /* Legacy iOS */
}

/* nunito-600 - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  src: url("../../assets/fonts/nunito-v16-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../../assets/fonts/nunito-v16-latin-600.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../assets/fonts/nunito-v16-latin-600.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../assets/fonts/nunito-v16-latin-600.woff") format("woff"),
    /* Modern Browsers */ url("../../assets/fonts/nunito-v16-latin-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../../assets/fonts/nunito-v16-latin-600.svg#Nunito") format("svg"); /* Legacy iOS */
}

/* nunito-regular - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/fonts/nunito-v16-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../../assets/fonts/nunito-v16-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../assets/fonts/nunito-v16-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../assets/fonts/nunito-v16-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../../assets/fonts/nunito-v16-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../../assets/fonts/nunito-v16-latin-regular.svg#Nunito")
      format("svg"); /* Legacy iOS */
}

/* nunito-italic - latin */
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 400;
  src: url("../../assets/fonts/nunito-v16-latin-italic.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../../assets/fonts/nunito-v16-latin-italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../assets/fonts/nunito-v16-latin-italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../assets/fonts/nunito-v16-latin-italic.woff") format("woff"),
    /* Modern Browsers */ url("../../assets/fonts/nunito-v16-latin-italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../../assets/fonts/nunito-v16-latin-italic.svg#Nunito") format("svg"); /* Legacy iOS */
}

/* nunito-600 - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  src: url("../../assets/fonts/nunito-v16-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../../assets/fonts/nunito-v16-latin-600.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../assets/fonts/nunito-v16-latin-600.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../assets/fonts/nunito-v16-latin-600.woff") format("woff"),
    /* Modern Browsers */ url("../../assets/fonts/nunito-v16-latin-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../../assets/fonts/nunito-v16-latin-600.svg#Nunito") format("svg"); /* Legacy iOS */
}
