// Scrollbar styles
::-webkit-scrollbar {
  height: 1rem;
  background: get-color('shade');
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 0rem;
  background: get-color('secondary');
}
