// Scrollbar styles

::-webkit-scrollbar {
  background-image: url("../assets/images/dit.png");
  background-repeat: no-repeat;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 0rem;
  background: #{get-color('Crust')};
}
