h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.2;
}

h1,
h2,
h3,
h4 {
  font-weight: 900;
  text-rendering: optimizeLegibility;
}

p {
  line-height: 1.5;
}

a {
  transition: 0.3s;
  cursor: pointer;
  color: #{get-color('Rosewater')};
  text-decoration: underline;

  &:hover {
    background-color: #{get-color('Rosewater')};
    color: #{get-color('Base')}
  }
}
