h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.2;
}

h1,
h2,
h3,
h4 {
  font-weight: 900;
  text-rendering: optimizeLegibility;
}

p {
  line-height: 1.5;
}

a {
  transition: 0.3s;
  color: var(--color-links) !important;

  &:hover {
    background-color: var(--color-links-hover-bg) !important;
    color: var(--color-links-hover) !important;
  }

  &:visited {
    color: var(--color-links-visited) !important;
    &:hover {
      color: var(--color-links-hover) !important;
    }
  }
}
