{% extends "layouts/base.njk" %} {% set pageCriticalStyles = ['css/home.css'] %}
{% set postItems = pagination.items %} {% block content %}

<section class="[ intro ]">
  <div class="wrapper">
    <h1 class="[ intro__title ] [ Blue ]">Hi, I'm Héctor Aguilar.</h1>
    <div class="intro__description">
      <p>A software engineer that loves the web and CLI programs.</p>
      <p>
        This is just my little personal blog where you can read my experiences
        learning new stuff. Rigth now, working at 
        <a target="_blank" href="https://clip.mx/">Clip</a>
      </p>
      <ul class="intro__description__social">
        {% for item in social.items%}
          <li><a href={{item.url}} target="_blank" rel="me">{{item.text}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
{% include "partials/featured-posts.njk" %} {% endblock %}
