{% extends "layouts/base.njk" %} {% set pageCriticalStyles = ['css/home.css'] %}
{% set postItems = pagination.items %} {% block content %}

<section class="[ intro ]">
  <div class="constrained">
    <h2 class="[ intro__title ]">Hi!</h2>
    <div class="intro__description">
      <p>I'm Héctor, a software engineer with passion for web development and CLI software.</p>
      <p>
        This is just my little personal blog where you can read my experiences
        learning new stuff. I'm currently learning <a>Go</a>, <a>Elixir</a>, and how to be a better Front-End dev.</p>
      <p>
        Right now, working at 
        <a target="_blank" href="https://clip.mx/">Clip</a>.
      </p>
      <ul class="intro__description__social">
        {% for item in social.items%}
          <li><a href={{item.url}} target="_blank" rel="me">{{item.text}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
{% include "partials/featured-posts.njk" %} {% endblock %}
