{% extends "layouts/base.njk" %}  
{% set pageCriticalStyles = ['css/page.css'] %}
{% set pageHeaderTitle = title %} 

{% block content %}
  <div class="[ page-content ]">{{ content | safe }}</div>
  {% if showList %}
  <ol class="[ books-list gym-log ]">
    {% for workout in gym %}
      <li class="[ book_list__item ]">
      {% set url = workout.workout.id %}
      <a href="{{url}}">{{workout.workout.title}}</a>
      <p>- {{workout.workout.created_at | w3Date }}</p>
      </li>
    {% endfor%}
  </ol>
  {% else %}
    <h2>{{ gym.workout.title}}</h2>
    <h4>{{ gym.workout.created_at | w3Date }}</h4>
    {% for exercise in gym.workout.exercises %}
    <br />
      <table>
        <caption>{{exercise.title}}</caption>
        <thead>
          <tr>
            <td>Set Type</td>
            <td>Weight (kg)</td>
            <td>Reps</td>
            <td>Distance (m)</td>
            <td>Duration (s)</td>
          </tr>
        </thead>
        <tbody>
          {% for set in exercise.sets%}
          <tr>
            <td class="{{set.set_type}}">{{ set.set_type }}</td>
            {% if set.weight_kg %}
            <td>{{ set.weight_kg | round2f }}</td>
            {% else %}
            <td>NAN</td>
            {% endif %}
            {% if set.reps %}
            <td>{{ set.reps }}</td>
            {% else %}
            <td>NAN</td>
            {% endif %}
            {% if set.distance_meters %}
            <td>{{set.distance_meters}}</td>
            {% else %}
            <td>NAN</td>
            {% endif %}
            {% if set.duration_seconds %}
            <td>{{ set.duration_seconds }}</td>
            {% else %}
            <td>NAN</td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endfor %}
  {% endif %}
{% endblock%}
