{% extends "layouts/base.njk" %}
{% set pageCriticalStyles = ['css/pixelart-gallery.css']%}
{% set pixelArtItems = pagination.items %}
{% set showTags = false %}

{% block content %}
  <article>
      {% include "partials/pixelart-list.njk" %}
  </article>
{% endblock %}
