{% extends "layouts/base.njk" %}
{% set pageCriticalStyles = ['css/page.css'] %}
{% set pageHeaderTitle = title %}

{% block content %}
  <article class="constrained">
    <div class="[ page-content ]">
        {{content | safe }}
    </div>
  </article>
{% endblock %}


