{% extends "layouts/base.njk" %}
{% set pageCriticalStyles = ['css/page.css'] %}

{% set pageHeaderTitle = title %}

{# Render post date and any tags that this post has been filed under #}

{% set pageHeaderSummary %}
<time datetime="{{ date | postDate }}">{{ date | postDate }}</time>
{% if tags %}
    <div class="constrained">
        <p class="visually-hidden" id="tags-desc">Tags that this post has been filed under.</p>
        <ul class="[ tags-list ]" aria-describedby="tags-desc">
            {% for tag in tags %}
                <li>
                    <a href="/tag/{{ tag | slug }}/">#{{ tag | title | replace(' ', '') }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
{% endset %}

{% block content %}
    {% include "partials/page-header.njk" %}
    <article class="constrained">
        <div class="[ page-content ]">
            {{ content | safe }}
        </div>
    </article>
{% endblock %}