{% extends "layouts/base.njk" %}  
{% set pageCriticalStyles = ['css/page.css'] %}
{% set pageHeaderTitle = title %} 

{% block content %}
  <div class="[ page-content ]">{{ content | safe }}</div>
{% endblock%}
