.books-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  &__item {
    display: flex;
    flex-direction: column;

    p {
      font-size: get-size('400');
    }
  }
}

.eye-container {
  margin: 2rem 0;
}

.eye {
  font-size: 5px;
  line-height: 1;
  font-family: monospace;
  text-align: right;
}
