.feature-post {
  padding-top: 5rem;
  padding-bottom: 2rem;

  &__title {
    font-size: get-size('700');
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: get-size('1000');
    margin-top: get-size('700');
  }

  &__more {
    display: inline-block;
    margin-top: 3rem;
  }
}
