.feature-post {
  padding-top: get-size('500');
  padding-bottom: get-size('500');

  &__title {
    font-size: get-size('600');
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: get-size('700');
    margin-top: get-size('700');
  }

  &__more {
    display: inline-block;
    margin-top: 3rem;
  }
}
