.feature-post {
  background-color: get-color('background-alt');
  padding-top: 2rem;
  padding-bottom: 2rem;

  &__inner {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  &__list {
    display: grid;
    gap: get-size('1000');
    margin-top: get-size('700');
  }

  @include media-query('md') {
    .feature-post {
      &__list {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  @include media-query('lg') {
    .feature-post {
      &__inner {
        grid-template-columns: 200px 1fr;
      }

      &__list {
        margin-top: 0;
      }
    }
  }
}
