.featured-article {
  &__clamp {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
  }

  &__meta {
    display: block;
    width: 100%;
    margin-bottom: 0.5rem;
    font-size: get-size('400');

    &__tags {
      color: var(--text-heading-color);
      &:hover {
        color: var(--bg-color);
        background-color: var(--text-heading-color);
      }
    }
  }

  &__title {
    font-size: get-size('500');
    color: #{get-color('Blue')};
    text-decoration-color: #{get-color('Blue')};
    @include apply-utility('font', 'terminal');
  }

  &__excerpt {
    display: block;
    font-size: get-size('400');
  }
}
