.site-footer {
  grid-area: footer;
  display: flex;
  width: 100%;
  background-color: #{get-color('Base')};
  flex-direction: column;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;

  &__links {
    display: flex;
    gap: 1rem;
    align-content: center;
    align-items: center
  }

  &__webring {
    display: flex;
    align-content: center;
    gap: 1rem;
    align-items: center
  }
}
