.site-footer {
  grid-area: footer;
  height: 80px;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-top : 1px solid #{get-color('Text')};

  &__socials {
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      li {
        list-style-type: none;

        a {

          &::before,
          &::after {
            content: none;
          }

          .icon {
            display: block;
            max-width: 30px;
            max-height: 30px;
            object-fit: fill;

          }

        }
      }
    }
  }

  &__navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1rem;

    &__inner {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      text-align: center;

      li {
        img {
          display: inline-block;
          text-align: center;
        }
      }

      @include media-query('md') {
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
}
