.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-size: 100vw;
  margin-top: -7px;
  height: 120px;
  margin-top: 10px;
  text-shadow: 1px 20px 1px var(--color-bg);
  color: var(--color-header);
}
