.site-head {
  border-right: 1px solid #{get-color('Text')};
  grid-area: sidebar;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  &__nav {
    padding: get-size('300') 0;
    position: relative;
  }
}
