.intro {
  &__title {
    font-size: get-size('900');
    line-height: 1.15;
    @include apply-utility('weight', 'regular');

    .favicon {
      display: inline-block;
      object-fit: cover;
      max-width: 50px;
      max-height: 50px;
    }

    @include media-query('md') {
      font-size: get-size('900');
    }
  }

  &__description {
    max-width: 60rem;
    > * {
      margin: 1rem 0;
    }

    &__social {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 1rem;
      font-size: get-size('500');
    }
  }
}

.cool-stuff {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: -2rem;
  flex-direction: row;

  ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
    list-style-type: none;
    margin-left: -1rem;
  }
}

audio {
  width: 320px;
  height: 40px;
  margin: 10px 0;

  border-radius: 12px;
  padding: 4px;
}

audio::-webkit-media-controls-panel {
  background: var(--color-links);
  border-radius: 10px;
}

audio::-webkit-media-controls-play-button {
  background-color: var(--color-links);
  border-radius: 50%;
}

audio::-webkit-media-controls-play-button:hover {
  background-color: var(--color-links);
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
  color: var(--color-links);
  font-weight: bold;
  text-shadow: 0 1px 1px #fff;
}

audio::-webkit-media-controls-timeline {
  background-color: var(--color-links);
  border-radius: 4px;
}

audio::-webkit-media-controls-volume-slider {
  background-color: var(--color-links);
  border-radius: 4px;
}
