.intro {
  padding: get-size('500') 0;
  margin: get-size('500') 0;

  &__title {
    font-size: get-size('900');
    line-height: 1.15;
    @include apply-utility('weight', 'regular');

    .favicon {
      display: inline-block;
      object-fit: cover;
      max-width: 50px;
      max-height: 50px;

    }

    @include media-query('md') {
      font-size: get-size('900');
    }
  }

  &__description {
    max-width: 60rem;
    > * {
      margin: 1rem 0;
    }

    &__social {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 1rem;
      font-size: get-size('500');
    }
  }
}
