.main-content {
  grid-area: content;
  background-color: #{get-color('Base')};
  color: #{get-color('Text')};

  .title-content {
    display: flex;
    flex-direction: column;
    background-color: #b4befe;
    background-image: url("../../assets/images/dit.png");
    background-repeat: no-repeat;
    font-size: 1.5rem;
    color: #{get-color('Base')};

    .title,
    .summary {
      margin-left: 1rem;
    }
  }

  .content {
    padding: 1rem;

  }
}
