.main-content {
  grid-area: content;
  background-color: var(--color-space);
  color: var(--color-text);

  .title-content {
    display: flex;
    flex-direction: column;
    background-color: var(--color-title-content-bg);
    background-repeat: no-repeat;
    font-size: 1.5rem;
    color: var(--color-title-content);
    border-bottom: 2px solid var(--title-content-border-color);
    padding-bottom: .5rem;
    margin-top: 5px;


    .title,
    .summary {
      margin-left: 1rem;
    }
  }

  .content {
    padding: 1rem;

  }
}
