.main-content {
  grid-area: content;
  padding: 1rem;
  background-color: #{get-color('Base')};
  color: #{get-color('Text')};

  @include media-query('md') {
    overflow-y: auto;
  }

  .content {
    height: 100%;
  }
}
