.about {
  &__section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20rem 1fr;

    &__description {
      margin-top: get-size('600');
    }

    &__image {
      position: relative;

      .responsive-image {
        display: block;
        object-fit: cover;
      }
    }
  }
}
