.about {

  margin-top: 1rem;

  &__section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20rem 1fr;

    &__description {
      margin-top: get-size('600');
    }

    &__image {
      position: relative;

      .responsive-image {
        display: block;
        object-fit: cover;
      }
    }

    &__contact {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
    }
  }
}
