.about {
  padding: get-size('900') 0;
  &__section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5rem;
    margin-top: get-size('500');
    padding: get-size('900') 0;

    @include media-query('md') {
      grid-template-columns: repeat(2, minmax(250px, 1fr));
      gap: 5rem;
    }

    &__image {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      max-height: 500px;

      .responsive-image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
