.nav {
  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;

    > * {
      padding-top: get-size('100');
      @include media-query('md') {
        width: 6vw;
      }
    }
  }

  a {
    position: relative;
    display: block;
    text-decoration: none;
    padding: 0.2rem;
    font-weight: normal;
    color: #{get-color('Text')};

    &::after,
    &::before {
      display: none;
    }

    &:hover {
      color: #{get-color('Crust')};
      background-color: #{get-color('Rosewater')};
    }

    &[data-state='active'],
    &[data-state='page'] {
      background: #{get-color('Rosewater')};
      color: #{get-color('Crust')};
    }
  }
}
