.nav {
  line-height: 1;
  font-weight: 600;

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;

    @include media-query('md') {
      flex-direction: column;
      gap: 0;
    }

    > * {
      padding-top: get-size('300');
      @include media-query('md') {
        padding-inline-start: get-size('400');
      }
    }
  }

  a {
    position: relative;
    display: block;
    text-decoration: none;
    padding: 0.2rem;
    font-weight: normal;
    color: #{get-color('Red')};

    &::after,
    &::before {
      display: none;
    }

    &:hover{ 
      color: #{get-color('Blue')};
    }

    &[data-state='active'],
    &[data-state='page'] {
      background: #{get-color('Red')};
      color: #{get-color('Blue')};
    }
  }
}
