.page-header {
  h1 {
    font-size: 1.5rem;
  }

  &__summary {
    font-size: get-size('500');

    time {
      &::after {
        content: '::';
        margin-left: 1rem;
      }
    }

    &__meta {
      display: flex;
      gap: 1rem;
    }
  }
}
