.page-content {
  line-height: 1.6;
  padding: 0 get-size('500');

  blockquote {
    padding-inline-start: get-size('600');
    padding-top: get-size('600');
    padding-bottom: get-size('600');
    margin-top: get-size('600');
    margin-bottom: get-size('600');
    font-style: italic;
    border: solid 2px var(--block-quote-color);
    padding: 20px 30px 20px 30px;
    box-shadow: 13px 13px 0 0 var(--block-quote-shadow-color),
      15px 15px 0 0 var(--block-quote-shadow-color),
      15px 11px 0 0 var(--block-quote-shadow-color),
      11px 15px 0 0 var(--block-quote-shadow-color);
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;
  }

  h1 {
    font-size: get-size('700');
  }

  h2 {
    font-size: get-size('600');
  }

  h3 {
    font-size: get-size('500');
  }

  ol,
  ul {
    padding-inline-start: get-size('900');
  }

  li + li {
    margin-top: get-size('300');
  }

  // Add a greater flow space for heading elements so
  // they appear more like article sections
  h2,
  h3 {
    --flow-space: #{get-size('900')};
    margin-top: get-size('300');
    margin-bottom: get-size('300');
  }

  // Add tighter flow for elements that follow a heading
  h2 + *,
  h3 + * {
    --flow-space: #{get-size('300')};
  }

  p {
    margin-top: get-size('500');
    margin-bottom: get-size('500');
  }

  .header-anchor {
    visibility: hidden;
  }

  @media screen and (hover: hover) {
    h2:hover,
    h2:focus,
    h3:focus,
    h3:hover,
    h4:focus,
    h4:hover,
    h5:focus,
    h5:hover,
    h6:hover,
    h6:focus {
      & .header-anchor {
        visibility: visible;
      }
    }
  }
}

.screen-reader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
