.page-content {
  font-size: get-size('400') !important;

  &__post-title {
    font-size: get-size('900') !important;
  }

  blockquote {
    font-style: italic;
    border: solid 2px var(--block-quote-color);
    box-shadow: 5px 5px 0 0 var(--block-quote-shadow-color),
      5px 5px 0 0 var(--block-quote-shadow-color),
      5px 5px 0 0 var(--block-quote-shadow-color),
      5px 5px 0 0 var(--block-quote-shadow-color);
    p {
      margin: 1rem;
      text-align: center;
    }
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;
    font-weight: normal;
    text-indent: -3px;
  }

  h2 {
    font-size: get-size('700');
  }

  h3 {
    font-size: get-size('500');
  }

  ol,
  ul {
    padding-inline-start: get-size('900');
  }

  li + li {
    margin-top: get-size('300');
  }

  // Add a greater flow space for heading elements so
  // they appear more like article sections
  h2,
  h3 {
    --flow-space: #{get-size('900')};
    margin-top: get-size('300');
    margin-bottom: get-size('300');
  }

  // Add tighter flow for elements that follow a heading
  h2 + *,
  h3 + * {
    --flow-space: #{get-size('300')};
  }

  p {
    margin-top: get-size('500');
    margin-bottom: get-size('500');
    line-height: 1.5;
  }

  .header-anchor {
    visibility: hidden;
  }

  figcaption {
    text-align: center;
    font-size: get-size('400');
    padding: 0.2rem 0;
    background-color: #{get-color('Crust')};
  }

  @media screen and (hover: hover) {
    h2:hover,
    h2:focus,
    h3:focus,
    h3:hover,
    h4:focus,
    h4:hover,
    h5:focus,
    h5:hover,
    h6:hover,
    h6:focus {
      & .header-anchor {
        visibility: visible;
      }
    }
  }
}

.screen-reader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
