.page-content {
  &__post-title {
    font-size: get-size('900') !important;
  }

  blockquote {
    text-align: left;
    border-left: solid 2px var(--link-hover-color);
    background-color: var(--color-blockquote-bg);
    box-shadow: 5px 5px var(--color-text);
    color: var(--color-blockquote);

    p {
      padding-left: 0.8rem;
      font-size: 0.9rem;
    }
  }

  h1 {
    color: var(--color-links);

    & .header-anchor {
      visibility: hidden;
    }

    &:focus .header-anchor,
    &:focus-within .header-anchor {
      visibility: visible;
    }
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;
    font-weight: bold;
    text-indent: -3px;
    color: var(--color-links);

    & .header-anchor {
      visibility: hidden;
    }

    &:focus .header-anchor,
    &:focus-within .header-anchor {
      visibility: visible;
    }
  }

  h2 {
    font-size: get-size('700');
  }

  h3 {
    font-size: get-size('500');
  }

  ol,
  ul {
    padding-inline-start: 1.7rem;
  }

  li+li {
    margin-top: get-size('300');
  }

  // Add a greater flow space for heading elements so
  // they appear more like article sections
  h2,
  h3 {
    --flow-space: #{get-size('900')};
    margin-top: get-size('300');
    margin-bottom: get-size('300');
  }

  // Add tighter flow for elements that follow a heading
  h2+*,
  h3+* {
    --flow-space: #{get-size('300')};
  }

  p {
    margin-top: get-size('500');
    margin-bottom: get-size('500');
    line-height: 1.5;
  }

  figure {
    padding: 0.5rem;
    max-width: 350px;

    @include media-query('md') {
      padding: 0;
      max-width: 100%;
    }

    figcaption {
      text-align: center;
      padding: 0.2rem 0;
      font-size: get-size('400');
      background-color: var(--color-bg);
      color: var(--color-text);

      @include media-query("md") {
        text-align: left;
      }
    }
  }

  .header-anchor {
    visibility: hidden;
  }

  li {
    &::marker {
      color: var(--feature-post-color);
    }
  }

  strong {
    background-color: var(--color-links);
    color: var(--color-bg);
  }

  mark {
    background-color: var(--color-links);
    color: var(--color-bg);
    padding: 0.2rem 0.4rem;
    border: 2px solid var(--color-text);
  }

  @media screen and (hover: hover) {

    h2:hover,
    h2:focus,
    h3:focus,
    h3:hover,
    h4:focus,
    h4:hover,
    h5:focus,
    h5:hover,
    h6:hover,
    h6:focus {
      & .header-anchor {
        visibility: visible;
      }
    }
  }
}

.screen-reader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
