.page-header {
  padding: get-size('500') 0;
  margin: get-size('500') 0;

  h1 {
    font-size: get-size('800');
    font-weight: 400;
    line-height: 1;
    text-indent: -0.15rem;
  }

  &__summary {
    font-size: get-size('500');

    time {
      &::after {
        content: '::';
        margin-left: 1rem;
      }
    }

    &__meta {
      display: flex;
      gap: 1rem;
    }
  }
}
