.pixelart-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: get-size('400');

  @include media-query('md') {
    grid-template-columns: repeat(2, minmax(300px, 0.1fr));
  }
}

.pixelart-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 200px;
    height: 200px;
    object-fit: contain;
  }

  a {
    display: inline-block;
    width: 100%;
    text-align: center;
    background-color: #{get-color('Crust')};
    &:hover {
      color: inherit;
    }
  }
}
