.post-list {
  &__item {
    padding: get-size('400') 0;

    &__link {
      font-size: get-size('500');
    }

    &__info {
      display: flex;
      font-size: get-size('400');

      &__excerpt {
        margin-top: -0.5rem;
      }

      &__tags {
        display: flex;
        height: 100%;
        gap: 0.5rem;

        li {
          a {
            color: #{get-color('Rosewater')};
            &:hover {
              color: #{get-color('Crust')};
            }
          }
        }
      }
    }
  }
}
