.post-list {
  &__item {
    padding: get-size('600') 0;

    &__link {
      font-size: get-size('700');
    }

    &__info {
      display: flex;

      &__tags {
        display: flex;
        height: 100%;
        gap: 1rem;

        li {
          a {
            color: var(--text-heading-color);
            &:hover {
              color: var(--bg-color);
              background-color: var(--text-heading-color);
            }
          }
        }
      }
    }
  }
}
