.site-nav {
  grid-area: navigation;
  color: var(--color-text);
  height: auto;
  align-self: start;
  display: flex;
  flex-direction: column;
  gap: 1rem;


  @include media-query("md") {
    top: 0;
    position: sticky;
    z-index: 10;
  }


  .nav {
    background-color: var(--color-space);

    &__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0.5rem;
      margin-left: 1rem;
      margin-top: 1rem;
      margin-bottom: 1rem;

      &__children {
        display: none;
      }


      @include media-query("md") {
        flex-direction: column;
        flex-wrap: wrap;
        gap: 0.5rem;

        &__children {
          display: block;
          font-size: .8rem;
          margin: 0;
          margin-left: 10px;

          a {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 160px;
            text-transform: lowercase;
          }
        }
      }
    }

    a {
      background-color: none;
      position: relative;
      display: block;
      text-decoration: underline;
      color: var(--color-links);

      &::after {
        display: inline-block;
        content: "/"
      }

      &:hover {
        background-color: var(--color-space);
      }
    }

    a.child {
      &::before {
        display: inline-block;
        content: "↳";
        margin-right: -5px;
      }
      &::after {
        display: none;
      }
    }
  }
}
