<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>pixelart-gallery.css - bitbyte-blog - my little corner on the web
</title>
<link rel="icon" type="image/png" href="../../../../favicon.png" />
<link rel="alternate" type="application/atom+xml" title="bitbyte-blog Atom Feed" href="../../../../atom.xml" />
<link rel="alternate" type="application/atom+xml" title="bitbyte-blog Atom Feed (tags)" href="../../../../tags.xml" />
<link rel="stylesheet" type="text/css" href="../../../../style.css" />
</head>
<body>
<table><tr><td><a href="../../../../../"><img src="../../../../logo.png" alt="" width="32" height="32" /></a></td><td><h1>bitbyte-blog</h1><span class="desc">my little corner on the web
</span></td></tr><tr><td></td><td>
<a href="../../../../log.html">Log</a> | <a href="../../../../files.html">Files</a> | <a href="../../../../refs.html">Refs</a> | <a href="../../../../file/LICENSE.html">LICENSE</a></td></tr></table>
<hr/>
<div id="content">
<p> pixelart-gallery.css (459B)</p><hr/><pre id="blob">
<a href="#l1" class="line" id="l1">      1</a> .pixelart-grid{display:grid;gap:2rem;grid-template-columns:1fr;padding:1rem}@media (min-width:48em){.pixelart-grid{grid-template-columns:repeat(2,minmax(300px,.1fr))}}.pixelart-card{align-items:center;display:flex;flex-direction:column;justify-content:center}.pixelart-card img{height:200px;object-fit:contain;width:200px}.pixelart-card a{background-color:var(--color-bg);display:inline-block;text-align:center;width:100%}.pixelart-card a:hover{color:inherit}</pre>
</div>
</body>
</html>
