<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>1d4717a181cecde4b282459d287ee0b88700f51c.html - bitbyte-blog - Unnamed repository; edit this file &#39;description&#39; to name the repository.
</title>
<link rel="icon" type="image/png" href="../../../../favicon.png" />
<link rel="alternate" type="application/atom+xml" title="bitbyte-blog Atom Feed" href="../../../../atom.xml" />
<link rel="alternate" type="application/atom+xml" title="bitbyte-blog Atom Feed (tags)" href="../../../../tags.xml" />
<link rel="stylesheet" type="text/css" href="../../../../style.css" />
</head>
<body>
<table><tr><td><a href="../../../../../"><img src="../../../../logo.png" alt="" width="32" height="32" /></a></td><td><h1>bitbyte-blog</h1><span class="desc">Unnamed repository; edit this file &#39;description&#39; to name the repository.
</span></td></tr><tr><td></td><td>
<a href="../../../../log.html">Log</a> | <a href="../../../../files.html">Files</a> | <a href="../../../../refs.html">Refs</a> | <a href="../../../../file/LICENSE.html">LICENSE</a></td></tr></table>
<hr/>
<div id="content">
<p> 1d4717a181cecde4b282459d287ee0b88700f51c.html (7687B)</p><hr/><pre id="blob">
<a href="#l1" class="line" id="l1">      1</a> &lt;!DOCTYPE html&gt;
<a href="#l2" class="line" id="l2">      2</a> &lt;html&gt;
<a href="#l3" class="line" id="l3">      3</a> &lt;head&gt;
<a href="#l4" class="line" id="l4">      4</a> &lt;link rel=&quot;stylesheet&quot; type=&quot;text/css&quot; href=&quot;../styles/log.css&quot; /&gt;
<a href="#l5" class="line" id="l5">      5</a> &lt;meta http-equiv=&quot;Content-Type&quot; content=&quot;text/html; charset=UTF-8&quot; /&gt;
<a href="#l6" class="line" id="l6">      6</a> &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1&quot; /&gt;
<a href="#l7" class="line" id="l7">      7</a> &lt;title&gt;remove mastodon link - bitbyte-blog - Unnamed repository; edit this file &amp;#39;description&amp;#39; to name the repository.
<a href="#l8" class="line" id="l8">      8</a> &lt;/title&gt;
<a href="#l9" class="line" id="l9">      9</a> &lt;link rel=&quot;icon&quot; type=&quot;image/png&quot; href=&quot;../favicon.png&quot; /&gt;
<a href="#l10" class="line" id="l10">     10</a> &lt;link rel=&quot;alternate&quot; type=&quot;application/atom+xml&quot; title=&quot;bitbyte-blog Atom Feed&quot; href=&quot;../atom.xml&quot; /&gt;
<a href="#l11" class="line" id="l11">     11</a> &lt;link rel=&quot;alternate&quot; type=&quot;application/atom+xml&quot; title=&quot;bitbyte-blog Atom Feed (tags)&quot; href=&quot;../tags.xml&quot; /&gt;
<a href="#l12" class="line" id="l12">     12</a> &lt;link rel=&quot;stylesheet&quot; type=&quot;text/css&quot; href=&quot;../style.css&quot; /&gt;
<a href="#l13" class="line" id="l13">     13</a> &lt;/head&gt;
<a href="#l14" class="line" id="l14">     14</a> &lt;body&gt;
<a href="#l15" class="line" id="l15">     15</a> &lt;table&gt;&lt;tr&gt;&lt;td&gt;&lt;a href=&quot;../../&quot;&gt;&lt;img src=&quot;../logo.png&quot; alt=&quot;&quot; width=&quot;32&quot; height=&quot;32&quot; /&gt;&lt;/a&gt;&lt;/td&gt;&lt;td&gt;&lt;h1&gt;bitbyte-blog&lt;/h1&gt;&lt;span class=&quot;desc&quot;&gt;Unnamed repository; edit this file &amp;#39;description&amp;#39; to name the repository.
<a href="#l16" class="line" id="l16">     16</a> &lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;/td&gt;&lt;td&gt;
<a href="#l17" class="line" id="l17">     17</a> &lt;a href=&quot;../log.html&quot;&gt;Log&lt;/a&gt; | &lt;a href=&quot;../files.html&quot;&gt;Files&lt;/a&gt; | &lt;a href=&quot;../refs.html&quot;&gt;Refs&lt;/a&gt; | &lt;a href=&quot;../file/LICENSE.html&quot;&gt;LICENSE&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;
<a href="#l18" class="line" id="l18">     18</a> &lt;hr/&gt;
<a href="#l19" class="line" id="l19">     19</a> &lt;div id=&quot;content&quot;&gt;
<a href="#l20" class="line" id="l20">     20</a> &lt;pre&gt;&lt;b&gt;commit&lt;/b&gt; &lt;a href=&quot;../commit/1d4717a181cecde4b282459d287ee0b88700f51c.html&quot;&gt;1d4717a181cecde4b282459d287ee0b88700f51c&lt;/a&gt;
<a href="#l21" class="line" id="l21">     21</a> &lt;b&gt;parent&lt;/b&gt; &lt;a href=&quot;../commit/a6c3c68684e9d3936d12cb0698b0f52559cacde8.html&quot;&gt;a6c3c68684e9d3936d12cb0698b0f52559cacde8&lt;/a&gt;
<a href="#l22" class="line" id="l22">     22</a> &lt;b&gt;Author:&lt;/b&gt; hectoraldairah &amp;lt;&lt;a href=&quot;mailto:hectoraldairah@protonmail.com&quot;&gt;hectoraldairah@protonmail.com&lt;/a&gt;&amp;gt;
<a href="#l23" class="line" id="l23">     23</a> &lt;b&gt;Date:&lt;/b&gt;   Wed, 19 Jul 2023 18:14:55 -0600
<a href="#l24" class="line" id="l24">     24</a> 
<a href="#l25" class="line" id="l25">     25</a> remove mastodon link
<a href="#l26" class="line" id="l26">     26</a> 
<a href="#l27" class="line" id="l27">     27</a> &lt;b&gt;Diffstat:&lt;/b&gt;
<a href="#l28" class="line" id="l28">     28</a> &lt;table&gt;&lt;tr&gt;&lt;td class=&quot;M&quot;&gt;M&lt;/td&gt;&lt;td&gt;&lt;a href=&quot;#h0&quot;&gt;src/_data/social.json&lt;/a&gt;&lt;/td&gt;&lt;td&gt; | &lt;/td&gt;&lt;td class=&quot;num&quot;&gt;5&lt;/td&gt;&lt;td&gt;&lt;span class=&quot;i&quot;&gt;&lt;/span&gt;&lt;span class=&quot;d&quot;&gt;-----&lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;
<a href="#l29" class="line" id="l29">     29</a> &lt;tr&gt;&lt;td class=&quot;M&quot;&gt;M&lt;/td&gt;&lt;td&gt;&lt;a href=&quot;#h1&quot;&gt;src/_includes/layouts/gym.njk&lt;/a&gt;&lt;/td&gt;&lt;td&gt; | &lt;/td&gt;&lt;td class=&quot;num&quot;&gt;21&lt;/td&gt;&lt;td&gt;&lt;span class=&quot;i&quot;&gt;++++++++&lt;/span&gt;&lt;span class=&quot;d&quot;&gt;-------------&lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;
<a href="#l30" class="line" id="l30">     30</a> &lt;tr&gt;&lt;td class=&quot;M&quot;&gt;M&lt;/td&gt;&lt;td&gt;&lt;a href=&quot;#h2&quot;&gt;src/about/gym/index.md&lt;/a&gt;&lt;/td&gt;&lt;td&gt; | &lt;/td&gt;&lt;td class=&quot;num&quot;&gt;9&lt;/td&gt;&lt;td&gt;&lt;span class=&quot;i&quot;&gt;+++++++++&lt;/span&gt;&lt;span class=&quot;d&quot;&gt;&lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;
<a href="#l31" class="line" id="l31">     31</a> &lt;/table&gt;&lt;/pre&gt;&lt;pre&gt;3 files changed, 17 insertions(+), 18 deletions(-)
<a href="#l32" class="line" id="l32">     32</a> &lt;hr/&gt;&lt;b&gt;diff --git a/&lt;a id=&quot;h0&quot; href=&quot;../file/src/_data/social.json.html&quot;&gt;src/_data/social.json&lt;/a&gt; b/&lt;a href=&quot;../file/src/_data/social.json.html&quot;&gt;src/_data/social.json&lt;/a&gt;&lt;/b&gt;
<a href="#l33" class="line" id="l33">     33</a> &lt;a href=&quot;#h0-0&quot; id=&quot;h0-0&quot; class=&quot;h&quot;&gt;@@ -1,11 +1,6 @@
<a href="#l34" class="line" id="l34">     34</a> &lt;/a&gt; {
<a href="#l35" class="line" id="l35">     35</a>    &amp;quot;items&amp;quot;: [
<a href="#l36" class="line" id="l36">     36</a>      {
<a href="#l37" class="line" id="l37">     37</a> &lt;a href=&quot;#h0-0-3&quot; id=&quot;h0-0-3&quot; class=&quot;d&quot;&gt;-      &amp;quot;url&amp;quot;: &amp;quot;https://hostux.social/@bitbyte&amp;quot;,
<a href="#l38" class="line" id="l38">     38</a> &lt;/a&gt;&lt;a href=&quot;#h0-0-4&quot; id=&quot;h0-0-4&quot; class=&quot;d&quot;&gt;-      &amp;quot;text&amp;quot;: &amp;quot;Mastodon&amp;quot;,
<a href="#l39" class="line" id="l39">     39</a> &lt;/a&gt;&lt;a href=&quot;#h0-0-5&quot; id=&quot;h0-0-5&quot; class=&quot;d&quot;&gt;-      &amp;quot;rel&amp;quot;: &amp;quot;me&amp;quot;
<a href="#l40" class="line" id="l40">     40</a> &lt;/a&gt;&lt;a href=&quot;#h0-0-6&quot; id=&quot;h0-0-6&quot; class=&quot;d&quot;&gt;-    },
<a href="#l41" class="line" id="l41">     41</a> &lt;/a&gt;&lt;a href=&quot;#h0-0-7&quot; id=&quot;h0-0-7&quot; class=&quot;d&quot;&gt;-    {
<a href="#l42" class="line" id="l42">     42</a> &lt;/a&gt;       &amp;quot;url&amp;quot;: &amp;quot;https://codepen.io/hectoraldairah&amp;quot;,
<a href="#l43" class="line" id="l43">     43</a>        &amp;quot;text&amp;quot;: &amp;quot;Codepen&amp;quot;
<a href="#l44" class="line" id="l44">     44</a>      },
<a href="#l45" class="line" id="l45">     45</a> &lt;b&gt;diff --git a/&lt;a id=&quot;h1&quot; href=&quot;../file/src/_includes/layouts/gym.njk.html&quot;&gt;src/_includes/layouts/gym.njk&lt;/a&gt; b/&lt;a href=&quot;../file/src/_includes/layouts/gym.njk.html&quot;&gt;src/_includes/layouts/gym.njk&lt;/a&gt;&lt;/b&gt;
<a href="#l46" class="line" id="l46">     46</a> &lt;a href=&quot;#h1-0&quot; id=&quot;h1-0&quot; class=&quot;h&quot;&gt;@@ -1,18 +1,13 @@
<a href="#l47" class="line" id="l47">     47</a> &lt;/a&gt; {% extends &amp;quot;layouts/base.njk&amp;quot; %} {% block content %}
<a href="#l48" class="line" id="l48">     48</a>  &amp;lt;article class=&amp;quot;constrained&amp;quot;&amp;gt;
<a href="#l49" class="line" id="l49">     49</a> &lt;a href=&quot;#h1-0-2&quot; id=&quot;h1-0-2&quot; class=&quot;d&quot;&gt;-    {% include &amp;quot;partials/page-header.njk&amp;quot; %}
<a href="#l50" class="line" id="l50">     50</a> &lt;/a&gt;&lt;a href=&quot;#h1-0-3&quot; id=&quot;h1-0-3&quot; class=&quot;d&quot;&gt;-    &amp;lt;p&amp;gt;
<a href="#l51" class="line" id="l51">     51</a> &lt;/a&gt;&lt;a href=&quot;#h1-0-4&quot; id=&quot;h1-0-4&quot; class=&quot;d&quot;&gt;-        This is my gym log section where I keep tracking (and hopefully)
<a href="#l52" class="line" id="l52">     52</a> &lt;/a&gt;&lt;a href=&quot;#h1-0-5&quot; id=&quot;h1-0-5&quot; class=&quot;d&quot;&gt;-        progress on my fitness goals.
<a href="#l53" class="line" id="l53">     53</a> &lt;/a&gt;&lt;a href=&quot;#h1-0-6&quot; id=&quot;h1-0-6&quot; class=&quot;d&quot;&gt;-    &amp;lt;/p&amp;gt;
<a href="#l54" class="line" id="l54">     54</a> &lt;/a&gt;&lt;a href=&quot;#h1-0-7&quot; id=&quot;h1-0-7&quot; class=&quot;i&quot;&gt;+  {% include &amp;quot;partials/page-header.njk&amp;quot; %}
<a href="#l55" class="line" id="l55">     55</a> &lt;/a&gt;&lt;a href=&quot;#h1-0-8&quot; id=&quot;h1-0-8&quot; class=&quot;i&quot;&gt;+  &amp;lt;p&amp;gt;
<a href="#l56" class="line" id="l56">     56</a> &lt;/a&gt;&lt;a href=&quot;#h1-0-9&quot; id=&quot;h1-0-9&quot; class=&quot;i&quot;&gt;+    This is my gym log section where I keep tracking (and hopefully) progress on
<a href="#l57" class="line" id="l57">     57</a> &lt;/a&gt;&lt;a href=&quot;#h1-0-10&quot; id=&quot;h1-0-10&quot; class=&quot;i&quot;&gt;+    my fitness goals.
<a href="#l58" class="line" id="l58">     58</a> &lt;/a&gt;&lt;a href=&quot;#h1-0-11&quot; id=&quot;h1-0-11&quot; class=&quot;i&quot;&gt;+  &amp;lt;/p&amp;gt;
<a href="#l59" class="line" id="l59">     59</a> &lt;/a&gt;
<a href="#l60" class="line" id="l60">     60</a> &lt;a href=&quot;#h1-0-13&quot; id=&quot;h1-0-13&quot; class=&quot;d&quot;&gt;-    &amp;lt;section class=&amp;quot;log-section&amp;quot;&amp;gt;
<a href="#l61" class="line" id="l61">     61</a> &lt;/a&gt;&lt;a href=&quot;#h1-0-14&quot; id=&quot;h1-0-14&quot; class=&quot;d&quot;&gt;-        &amp;lt;img
<a href="#l62" class="line" id="l62">     62</a> &lt;/a&gt;&lt;a href=&quot;#h1-0-15&quot; id=&quot;h1-0-15&quot; class=&quot;d&quot;&gt;-            class=&amp;quot;responsive-image&amp;quot;
<a href="#l63" class="line" id="l63">     63</a> &lt;/a&gt;&lt;a href=&quot;#h1-0-16&quot; id=&quot;h1-0-16&quot; class=&quot;d&quot;&gt;-            src=&amp;quot;{{&amp;#39;/assets/images/construction.gif&amp;#39; | url }}&amp;quot;
<a href="#l64" class="line" id="l64">     64</a> &lt;/a&gt;&lt;a href=&quot;#h1-0-17&quot; id=&quot;h1-0-17&quot; class=&quot;d&quot;&gt;-            alt=&amp;quot;Héctor Aguilar&amp;quot;
<a href="#l65" class="line" id="l65">     65</a> &lt;/a&gt;&lt;a href=&quot;#h1-0-18&quot; id=&quot;h1-0-18&quot; class=&quot;d&quot;&gt;-        /&amp;gt;
<a href="#l66" class="line" id="l66">     66</a> &lt;/a&gt;&lt;a href=&quot;#h1-0-19&quot; id=&quot;h1-0-19&quot; class=&quot;d&quot;&gt;-        &amp;lt;p&amp;gt;This section is... well you know it&amp;lt;/p&amp;gt;
<a href="#l67" class="line" id="l67">     67</a> &lt;/a&gt;&lt;a href=&quot;#h1-0-20&quot; id=&quot;h1-0-20&quot; class=&quot;d&quot;&gt;-    &amp;lt;/section&amp;gt;
<a href="#l68" class="line" id="l68">     68</a> &lt;/a&gt;&lt;a href=&quot;#h1-0-21&quot; id=&quot;h1-0-21&quot; class=&quot;i&quot;&gt;+  &amp;lt;section class=&amp;quot;log-section&amp;quot;&amp;gt;
<a href="#l69" class="line" id="l69">     69</a> &lt;/a&gt;&lt;a href=&quot;#h1-0-22&quot; id=&quot;h1-0-22&quot; class=&quot;i&quot;&gt;+    {{content | safe}}
<a href="#l70" class="line" id="l70">     70</a> &lt;/a&gt;&lt;a href=&quot;#h1-0-23&quot; id=&quot;h1-0-23&quot; class=&quot;i&quot;&gt;+  &amp;lt;/section&amp;gt;
<a href="#l71" class="line" id="l71">     71</a> &lt;/a&gt; &amp;lt;/article&amp;gt;
<a href="#l72" class="line" id="l72">     72</a>  {% endblock %}
<a href="#l73" class="line" id="l73">     73</a> &lt;b&gt;diff --git a/&lt;a id=&quot;h2&quot; href=&quot;../file/src/about/gym/index.md.html&quot;&gt;src/about/gym/index.md&lt;/a&gt; b/&lt;a href=&quot;../file/src/about/gym/index.md.html&quot;&gt;src/about/gym/index.md&lt;/a&gt;&lt;/b&gt;
<a href="#l74" class="line" id="l74">     74</a> &lt;a href=&quot;#h2-0&quot; id=&quot;h2-0&quot; class=&quot;h&quot;&gt;@@ -6,3 +6,12 @@ metaDesc: &amp;#39;A gym log to keep track of my fitness progress&amp;#39;
<a href="#l75" class="line" id="l75">     75</a> &lt;/a&gt; pageHeaderTitle: &amp;#39;Gym logs&amp;#39;
<a href="#l76" class="line" id="l76">     76</a>  pageHeaderSummary: &amp;#39;Do you even lift brah?&amp;#39;
<a href="#l77" class="line" id="l77">     77</a>  ---
<a href="#l78" class="line" id="l78">     78</a> &lt;a href=&quot;#h2-0-3&quot; id=&quot;h2-0-3&quot; class=&quot;i&quot;&gt;+
<a href="#l79" class="line" id="l79">     79</a> &lt;/a&gt;&lt;a href=&quot;#h2-0-4&quot; id=&quot;h2-0-4&quot; class=&quot;i&quot;&gt;+| title     | start_time | end_time | description       | exercise_title | superset_id | exercise_notes                | set_index | set_type    | weight_kg | reps | distance_km | duration_seconds | rpe |
<a href="#l80" class="line" id="l80">     80</a> &lt;/a&gt;&lt;a href=&quot;#h2-0-5&quot; id=&quot;h2-0-5&quot; class=&quot;i&quot;&gt;+| --------- | ---------- | -------- | ----------------- | -------------- | ----------- | ----------------------------- | --------- | ----------- | --------- | ---- | ----------- | ---------------- | --- |
<a href="#l81" class="line" id="l81">     81</a> &lt;/a&gt;&lt;a href=&quot;#h2-0-6&quot; id=&quot;h2-0-6&quot; class=&quot;i&quot;&gt;+| Workout 1 | 10:00 AM   | 11:00 AM | Full body workout | Squats         | 1           | Start with light warm-up sets | 1         | Warm-up     | -         | -    | -           | -                | -   |
<a href="#l82" class="line" id="l82">     82</a> &lt;/a&gt;&lt;a href=&quot;#h2-0-7&quot; id=&quot;h2-0-7&quot; class=&quot;i&quot;&gt;+| Workout 1 | 10:00 AM   | 11:00 AM | Full body workout | Squats         | 1           | Increase weight gradually     | 2         | Working Set | 80        | 8    | -           | -                | -   |
<a href="#l83" class="line" id="l83">     83</a> &lt;/a&gt;&lt;a href=&quot;#h2-0-8&quot; id=&quot;h2-0-8&quot; class=&quot;i&quot;&gt;+| Workout 1 | 10:00 AM   | 11:00 AM | Full body workout | Squats         | 1           | Final set, push to failure    | 3         | Working Set | 90        | 6    | -           | -                | -   |
<a href="#l84" class="line" id="l84">     84</a> &lt;/a&gt;&lt;a href=&quot;#h2-0-9&quot; id=&quot;h2-0-9&quot; class=&quot;i&quot;&gt;+| Workout 1 | 10:00 AM   | 11:00 AM | Full body workout | Bench Press    | 1           | Start with light warm-up sets | 1         | Warm-up     | -         | -    | -           | -                | -   |
<a href="#l85" class="line" id="l85">     85</a> &lt;/a&gt;&lt;a href=&quot;#h2-0-10&quot; id=&quot;h2-0-10&quot; class=&quot;i&quot;&gt;+| Workout 1 | 10:00 AM   | 11:00 AM | Full body workout | Bench Press    | 1           | Increase weight gradually     | 2         | Working Set | 60        | 10   | -           | -                | -   |
<a href="#l86" class="line" id="l86">     86</a> &lt;/a&gt;&lt;a href=&quot;#h2-0-11&quot; id=&quot;h2-0-11&quot; class=&quot;i&quot;&gt;+| Workout 1 | 10:00 AM   | 11:00 AM | Full body workout | Bench Press    | 1           | Final set, push to failure    | 3         | Working Set | 70        | 8    | -           | -                | -   |
<a href="#l87" class="line" id="l87">     87</a> &lt;/a&gt;&lt;/pre&gt;
<a href="#l88" class="line" id="l88">     88</a> &lt;/div&gt;
<a href="#l89" class="line" id="l89">     89</a> &lt;/body&gt;
<a href="#l90" class="line" id="l90">     90</a> &lt;/html&gt;
</pre>
</div>
</body>
</html>
