<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>94483e54c1bd5ef479e52d749c02b675b2a9283a.html - bitbyte-blog - Unnamed repository; edit this file &#39;description&#39; to name the repository.
</title>
<link rel="icon" type="image/png" href="../../../../favicon.png" />
<link rel="alternate" type="application/atom+xml" title="bitbyte-blog Atom Feed" href="../../../../atom.xml" />
<link rel="alternate" type="application/atom+xml" title="bitbyte-blog Atom Feed (tags)" href="../../../../tags.xml" />
<link rel="stylesheet" type="text/css" href="../../../../style.css" />
</head>
<body>
<table><tr><td><a href="../../../../../"><img src="../../../../logo.png" alt="" width="32" height="32" /></a></td><td><h1>bitbyte-blog</h1><span class="desc">Unnamed repository; edit this file &#39;description&#39; to name the repository.
</span></td></tr><tr><td></td><td>
<a href="../../../../log.html">Log</a> | <a href="../../../../files.html">Files</a> | <a href="../../../../refs.html">Refs</a> | <a href="../../../../file/LICENSE.html">LICENSE</a></td></tr></table>
<hr/>
<div id="content">
<p> 94483e54c1bd5ef479e52d749c02b675b2a9283a.html (15587B)</p><hr/><pre id="blob">
<a href="#l1" class="line" id="l1">      1</a> &lt;!DOCTYPE html&gt;
<a href="#l2" class="line" id="l2">      2</a> &lt;html&gt;
<a href="#l3" class="line" id="l3">      3</a> &lt;head&gt;
<a href="#l4" class="line" id="l4">      4</a> &lt;link rel=&quot;stylesheet&quot; type=&quot;text/css&quot; href=&quot;../styles/log.css&quot; /&gt;
<a href="#l5" class="line" id="l5">      5</a> &lt;meta http-equiv=&quot;Content-Type&quot; content=&quot;text/html; charset=UTF-8&quot; /&gt;
<a href="#l6" class="line" id="l6">      6</a> &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1&quot; /&gt;
<a href="#l7" class="line" id="l7">      7</a> &lt;title&gt;pixel art section - bitbyte-blog - Unnamed repository; edit this file &amp;#39;description&amp;#39; to name the repository.
<a href="#l8" class="line" id="l8">      8</a> &lt;/title&gt;
<a href="#l9" class="line" id="l9">      9</a> &lt;link rel=&quot;icon&quot; type=&quot;image/png&quot; href=&quot;../favicon.png&quot; /&gt;
<a href="#l10" class="line" id="l10">     10</a> &lt;link rel=&quot;alternate&quot; type=&quot;application/atom+xml&quot; title=&quot;bitbyte-blog Atom Feed&quot; href=&quot;../atom.xml&quot; /&gt;
<a href="#l11" class="line" id="l11">     11</a> &lt;link rel=&quot;alternate&quot; type=&quot;application/atom+xml&quot; title=&quot;bitbyte-blog Atom Feed (tags)&quot; href=&quot;../tags.xml&quot; /&gt;
<a href="#l12" class="line" id="l12">     12</a> &lt;link rel=&quot;stylesheet&quot; type=&quot;text/css&quot; href=&quot;../style.css&quot; /&gt;
<a href="#l13" class="line" id="l13">     13</a> &lt;/head&gt;
<a href="#l14" class="line" id="l14">     14</a> &lt;body&gt;
<a href="#l15" class="line" id="l15">     15</a> &lt;table&gt;&lt;tr&gt;&lt;td&gt;&lt;a href=&quot;../../&quot;&gt;&lt;img src=&quot;../logo.png&quot; alt=&quot;&quot; width=&quot;32&quot; height=&quot;32&quot; /&gt;&lt;/a&gt;&lt;/td&gt;&lt;td&gt;&lt;h1&gt;bitbyte-blog&lt;/h1&gt;&lt;span class=&quot;desc&quot;&gt;Unnamed repository; edit this file &amp;#39;description&amp;#39; to name the repository.
<a href="#l16" class="line" id="l16">     16</a> &lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;/td&gt;&lt;td&gt;
<a href="#l17" class="line" id="l17">     17</a> &lt;a href=&quot;../log.html&quot;&gt;Log&lt;/a&gt; | &lt;a href=&quot;../files.html&quot;&gt;Files&lt;/a&gt; | &lt;a href=&quot;../refs.html&quot;&gt;Refs&lt;/a&gt; | &lt;a href=&quot;../file/LICENSE.html&quot;&gt;LICENSE&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;
<a href="#l18" class="line" id="l18">     18</a> &lt;hr/&gt;
<a href="#l19" class="line" id="l19">     19</a> &lt;div id=&quot;content&quot;&gt;
<a href="#l20" class="line" id="l20">     20</a> &lt;pre&gt;&lt;b&gt;commit&lt;/b&gt; &lt;a href=&quot;../commit/94483e54c1bd5ef479e52d749c02b675b2a9283a.html&quot;&gt;94483e54c1bd5ef479e52d749c02b675b2a9283a&lt;/a&gt;
<a href="#l21" class="line" id="l21">     21</a> &lt;b&gt;parent&lt;/b&gt; &lt;a href=&quot;../commit/aafea9f0c3a7f519a3680daf804b841e9e8c8052.html&quot;&gt;aafea9f0c3a7f519a3680daf804b841e9e8c8052&lt;/a&gt;
<a href="#l22" class="line" id="l22">     22</a> &lt;b&gt;Author:&lt;/b&gt; hectoraldairah &amp;lt;&lt;a href=&quot;mailto:hectoraldairah@protonmail.com&quot;&gt;hectoraldairah@protonmail.com&lt;/a&gt;&amp;gt;
<a href="#l23" class="line" id="l23">     23</a> &lt;b&gt;Date:&lt;/b&gt;   Fri, 10 Jun 2022 15:46:52 -0500
<a href="#l24" class="line" id="l24">     24</a> 
<a href="#l25" class="line" id="l25">     25</a> pixel art section
<a href="#l26" class="line" id="l26">     26</a> 
<a href="#l27" class="line" id="l27">     27</a> &lt;b&gt;Diffstat:&lt;/b&gt;
<a href="#l28" class="line" id="l28">     28</a> &lt;table&gt;&lt;tr&gt;&lt;td class=&quot;M&quot;&gt;M&lt;/td&gt;&lt;td&gt;&lt;a href=&quot;#h0&quot;&gt;.eleventy.js&lt;/a&gt;&lt;/td&gt;&lt;td&gt; | &lt;/td&gt;&lt;td class=&quot;num&quot;&gt;62&lt;/td&gt;&lt;td&gt;&lt;span class=&quot;i&quot;&gt;++++++++++++++++++++++++++++++++++++++&lt;/span&gt;&lt;span class=&quot;d&quot;&gt;------------------------&lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;
<a href="#l29" class="line" id="l29">     29</a> &lt;tr&gt;&lt;td class=&quot;M&quot;&gt;M&lt;/td&gt;&lt;td&gt;&lt;a href=&quot;#h1&quot;&gt;src/_includes/layouts/pixelart.njk&lt;/a&gt;&lt;/td&gt;&lt;td&gt; | &lt;/td&gt;&lt;td class=&quot;num&quot;&gt;1&lt;/td&gt;&lt;td&gt;&lt;span class=&quot;i&quot;&gt;&lt;/span&gt;&lt;span class=&quot;d&quot;&gt;-&lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;
<a href="#l30" class="line" id="l30">     30</a> &lt;tr&gt;&lt;td class=&quot;M&quot;&gt;M&lt;/td&gt;&lt;td&gt;&lt;a href=&quot;#h2&quot;&gt;src/feed.njk&lt;/a&gt;&lt;/td&gt;&lt;td&gt; | &lt;/td&gt;&lt;td class=&quot;num&quot;&gt;9&lt;/td&gt;&lt;td&gt;&lt;span class=&quot;i&quot;&gt;++++&lt;/span&gt;&lt;span class=&quot;d&quot;&gt;-----&lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;
<a href="#l31" class="line" id="l31">     31</a> &lt;tr&gt;&lt;td class=&quot;D&quot;&gt;D&lt;/td&gt;&lt;td&gt;&lt;a href=&quot;#h3&quot;&gt;src/pixelart/amongos/amogus.png&lt;/a&gt;&lt;/td&gt;&lt;td&gt; | &lt;/td&gt;&lt;td class=&quot;num&quot;&gt;0&lt;/td&gt;&lt;td&gt;&lt;span class=&quot;i&quot;&gt;&lt;/span&gt;&lt;span class=&quot;d&quot;&gt;&lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;
<a href="#l32" class="line" id="l32">     32</a> &lt;tr&gt;&lt;td class=&quot;D&quot;&gt;D&lt;/td&gt;&lt;td&gt;&lt;a href=&quot;#h4&quot;&gt;src/pixelart/amongos/amongos.md&lt;/a&gt;&lt;/td&gt;&lt;td&gt; | &lt;/td&gt;&lt;td class=&quot;num&quot;&gt;10&lt;/td&gt;&lt;td&gt;&lt;span class=&quot;i&quot;&gt;&lt;/span&gt;&lt;span class=&quot;d&quot;&gt;----------&lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;
<a href="#l33" class="line" id="l33">     33</a> &lt;tr&gt;&lt;td class=&quot;D&quot;&gt;D&lt;/td&gt;&lt;td&gt;&lt;a href=&quot;#h5&quot;&gt;src/pixelart/bug/bug.md&lt;/a&gt;&lt;/td&gt;&lt;td&gt; | &lt;/td&gt;&lt;td class=&quot;num&quot;&gt;11&lt;/td&gt;&lt;td&gt;&lt;span class=&quot;i&quot;&gt;&lt;/span&gt;&lt;span class=&quot;d&quot;&gt;-----------&lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;
<a href="#l34" class="line" id="l34">     34</a> &lt;tr&gt;&lt;td class=&quot;D&quot;&gt;D&lt;/td&gt;&lt;td&gt;&lt;a href=&quot;#h6&quot;&gt;src/pixelart/bug/demon.gif&lt;/a&gt;&lt;/td&gt;&lt;td&gt; | &lt;/td&gt;&lt;td class=&quot;num&quot;&gt;0&lt;/td&gt;&lt;td&gt;&lt;span class=&quot;i&quot;&gt;&lt;/span&gt;&lt;span class=&quot;d&quot;&gt;&lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;
<a href="#l35" class="line" id="l35">     35</a> &lt;tr&gt;&lt;td class=&quot;M&quot;&gt;M&lt;/td&gt;&lt;td&gt;&lt;a href=&quot;#h7&quot;&gt;src/robots.txt&lt;/a&gt;&lt;/td&gt;&lt;td&gt; | &lt;/td&gt;&lt;td class=&quot;num&quot;&gt;4&lt;/td&gt;&lt;td&gt;&lt;span class=&quot;i&quot;&gt;+&lt;/span&gt;&lt;span class=&quot;d&quot;&gt;---&lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;
<a href="#l36" class="line" id="l36">     36</a> &lt;/table&gt;&lt;/pre&gt;&lt;pre&gt;8 files changed, 43 insertions(+), 54 deletions(-)
<a href="#l37" class="line" id="l37">     37</a> &lt;hr/&gt;&lt;b&gt;diff --git a/&lt;a id=&quot;h0&quot; href=&quot;../file/.eleventy.js.html&quot;&gt;.eleventy.js&lt;/a&gt; b/&lt;a href=&quot;../file/.eleventy.js.html&quot;&gt;.eleventy.js&lt;/a&gt;&lt;/b&gt;
<a href="#l38" class="line" id="l38">     38</a> &lt;a href=&quot;#h0-0&quot; id=&quot;h0-0&quot; class=&quot;h&quot;&gt;@@ -1,13 +1,16 @@
<a href="#l39" class="line" id="l39">     39</a> &lt;/a&gt;&lt;a href=&quot;#h0-0-0&quot; id=&quot;h0-0-0&quot; class=&quot;d&quot;&gt;-const fs = require(&amp;quot;fs&amp;quot;);
<a href="#l40" class="line" id="l40">     40</a> &lt;/a&gt;&lt;a href=&quot;#h0-0-1&quot; id=&quot;h0-0-1&quot; class=&quot;i&quot;&gt;+const fs = require(&amp;#39;fs&amp;#39;);
<a href="#l41" class="line" id="l41">     41</a> &lt;/a&gt;
<a href="#l42" class="line" id="l42">     42</a> &lt;a href=&quot;#h0-0-3&quot; id=&quot;h0-0-3&quot; class=&quot;d&quot;&gt;-const pluginImage = require(&amp;quot;@11ty/eleventy-img&amp;quot;);
<a href="#l43" class="line" id="l43">     43</a> &lt;/a&gt;&lt;a href=&quot;#h0-0-4&quot; id=&quot;h0-0-4&quot; class=&quot;d&quot;&gt;-const pluginNavigation = require(&amp;quot;@11ty/eleventy-navigation&amp;quot;);
<a href="#l44" class="line" id="l44">     44</a> &lt;/a&gt;&lt;a href=&quot;#h0-0-5&quot; id=&quot;h0-0-5&quot; class=&quot;d&quot;&gt;-const pluginRSS = require(&amp;quot;@11ty/eleventy-plugin-rss&amp;quot;);
<a href="#l45" class="line" id="l45">     45</a> &lt;/a&gt;&lt;a href=&quot;#h0-0-6&quot; id=&quot;h0-0-6&quot; class=&quot;i&quot;&gt;+const pluginImage = require(&amp;#39;@11ty/eleventy-img&amp;#39;);
<a href="#l46" class="line" id="l46">     46</a> &lt;/a&gt;&lt;a href=&quot;#h0-0-7&quot; id=&quot;h0-0-7&quot; class=&quot;i&quot;&gt;+const pluginNavigation = require(&amp;#39;@11ty/eleventy-navigation&amp;#39;);
<a href="#l47" class="line" id="l47">     47</a> &lt;/a&gt;&lt;a href=&quot;#h0-0-8&quot; id=&quot;h0-0-8&quot; class=&quot;i&quot;&gt;+const pluginRSS = require(&amp;#39;@11ty/eleventy-plugin-rss&amp;#39;);
<a href="#l48" class="line" id="l48">     48</a> &lt;/a&gt;
<a href="#l49" class="line" id="l49">     49</a> &lt;a href=&quot;#h0-0-10&quot; id=&quot;h0-0-10&quot; class=&quot;d&quot;&gt;-const filters = require(&amp;quot;./src/utils/filters&amp;quot;);
<a href="#l50" class="line" id="l50">     50</a> &lt;/a&gt;&lt;a href=&quot;#h0-0-11&quot; id=&quot;h0-0-11&quot; class=&quot;d&quot;&gt;-const markdown = require(&amp;quot;./src/utils/markdown&amp;quot;);
<a href="#l51" class="line" id="l51">     51</a> &lt;/a&gt;&lt;a href=&quot;#h0-0-12&quot; id=&quot;h0-0-12&quot; class=&quot;i&quot;&gt;+const filters = require(&amp;#39;./src/utils/filters&amp;#39;);
<a href="#l52" class="line" id="l52">     52</a> &lt;/a&gt;&lt;a href=&quot;#h0-0-13&quot; id=&quot;h0-0-13&quot; class=&quot;i&quot;&gt;+const markdown = require(&amp;#39;./src/utils/markdown&amp;#39;);
<a href="#l53" class="line" id="l53">     53</a> &lt;/a&gt;
<a href="#l54" class="line" id="l54">     54</a> &lt;a href=&quot;#h0-0-15&quot; id=&quot;h0-0-15&quot; class=&quot;d&quot;&gt;-const CONTENT_GLOBS = { post: &amp;quot;./src/posts/**/*.md&amp;quot;, pixelart: &amp;quot;./src/pixelart/**/*.md&amp;quot; };
<a href="#l55" class="line" id="l55">     55</a> &lt;/a&gt;&lt;a href=&quot;#h0-0-16&quot; id=&quot;h0-0-16&quot; class=&quot;i&quot;&gt;+const CONTENT_GLOBS = {
<a href="#l56" class="line" id="l56">     56</a> &lt;/a&gt;&lt;a href=&quot;#h0-0-17&quot; id=&quot;h0-0-17&quot; class=&quot;i&quot;&gt;+  post: &amp;#39;./src/posts/**/*.md&amp;#39;,
<a href="#l57" class="line" id="l57">     57</a> &lt;/a&gt;&lt;a href=&quot;#h0-0-18&quot; id=&quot;h0-0-18&quot; class=&quot;i&quot;&gt;+  pixelart: &amp;#39;./src/pixelart/**/*.md&amp;#39;,
<a href="#l58" class="line" id="l58">     58</a> &lt;/a&gt;&lt;a href=&quot;#h0-0-19&quot; id=&quot;h0-0-19&quot; class=&quot;i&quot;&gt;+};
<a href="#l59" class="line" id="l59">     59</a> &lt;/a&gt;
<a href="#l60" class="line" id="l60">     60</a>  module.exports = (config) =&amp;gt; {
<a href="#l61" class="line" id="l61">     61</a>    // Plugins
<a href="#l62" class="line" id="l62">     62</a> &lt;a href=&quot;#h0-1&quot; id=&quot;h0-1&quot; class=&quot;h&quot;&gt;@@ -15,11 +18,11 @@ module.exports = (config) =&amp;gt; {
<a href="#l63" class="line" id="l63">     63</a> &lt;/a&gt;   config.addPlugin(pluginRSS);
<a href="#l64" class="line" id="l64">     64</a> 
<a href="#l65" class="line" id="l65">     65</a>    // Set directories to pass through to the dist folder
<a href="#l66" class="line" id="l66">     66</a> &lt;a href=&quot;#h0-1-3&quot; id=&quot;h0-1-3&quot; class=&quot;d&quot;&gt;-  config.addPassthroughCopy(&amp;quot;./src/images/&amp;quot;);
<a href="#l67" class="line" id="l67">     67</a> &lt;/a&gt;&lt;a href=&quot;#h0-1-4&quot; id=&quot;h0-1-4&quot; class=&quot;d&quot;&gt;-  config.addPassthroughCopy(&amp;quot;./src/assets/&amp;quot;);
<a href="#l68" class="line" id="l68">     68</a> &lt;/a&gt;&lt;a href=&quot;#h0-1-5&quot; id=&quot;h0-1-5&quot; class=&quot;d&quot;&gt;-  config.addPassthroughCopy(&amp;quot;./src/icons/&amp;quot;);
<a href="#l69" class="line" id="l69">     69</a> &lt;/a&gt;&lt;a href=&quot;#h0-1-6&quot; id=&quot;h0-1-6&quot; class=&quot;d&quot;&gt;-  config.addPassthroughCopy(&amp;quot;./src/fonts/&amp;quot;);
<a href="#l70" class="line" id="l70">     70</a> &lt;/a&gt;&lt;a href=&quot;#h0-1-7&quot; id=&quot;h0-1-7&quot; class=&quot;d&quot;&gt;-  config.addPassthroughCopy(&amp;quot;./src/pixelart/&amp;quot;);
<a href="#l71" class="line" id="l71">     71</a> &lt;/a&gt;&lt;a href=&quot;#h0-1-8&quot; id=&quot;h0-1-8&quot; class=&quot;i&quot;&gt;+  config.addPassthroughCopy(&amp;#39;./src/images/&amp;#39;);
<a href="#l72" class="line" id="l72">     72</a> &lt;/a&gt;&lt;a href=&quot;#h0-1-9&quot; id=&quot;h0-1-9&quot; class=&quot;i&quot;&gt;+  config.addPassthroughCopy(&amp;#39;./src/assets/&amp;#39;);
<a href="#l73" class="line" id="l73">     73</a> &lt;/a&gt;&lt;a href=&quot;#h0-1-10&quot; id=&quot;h0-1-10&quot; class=&quot;i&quot;&gt;+  config.addPassthroughCopy(&amp;#39;./src/icons/&amp;#39;);
<a href="#l74" class="line" id="l74">     74</a> &lt;/a&gt;&lt;a href=&quot;#h0-1-11&quot; id=&quot;h0-1-11&quot; class=&quot;i&quot;&gt;+  config.addPassthroughCopy(&amp;#39;./src/fonts/&amp;#39;);
<a href="#l75" class="line" id="l75">     75</a> &lt;/a&gt;&lt;a href=&quot;#h0-1-12&quot; id=&quot;h0-1-12&quot; class=&quot;i&quot;&gt;+  config.addPassthroughCopy(&amp;#39;./src/pixelart/&amp;#39;);
<a href="#l76" class="line" id="l76">     76</a> &lt;/a&gt;
<a href="#l77" class="line" id="l77">     77</a>    // Add filters
<a href="#l78" class="line" id="l78">     78</a>    Object.keys(filters).forEach((filterName) =&amp;gt; {
<a href="#l79" class="line" id="l79">     79</a> &lt;a href=&quot;#h0-2&quot; id=&quot;h0-2&quot; class=&quot;h&quot;&gt;@@ -27,36 +30,47 @@ module.exports = (config) =&amp;gt; {
<a href="#l80" class="line" id="l80">     80</a> &lt;/a&gt;   });
<a href="#l81" class="line" id="l81">     81</a> 
<a href="#l82" class="line" id="l82">     82</a>    // Markdown Passing
<a href="#l83" class="line" id="l83">     83</a> &lt;a href=&quot;#h0-2-3&quot; id=&quot;h0-2-3&quot; class=&quot;d&quot;&gt;-  config.setLibrary(&amp;quot;md&amp;quot;, markdown);
<a href="#l84" class="line" id="l84">     84</a> &lt;/a&gt;&lt;a href=&quot;#h0-2-4&quot; id=&quot;h0-2-4&quot; class=&quot;i&quot;&gt;+  config.setLibrary(&amp;#39;md&amp;#39;, markdown);
<a href="#l85" class="line" id="l85">     85</a> &lt;/a&gt;
<a href="#l86" class="line" id="l86">     86</a>    // Returns a collection of blog posts in reverse date order
<a href="#l87" class="line" id="l87">     87</a> &lt;a href=&quot;#h0-2-7&quot; id=&quot;h0-2-7&quot; class=&quot;d&quot;&gt;-  config.addCollection(&amp;quot;blog&amp;quot;, (collection) =&amp;gt; {
<a href="#l88" class="line" id="l88">     88</a> &lt;/a&gt;&lt;a href=&quot;#h0-2-8&quot; id=&quot;h0-2-8&quot; class=&quot;i&quot;&gt;+  config.addCollection(&amp;#39;blog&amp;#39;, (collection) =&amp;gt; {
<a href="#l89" class="line" id="l89">     89</a> &lt;/a&gt;     return [...collection.getFilteredByGlob(CONTENT_GLOBS.post)].reverse();
<a href="#l90" class="line" id="l90">     90</a>    });
<a href="#l91" class="line" id="l91">     91</a> 
<a href="#l92" class="line" id="l92">     92</a> &lt;a href=&quot;#h0-2-12&quot; id=&quot;h0-2-12&quot; class=&quot;d&quot;&gt;-  config.addCollection(&amp;quot;featured&amp;quot;, (collection) =&amp;gt; {
<a href="#l93" class="line" id="l93">     93</a> &lt;/a&gt;&lt;a href=&quot;#h0-2-13&quot; id=&quot;h0-2-13&quot; class=&quot;i&quot;&gt;+  config.addCollection(&amp;#39;featured&amp;#39;, (collection) =&amp;gt; {
<a href="#l94" class="line" id="l94">     94</a> &lt;/a&gt;     return collection
<a href="#l95" class="line" id="l95">     95</a>        .getFilteredByGlob(CONTENT_GLOBS.post)
<a href="#l96" class="line" id="l96">     96</a>        .filter((item) =&amp;gt; item.data.featured)
<a href="#l97" class="line" id="l97">     97</a>        .sort((a, b) =&amp;gt; b.date - a.date);
<a href="#l98" class="line" id="l98">     98</a>    });
<a href="#l99" class="line" id="l99">     99</a> 
<a href="#l100" class="line" id="l100">    100</a> &lt;a href=&quot;#h0-2-20&quot; id=&quot;h0-2-20&quot; class=&quot;d&quot;&gt;-  config.addCollection(&amp;quot;pixelart&amp;quot;, (collection) =&amp;gt; {
<a href="#l101" class="line" id="l101">    101</a> &lt;/a&gt;&lt;a href=&quot;#h0-2-21&quot; id=&quot;h0-2-21&quot; class=&quot;d&quot;&gt;-    return [...collection.getFilteredByGlob(CONTENT_GLOBS.pixelart)].reverse()
<a href="#l102" class="line" id="l102">    102</a> &lt;/a&gt;&lt;a href=&quot;#h0-2-22&quot; id=&quot;h0-2-22&quot; class=&quot;i&quot;&gt;+  config.addCollection(&amp;#39;pixelart&amp;#39;, (collection) =&amp;gt; {
<a href="#l103" class="line" id="l103">    103</a> &lt;/a&gt;&lt;a href=&quot;#h0-2-23&quot; id=&quot;h0-2-23&quot; class=&quot;i&quot;&gt;+    return [...collection.getFilteredByGlob(CONTENT_GLOBS.pixelart)].reverse();
<a href="#l104" class="line" id="l104">    104</a> &lt;/a&gt;&lt;a href=&quot;#h0-2-24&quot; id=&quot;h0-2-24&quot; class=&quot;i&quot;&gt;+  });
<a href="#l105" class="line" id="l105">    105</a> &lt;/a&gt;&lt;a href=&quot;#h0-2-25&quot; id=&quot;h0-2-25&quot; class=&quot;i&quot;&gt;+
<a href="#l106" class="line" id="l106">    106</a> &lt;/a&gt;&lt;a href=&quot;#h0-2-26&quot; id=&quot;h0-2-26&quot; class=&quot;i&quot;&gt;+  config.addCollection(&amp;#39;publish&amp;#39;, (collection) =&amp;gt; {
<a href="#l107" class="line" id="l107">    107</a> &lt;/a&gt;&lt;a href=&quot;#h0-2-27&quot; id=&quot;h0-2-27&quot; class=&quot;i&quot;&gt;+    const pixelart = [
<a href="#l108" class="line" id="l108">    108</a> &lt;/a&gt;&lt;a href=&quot;#h0-2-28&quot; id=&quot;h0-2-28&quot; class=&quot;i&quot;&gt;+      ...collection.getFilteredByGlob(CONTENT_GLOBS.pixelart),
<a href="#l109" class="line" id="l109">    109</a> &lt;/a&gt;&lt;a href=&quot;#h0-2-29&quot; id=&quot;h0-2-29&quot; class=&quot;i&quot;&gt;+    ].reverse();
<a href="#l110" class="line" id="l110">    110</a> &lt;/a&gt;&lt;a href=&quot;#h0-2-30&quot; id=&quot;h0-2-30&quot; class=&quot;i&quot;&gt;+    const blog = [
<a href="#l111" class="line" id="l111">    111</a> &lt;/a&gt;&lt;a href=&quot;#h0-2-31&quot; id=&quot;h0-2-31&quot; class=&quot;i&quot;&gt;+      ...collection.getFilteredByGlob(CONTENT_GLOBS.post),
<a href="#l112" class="line" id="l112">    112</a> &lt;/a&gt;&lt;a href=&quot;#h0-2-32&quot; id=&quot;h0-2-32&quot; class=&quot;i&quot;&gt;+    ].reverse();
<a href="#l113" class="line" id="l113">    113</a> &lt;/a&gt;&lt;a href=&quot;#h0-2-33&quot; id=&quot;h0-2-33&quot; class=&quot;i&quot;&gt;+    return [...pixelart, ...blog].reverse();
<a href="#l114" class="line" id="l114">    114</a> &lt;/a&gt;   });
<a href="#l115" class="line" id="l115">    115</a> &lt;a href=&quot;#h0-2-35&quot; id=&quot;h0-2-35&quot; class=&quot;i&quot;&gt;+
<a href="#l116" class="line" id="l116">    116</a> &lt;/a&gt;   // Tell 11ty to use the .eleventyignore and ignore our .gitignore file
<a href="#l117" class="line" id="l117">    117</a>    config.setUseGitIgnore(false);
<a href="#l118" class="line" id="l118">    118</a> 
<a href="#l119" class="line" id="l119">    119</a> &lt;a href=&quot;#h0-2-39&quot; id=&quot;h0-2-39&quot; class=&quot;d&quot;&gt;-  config.on(&amp;quot;afterBuild&amp;quot;, () =&amp;gt; {
<a href="#l120" class="line" id="l120">    120</a> &lt;/a&gt;&lt;a href=&quot;#h0-2-40&quot; id=&quot;h0-2-40&quot; class=&quot;d&quot;&gt;-    const socialPreviewImagesDir = &amp;quot;dist/assets/images/social-preview-images/&amp;quot;;
<a href="#l121" class="line" id="l121">    121</a> &lt;/a&gt;&lt;a href=&quot;#h0-2-41&quot; id=&quot;h0-2-41&quot; class=&quot;i&quot;&gt;+  config.on(&amp;#39;afterBuild&amp;#39;, () =&amp;gt; {
<a href="#l122" class="line" id="l122">    122</a> &lt;/a&gt;&lt;a href=&quot;#h0-2-42&quot; id=&quot;h0-2-42&quot; class=&quot;i&quot;&gt;+    const socialPreviewImagesDir = &amp;#39;dist/assets/images/social-preview-images/&amp;#39;;
<a href="#l123" class="line" id="l123">    123</a> &lt;/a&gt;     fs.readdir(socialPreviewImagesDir, (err, files) =&amp;gt; {
<a href="#l124" class="line" id="l124">    124</a>        if (files.length &amp;gt; 0) {
<a href="#l125" class="line" id="l125">    125</a>          files.forEach((filename) =&amp;gt; {
<a href="#l126" class="line" id="l126">    126</a> &lt;a href=&quot;#h0-2-46&quot; id=&quot;h0-2-46&quot; class=&quot;d&quot;&gt;-          if (filename.endsWith(&amp;quot;.svg&amp;quot;)) {
<a href="#l127" class="line" id="l127">    127</a> &lt;/a&gt;&lt;a href=&quot;#h0-2-47&quot; id=&quot;h0-2-47&quot; class=&quot;i&quot;&gt;+          if (filename.endsWith(&amp;#39;.svg&amp;#39;)) {
<a href="#l128" class="line" id="l128">    128</a> &lt;/a&gt;             let imageUrl = socialPreviewImagesDir + filename;
<a href="#l129" class="line" id="l129">    129</a>              pluginImage(imageUrl, {
<a href="#l130" class="line" id="l130">    130</a> &lt;a href=&quot;#h0-2-50&quot; id=&quot;h0-2-50&quot; class=&quot;d&quot;&gt;-              formats: [&amp;quot;jpeg&amp;quot;],
<a href="#l131" class="line" id="l131">    131</a> &lt;/a&gt;&lt;a href=&quot;#h0-2-51&quot; id=&quot;h0-2-51&quot; class=&quot;d&quot;&gt;-              outputDir: &amp;quot;./&amp;quot; + socialPreviewImagesDir,
<a href="#l132" class="line" id="l132">    132</a> &lt;/a&gt;&lt;a href=&quot;#h0-2-52&quot; id=&quot;h0-2-52&quot; class=&quot;i&quot;&gt;+              formats: [&amp;#39;jpeg&amp;#39;],
<a href="#l133" class="line" id="l133">    133</a> &lt;/a&gt;&lt;a href=&quot;#h0-2-53&quot; id=&quot;h0-2-53&quot; class=&quot;i&quot;&gt;+              outputDir: &amp;#39;./&amp;#39; + socialPreviewImagesDir,
<a href="#l134" class="line" id="l134">    134</a> &lt;/a&gt;               filenameFormat: function (id, src, width, format, options) {
<a href="#l135" class="line" id="l135">    135</a>                  let outputFilename = filename.substring(0, filename.length - 4);
<a href="#l136" class="line" id="l136">    136</a> 
<a href="#l137" class="line" id="l137">    137</a> &lt;a href=&quot;#h0-3&quot; id=&quot;h0-3&quot; class=&quot;h&quot;&gt;@@ -71,8 +85,8 @@ module.exports = (config) =&amp;gt; {
<a href="#l138" class="line" id="l138">    138</a> &lt;/a&gt;
<a href="#l139" class="line" id="l139">    139</a>    return {
<a href="#l140" class="line" id="l140">    140</a>      dir: {
<a href="#l141" class="line" id="l141">    141</a> &lt;a href=&quot;#h0-3-3&quot; id=&quot;h0-3-3&quot; class=&quot;d&quot;&gt;-      input: &amp;quot;src&amp;quot;,
<a href="#l142" class="line" id="l142">    142</a> &lt;/a&gt;&lt;a href=&quot;#h0-3-4&quot; id=&quot;h0-3-4&quot; class=&quot;d&quot;&gt;-      output: &amp;quot;dist&amp;quot;,
<a href="#l143" class="line" id="l143">    143</a> &lt;/a&gt;&lt;a href=&quot;#h0-3-5&quot; id=&quot;h0-3-5&quot; class=&quot;i&quot;&gt;+      input: &amp;#39;src&amp;#39;,
<a href="#l144" class="line" id="l144">    144</a> &lt;/a&gt;&lt;a href=&quot;#h0-3-6&quot; id=&quot;h0-3-6&quot; class=&quot;i&quot;&gt;+      output: &amp;#39;dist&amp;#39;,
<a href="#l145" class="line" id="l145">    145</a> &lt;/a&gt;     },
<a href="#l146" class="line" id="l146">    146</a>    };
<a href="#l147" class="line" id="l147">    147</a>  };
<a href="#l148" class="line" id="l148">    148</a> &lt;b&gt;diff --git a/&lt;a id=&quot;h1&quot; href=&quot;../file/src/_includes/layouts/pixelart.njk.html&quot;&gt;src/_includes/layouts/pixelart.njk&lt;/a&gt; b/&lt;a href=&quot;../file/src/_includes/layouts/pixelart.njk.html&quot;&gt;src/_includes/layouts/pixelart.njk&lt;/a&gt;&lt;/b&gt;
<a href="#l149" class="line" id="l149">    149</a> &lt;a href=&quot;#h1-0&quot; id=&quot;h1-0&quot; class=&quot;h&quot;&gt;@@ -10,6 +10,5 @@
<a href="#l150" class="line" id="l150">    150</a> &lt;/a&gt;       {% include &amp;quot;partials/page-header.njk&amp;quot; %}
<a href="#l151" class="line" id="l151">    151</a>        {% include &amp;quot;partials/pixelart-list.njk&amp;quot; %}
<a href="#l152" class="line" id="l152">    152</a>      &amp;lt;/div&amp;gt;
<a href="#l153" class="line" id="l153">    153</a> &lt;a href=&quot;#h1-0-3&quot; id=&quot;h1-0-3&quot; class=&quot;d&quot;&gt;-    {{ pixelArtItems | log }}
<a href="#l154" class="line" id="l154">    154</a> &lt;/a&gt;   &amp;lt;/article&amp;gt;
<a href="#l155" class="line" id="l155">    155</a>  {% endblock %}
<a href="#l156" class="line" id="l156">    156</a> &lt;b&gt;diff --git a/&lt;a id=&quot;h2&quot; href=&quot;../file/src/feed.njk.html&quot;&gt;src/feed.njk&lt;/a&gt; b/&lt;a href=&quot;../file/src/feed.njk.html&quot;&gt;src/feed.njk&lt;/a&gt;&lt;/b&gt;
<a href="#l157" class="line" id="l157">    157</a> &lt;a href=&quot;#h2-0&quot; id=&quot;h2-0&quot; class=&quot;h&quot;&gt;@@ -11,11 +11,11 @@ eleventyExcludeFromCollections: true
<a href="#l158" class="line" id="l158">    158</a> &lt;/a&gt;     &amp;lt;author&amp;gt;
<a href="#l159" class="line" id="l159">    159</a>          &amp;lt;name&amp;gt;{{ author.name }}&amp;lt;/name&amp;gt;
<a href="#l160" class="line" id="l160">    160</a>      &amp;lt;/author&amp;gt;
<a href="#l161" class="line" id="l161">    161</a> &lt;a href=&quot;#h2-0-3&quot; id=&quot;h2-0-3&quot; class=&quot;d&quot;&gt;-    {% if collections.blog %}
<a href="#l162" class="line" id="l162">    162</a> &lt;/a&gt;&lt;a href=&quot;#h2-0-4&quot; id=&quot;h2-0-4&quot; class=&quot;d&quot;&gt;-        &amp;lt;updated&amp;gt;{{ collections.blog | rssLastUpdatedDate }}&amp;lt;/updated&amp;gt;
<a href="#l163" class="line" id="l163">    163</a> &lt;/a&gt;&lt;a href=&quot;#h2-0-5&quot; id=&quot;h2-0-5&quot; class=&quot;i&quot;&gt;+    {% if collections.publish %}
<a href="#l164" class="line" id="l164">    164</a> &lt;/a&gt;&lt;a href=&quot;#h2-0-6&quot; id=&quot;h2-0-6&quot; class=&quot;i&quot;&gt;+        &amp;lt;updated&amp;gt;{{ collections.publish | rssLastUpdatedDate }}&amp;lt;/updated&amp;gt;
<a href="#l165" class="line" id="l165">    165</a> &lt;/a&gt;     {% endif %}
<a href="#l166" class="line" id="l166">    166</a>      &amp;lt;id&amp;gt;{{ site.url }}/&amp;lt;/id&amp;gt;
<a href="#l167" class="line" id="l167">    167</a> &lt;a href=&quot;#h2-0-9&quot; id=&quot;h2-0-9&quot; class=&quot;d&quot;&gt;-    {%- for post in collections.blog | reverse -%}
<a href="#l168" class="line" id="l168">    168</a> &lt;/a&gt;&lt;a href=&quot;#h2-0-10&quot; id=&quot;h2-0-10&quot; class=&quot;i&quot;&gt;+    {%- for post in collections.publish | reverse -%}
<a href="#l169" class="line" id="l169">    169</a> &lt;/a&gt;         {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(site.url) }}{% endset %}
<a href="#l170" class="line" id="l170">    170</a>          &amp;lt;entry&amp;gt;
<a href="#l171" class="line" id="l171">    171</a>              &amp;lt;title&amp;gt;{{ post.data.title }}&amp;lt;/title&amp;gt;
<a href="#l172" class="line" id="l172">    172</a> &lt;a href=&quot;#h2-1&quot; id=&quot;h2-1&quot; class=&quot;h&quot;&gt;@@ -29,4 +29,4 @@ eleventyExcludeFromCollections: true
<a href="#l173" class="line" id="l173">    173</a> &lt;/a&gt;             &amp;lt;/content&amp;gt;
<a href="#l174" class="line" id="l174">    174</a>          &amp;lt;/entry&amp;gt;
<a href="#l175" class="line" id="l175">    175</a>      {%- endfor -%}
<a href="#l176" class="line" id="l176">    176</a> &lt;a href=&quot;#h2-1-3&quot; id=&quot;h2-1-3&quot; class=&quot;d&quot;&gt;-&amp;lt;/feed&amp;gt;
<a href="#l177" class="line" id="l177">    177</a> &lt;/a&gt;&lt;a href=&quot;#h2-1-4&quot; id=&quot;h2-1-4&quot; class=&quot;d&quot;&gt;-\ No newline at end of file
<a href="#l178" class="line" id="l178">    178</a> &lt;/a&gt;&lt;a href=&quot;#h2-1-5&quot; id=&quot;h2-1-5&quot; class=&quot;i&quot;&gt;+&amp;lt;/feed&amp;gt;
<a href="#l179" class="line" id="l179">    179</a> &lt;/a&gt;&lt;b&gt;diff --git a/&lt;a id=&quot;h3&quot; href=&quot;../file/src/pixelart/amongos/amogus.png.html&quot;&gt;src/pixelart/amongos/amogus.png&lt;/a&gt; b/&lt;a href=&quot;../file/src/pixelart/amongos/amogus.png.html&quot;&gt;src/pixelart/amongos/amogus.png&lt;/a&gt;&lt;/b&gt;
<a href="#l180" class="line" id="l180">    180</a> Binary files differ.
<a href="#l181" class="line" id="l181">    181</a> &lt;b&gt;diff --git a/&lt;a id=&quot;h4&quot; href=&quot;../file/src/pixelart/amongos/amongos.md.html&quot;&gt;src/pixelart/amongos/amongos.md&lt;/a&gt; b/&lt;a href=&quot;../file/src/pixelart/amongos/amongos.md.html&quot;&gt;src/pixelart/amongos/amongos.md&lt;/a&gt;&lt;/b&gt;
<a href="#l182" class="line" id="l182">    182</a> &lt;a href=&quot;#h4-0&quot; id=&quot;h4-0&quot; class=&quot;h&quot;&gt;@@ -1,10 +0,0 @@
<a href="#l183" class="line" id="l183">    183</a> &lt;/a&gt;&lt;a href=&quot;#h4-0-0&quot; id=&quot;h4-0-0&quot; class=&quot;d&quot;&gt;----
<a href="#l184" class="line" id="l184">    184</a> &lt;/a&gt;&lt;a href=&quot;#h4-0-1&quot; id=&quot;h4-0-1&quot; class=&quot;d&quot;&gt;-title: &amp;quot;Amongos&amp;quot;
<a href="#l185" class="line" id="l185">    185</a> &lt;/a&gt;&lt;a href=&quot;#h4-0-2&quot; id=&quot;h4-0-2&quot; class=&quot;d&quot;&gt;-date: 2022-12-08
<a href="#l186" class="line" id="l186">    186</a> &lt;/a&gt;&lt;a href=&quot;#h4-0-3&quot; id=&quot;h4-0-3&quot; class=&quot;d&quot;&gt;-tags: [&amp;quot;PixelArt&amp;quot;]
<a href="#l187" class="line" id="l187">    187</a> &lt;/a&gt;&lt;a href=&quot;#h4-0-4&quot; id=&quot;h4-0-4&quot; class=&quot;d&quot;&gt;-description: &amp;quot;Don&amp;#39;t say it, don&amp;#39;t say it, don&amp;#39;t say it&amp;quot;
<a href="#l188" class="line" id="l188">    188</a> &lt;/a&gt;&lt;a href=&quot;#h4-0-5&quot; id=&quot;h4-0-5&quot; class=&quot;d&quot;&gt;-image: amogus.png
<a href="#l189" class="line" id="l189">    189</a> &lt;/a&gt;&lt;a href=&quot;#h4-0-6&quot; id=&quot;h4-0-6&quot; class=&quot;d&quot;&gt;-dir: amongos
<a href="#l190" class="line" id="l190">    190</a> &lt;/a&gt;&lt;a href=&quot;#h4-0-7&quot; id=&quot;h4-0-7&quot; class=&quot;d&quot;&gt;----
<a href="#l191" class="line" id="l191">    191</a> &lt;/a&gt;&lt;a href=&quot;#h4-0-8&quot; id=&quot;h4-0-8&quot; class=&quot;d&quot;&gt;-
<a href="#l192" class="line" id="l192">    192</a> &lt;/a&gt;&lt;a href=&quot;#h4-0-9&quot; id=&quot;h4-0-9&quot; class=&quot;d&quot;&gt;-
<a href="#l193" class="line" id="l193">    193</a> &lt;/a&gt;&lt;b&gt;diff --git a/&lt;a id=&quot;h5&quot; href=&quot;../file/src/pixelart/bug/bug.md.html&quot;&gt;src/pixelart/bug/bug.md&lt;/a&gt; b/&lt;a href=&quot;../file/src/pixelart/bug/bug.md.html&quot;&gt;src/pixelart/bug/bug.md&lt;/a&gt;&lt;/b&gt;
<a href="#l194" class="line" id="l194">    194</a> &lt;a href=&quot;#h5-0&quot; id=&quot;h5-0&quot; class=&quot;h&quot;&gt;@@ -1,11 +0,0 @@
<a href="#l195" class="line" id="l195">    195</a> &lt;/a&gt;&lt;a href=&quot;#h5-0-0&quot; id=&quot;h5-0-0&quot; class=&quot;d&quot;&gt;----
<a href="#l196" class="line" id="l196">    196</a> &lt;/a&gt;&lt;a href=&quot;#h5-0-1&quot; id=&quot;h5-0-1&quot; class=&quot;d&quot;&gt;-title: &amp;quot;Bug&amp;quot;
<a href="#l197" class="line" id="l197">    197</a> &lt;/a&gt;&lt;a href=&quot;#h5-0-2&quot; id=&quot;h5-0-2&quot; class=&quot;d&quot;&gt;-date: 2022-06-09
<a href="#l198" class="line" id="l198">    198</a> &lt;/a&gt;&lt;a href=&quot;#h5-0-3&quot; id=&quot;h5-0-3&quot; class=&quot;d&quot;&gt;-tags: [&amp;quot;PixelArt&amp;quot;]
<a href="#l199" class="line" id="l199">    199</a> &lt;/a&gt;&lt;a href=&quot;#h5-0-4&quot; id=&quot;h5-0-4&quot; class=&quot;d&quot;&gt;-description: &amp;quot;I found a bug in my code&amp;quot;
<a href="#l200" class="line" id="l200">    200</a> &lt;/a&gt;&lt;a href=&quot;#h5-0-5&quot; id=&quot;h5-0-5&quot; class=&quot;d&quot;&gt;-image: demon.gif
<a href="#l201" class="line" id="l201">    201</a> &lt;/a&gt;&lt;a href=&quot;#h5-0-6&quot; id=&quot;h5-0-6&quot; class=&quot;d&quot;&gt;-dir: bug
<a href="#l202" class="line" id="l202">    202</a> &lt;/a&gt;&lt;a href=&quot;#h5-0-7&quot; id=&quot;h5-0-7&quot; class=&quot;d&quot;&gt;----
<a href="#l203" class="line" id="l203">    203</a> &lt;/a&gt;&lt;a href=&quot;#h5-0-8&quot; id=&quot;h5-0-8&quot; class=&quot;d&quot;&gt;-
<a href="#l204" class="line" id="l204">    204</a> &lt;/a&gt;&lt;a href=&quot;#h5-0-9&quot; id=&quot;h5-0-9&quot; class=&quot;d&quot;&gt;-This is my little friend
<a href="#l205" class="line" id="l205">    205</a> &lt;/a&gt;&lt;a href=&quot;#h5-0-10&quot; id=&quot;h5-0-10&quot; class=&quot;d&quot;&gt;-
<a href="#l206" class="line" id="l206">    206</a> &lt;/a&gt;&lt;b&gt;diff --git a/&lt;a id=&quot;h6&quot; href=&quot;../file/src/pixelart/bug/demon.gif.html&quot;&gt;src/pixelart/bug/demon.gif&lt;/a&gt; b/&lt;a href=&quot;../file/src/pixelart/bug/demon.gif.html&quot;&gt;src/pixelart/bug/demon.gif&lt;/a&gt;&lt;/b&gt;
<a href="#l207" class="line" id="l207">    207</a> Binary files differ.
<a href="#l208" class="line" id="l208">    208</a> &lt;b&gt;diff --git a/&lt;a id=&quot;h7&quot; href=&quot;../file/src/robots.txt.html&quot;&gt;src/robots.txt&lt;/a&gt; b/&lt;a href=&quot;../file/src/robots.txt.html&quot;&gt;src/robots.txt&lt;/a&gt;&lt;/b&gt;
<a href="#l209" class="line" id="l209">    209</a> &lt;a href=&quot;#h7-0&quot; id=&quot;h7-0&quot; class=&quot;h&quot;&gt;@@ -1,5 +1,4 @@
<a href="#l210" class="line" id="l210">    210</a> &lt;/a&gt;&lt;a href=&quot;#h7-0-0&quot; id=&quot;h7-0-0&quot; class=&quot;d&quot;&gt;-
<a href="#l211" class="line" id="l211">    211</a> &lt;/a&gt; Sitemap: https://bitbyte.blog/sitemap.xml
<a href="#l212" class="line" id="l212">    212</a> 
<a href="#l213" class="line" id="l213">    213</a>  User-agent: *
<a href="#l214" class="line" id="l214">    214</a> &lt;a href=&quot;#h7-0-4&quot; id=&quot;h7-0-4&quot; class=&quot;d&quot;&gt;-Disallow:
<a href="#l215" class="line" id="l215">    215</a> &lt;/a&gt;&lt;a href=&quot;#h7-0-5&quot; id=&quot;h7-0-5&quot; class=&quot;d&quot;&gt;-\ No newline at end of file
<a href="#l216" class="line" id="l216">    216</a> &lt;/a&gt;&lt;a href=&quot;#h7-0-6&quot; id=&quot;h7-0-6&quot; class=&quot;i&quot;&gt;+Disallow:
<a href="#l217" class="line" id="l217">    217</a> &lt;/a&gt;&lt;/pre&gt;
<a href="#l218" class="line" id="l218">    218</a> &lt;/div&gt;
<a href="#l219" class="line" id="l219">    219</a> &lt;/body&gt;
<a href="#l220" class="line" id="l220">    220</a> &lt;/html&gt;
</pre>
</div>
</body>
</html>
