code[class*="language-"],
pre[class*="language-"] {
    font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
    font-size: 14px;
    line-height: 1.375;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    background: #181825; /* Crust */
    color: #CAD3F5; /* Text */
}

pre > code[class*="language-"] {
    font-size: 1em;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
    text-shadow: none;
    background: #f38ba8; /* Red */
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
    text-shadow: none;
    background: #f38ba8; /* Red */
}

/* Code blocks */
pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    padding: .1em;
    border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #9399b2; /* Overlay2 */
}

.token.punctuation {
    color: #9399b2; /* Overlay2 */
}

.token.namespace {
    opacity: .7;
}

.token.tag,
.token.operator,
.token.number {
    color: #f38ba8; /* Red */
}

.token.property,
.token.function {
    color: #f5c2e7; /* Pink */
}

.token.tag-id,
.token.selector,
.token.atrule-id {
    color: #b4befe; /* Lavender */
}

code.language-javascript,
.token.attr-name {
    color: #fab387; /* Peach */
}

code.language-css,
code.language-scss,
.token.boolean,
.token.string,
.token.entity,
.token.url,
.language-css .token.string,
.language-scss .token.string,
.style .token.string,
.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit,
.token.statement,
.token.regex,
.token.atrule {
    color: #f9e2af; /* Yellow */
}

.token.placeholder,
.token.variable {
    color: #f9e2af; /* Yellow */
}

.token.deleted {
    text-decoration: line-through;
}

.token.inserted {
    border-bottom: 1px dotted #b4befe; /* Lavender */
    text-decoration: none;
}

.token.italic {
    font-style: italic;
}

.token.important,
.token.bold {
    font-weight: bold;
}

.token.important {
    color: #fab387; /* Peach */
}

.token.entity {
    cursor: help;
}

pre > code.highlight {
    outline: .4em solid #cad3f5;
    outline-offset: .4em;
}

/* overrides color-values for the Line Numbers plugin
 * http://prismjs.com/plugins/line-numbers/
 */
.line-numbers.line-numbers .line-numbers-rows {
    border-right-color: #313244; /* Surface0 */
}

.line-numbers .line-numbers-rows > span:before {
    color: #45475a; /* Surface1 */
}

/* overrides color-values for the Line Highlight plugin
* http://prismjs.com/plugins/line-highlight/
*/
.line-highlight.line-highlight {
    background: rgba(243, 139, 168, 0.2); /* Red with opacity */
    background: -webkit-linear-gradient(left, rgba(243, 139, 168, 0.2) 70%, rgba(243, 139, 168, 0));
    background: linear-gradient(to right, rgba(243, 139, 168, 0.2) 70%, rgba(243, 139, 168, 0));
}
