<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../styles/log.css" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>add meta for SEO and robots.txt - bitbyte-blog - Unnamed repository; edit this file &#39;description&#39; to name the repository.
</title>
<link rel="icon" type="image/png" href="../favicon.png" />
<link rel="alternate" type="application/atom+xml" title="bitbyte-blog Atom Feed" href="../atom.xml" />
<link rel="alternate" type="application/atom+xml" title="bitbyte-blog Atom Feed (tags)" href="../tags.xml" />
<link rel="stylesheet" type="text/css" href="../style.css" />
</head>
<body>
<table><tr><td><a href="../../"><img src="../logo.png" alt="" width="32" height="32" /></a></td><td><h1>bitbyte-blog</h1><span class="desc">Unnamed repository; edit this file &#39;description&#39; to name the repository.
</span></td></tr><tr><td></td><td>
<a href="../log.html">Log</a> | <a href="../files.html">Files</a> | <a href="../refs.html">Refs</a> | <a href="../file/LICENSE.html">LICENSE</a></td></tr></table>
<hr/>
<div id="content">
<pre><b>commit</b> <a href="../commit/c7610660f5f3dd426d57a0c9b4303f9f1bd5e621.html">c7610660f5f3dd426d57a0c9b4303f9f1bd5e621</a>
<b>parent</b> <a href="../commit/7afa39e27e568b745535cf89eaf363e21cbadb9c.html">7afa39e27e568b745535cf89eaf363e21cbadb9c</a>
<b>Author:</b> hectoraldairah &lt;<a href="mailto:hectoraldairah@protonmail.com">hectoraldairah@protonmail.com</a>&gt;
<b>Date:</b>   Sun, 28 Nov 2021 16:07:52 -0600

add meta for SEO and robots.txt

<b>Diffstat:</b>
<table><tr><td class="M">M</td><td><a href="#h0">dist/about/index.html</a></td><td> | </td><td class="num">4</td><td><span class="i">+++</span><span class="d">-</span></td></tr>
<tr><td class="M">M</td><td><a href="#h1">dist/blog/10-tips-for-website-redesign-in-2020/index.html</a></td><td> | </td><td class="num">4</td><td><span class="i">+++</span><span class="d">-</span></td></tr>
<tr><td class="M">M</td><td><a href="#h2">dist/blog/a-complete-guide-to-wireframe-design/index.html</a></td><td> | </td><td class="num">4</td><td><span class="i">+++</span><span class="d">-</span></td></tr>
<tr><td class="M">M</td><td><a href="#h3">dist/blog/a-font-for-people-with-dyslexia/index.html</a></td><td> | </td><td class="num">4</td><td><span class="i">+++</span><span class="d">-</span></td></tr>
<tr><td class="M">M</td><td><a href="#h4">dist/blog/color-palette-generator/index.html</a></td><td> | </td><td class="num">4</td><td><span class="i">+++</span><span class="d">-</span></td></tr>
<tr><td class="M">M</td><td><a href="#h5">dist/blog/design-thinking-and-understanding-the-product-design-process/index.html</a></td><td> | </td><td class="num">4</td><td><span class="i">+++</span><span class="d">-</span></td></tr>
<tr><td class="M">M</td><td><a href="#h6">dist/blog/index.html</a></td><td> | </td><td class="num">4</td><td><span class="i">+++</span><span class="d">-</span></td></tr>
<tr><td class="M">M</td><td><a href="#h7">dist/index.html</a></td><td> | </td><td class="num">4</td><td><span class="i">+++</span><span class="d">-</span></td></tr>
<tr><td class="A">A</td><td><a href="#h8">dist/robots.txt</a></td><td> | </td><td class="num">6</td><td><span class="i">++++++</span><span class="d"></span></td></tr>
<tr><td class="A">A</td><td><a href="#h9">dist/sitemap.xml</a></td><td> | </td><td class="num">78</td><td><span class="i">++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++</span><span class="d"></span></td></tr>
<tr><td class="A">A</td><td><a href="#h10">dist/sitemap/index.html</a></td><td> | </td><td class="num">0</td><td><span class="i"></span><span class="d"></span></td></tr>
<tr><td class="M">M</td><td><a href="#h11">dist/tag/design-thinking/index.html</a></td><td> | </td><td class="num">4</td><td><span class="i">+++</span><span class="d">-</span></td></tr>
<tr><td class="M">M</td><td><a href="#h12">dist/tag/learning/index.html</a></td><td> | </td><td class="num">4</td><td><span class="i">+++</span><span class="d">-</span></td></tr>
<tr><td class="M">M</td><td><a href="#h13">dist/tag/resources/index.html</a></td><td> | </td><td class="num">4</td><td><span class="i">+++</span><span class="d">-</span></td></tr>
<tr><td class="M">M</td><td><a href="#h14">dist/tag/tips-and-tricks/index.html</a></td><td> | </td><td class="num">4</td><td><span class="i">+++</span><span class="d">-</span></td></tr>
<tr><td class="M">M</td><td><a href="#h15">dist/tag/tools/index.html</a></td><td> | </td><td class="num">4</td><td><span class="i">+++</span><span class="d">-</span></td></tr>
<tr><td class="M">M</td><td><a href="#h16">dist/tag/tutorial/index.html</a></td><td> | </td><td class="num">4</td><td><span class="i">+++</span><span class="d">-</span></td></tr>
<tr><td class="M">M</td><td><a href="#h17">dist/tag/typography/index.html</a></td><td> | </td><td class="num">4</td><td><span class="i">+++</span><span class="d">-</span></td></tr>
<tr><td class="M">M</td><td><a href="#h18">src/_data/site.json</a></td><td> | </td><td class="num">7</td><td><span class="i">++++</span><span class="d">---</span></td></tr>
<tr><td class="M">M</td><td><a href="#h19">src/_includes/partials/seo.njk</a></td><td> | </td><td class="num">6</td><td><span class="i">++++</span><span class="d">--</span></td></tr>
<tr><td class="A">A</td><td><a href="#h20">src/robots.njk</a></td><td> | </td><td class="num">11</td><td><span class="i">+++++++++++</span><span class="d"></span></td></tr>
<tr><td class="A">A</td><td><a href="#h21">src/robots.txt</a></td><td> | </td><td class="num">6</td><td><span class="i">++++++</span><span class="d"></span></td></tr>
<tr><td class="A">A</td><td><a href="#h22">src/sitemap.njk</a></td><td> | </td><td class="num">18</td><td><span class="i">++++++++++++++++++</span><span class="d"></span></td></tr>
</table></pre><pre>23 files changed, 172 insertions(+), 20 deletions(-)
<hr/><b>diff --git a/<a id="h0" href="../file/dist/about/index.html.html">dist/about/index.html</a> b/<a href="../file/dist/about/index.html.html">dist/about/index.html</a></b>
<a href="#h0-0" id="h0-0" class="h">@@ -19,7 +19,7 @@
</a>


<a href="#h0-0-3" id="h0-0-3" class="d">-        &lt;link rel=&quot;preload&quot; media=&quot;print&quot; href=&quot;/fonts/fonts.css?d60c-9c5c-0e3b&quot; onload=&quot;this.media=&#39;all&#39;&quot;/&gt;
</a><a href="#h0-0-4" id="h0-0-4" class="i">+        &lt;link rel=&quot;preload&quot; media=&quot;print&quot; href=&quot;/fonts/fonts.css?232f-ed18-3e89&quot; onload=&quot;this.media=&#39;all&#39;&quot;/&gt;
</a>


<a href="#h0-1" id="h0-1" class="h">@@ -45,6 +45,8 @@
</a>     &lt;meta property=&quot;og:description&quot; content=&quot;About Hector Aldair Aguilar&quot;/&gt;


<a href="#h0-1-3" id="h0-1-3" class="i">+&lt;link rel=&quot;canonical&quot; href=&quot;https://bitbyte.blog /about/&quot;&gt;
</a><a href="#h0-1-4" id="h0-1-4" class="i">+
</a>


<b>diff --git a/<a id="h1" href="../file/dist/blog/10-tips-for-website-redesign-in-2020/index.html.html">dist/blog/10-tips-for-website-redesign-in-2020/index.html</a> b/<a href="../file/dist/blog/10-tips-for-website-redesign-in-2020/index.html.html">dist/blog/10-tips-for-website-redesign-in-2020/index.html</a></b>
<a href="#h1-0" id="h1-0" class="h">@@ -19,7 +19,7 @@
</a>


<a href="#h1-0-3" id="h1-0-3" class="d">-        &lt;link rel=&quot;preload&quot; media=&quot;print&quot; href=&quot;/fonts/fonts.css?fbd7-e87d-aaa4&quot; onload=&quot;this.media=&#39;all&#39;&quot;/&gt;
</a><a href="#h1-0-4" id="h1-0-4" class="i">+        &lt;link rel=&quot;preload&quot; media=&quot;print&quot; href=&quot;/fonts/fonts.css?cd0f-01b4-879b&quot; onload=&quot;this.media=&#39;all&#39;&quot;/&gt;
</a>


<a href="#h1-1" id="h1-1" class="h">@@ -46,6 +46,8 @@
</a>


<a href="#h1-1-3" id="h1-1-3" class="i">+&lt;link rel=&quot;canonical&quot; href=&quot;https://bitbyte.blog /blog/10-tips-for-website-redesign-in-2020/&quot;&gt;
</a><a href="#h1-1-4" id="h1-1-4" class="i">+
</a>


<b>diff --git a/<a id="h2" href="../file/dist/blog/a-complete-guide-to-wireframe-design/index.html.html">dist/blog/a-complete-guide-to-wireframe-design/index.html</a> b/<a href="../file/dist/blog/a-complete-guide-to-wireframe-design/index.html.html">dist/blog/a-complete-guide-to-wireframe-design/index.html</a></b>
<a href="#h2-0" id="h2-0" class="h">@@ -19,7 +19,7 @@
</a>


<a href="#h2-0-3" id="h2-0-3" class="d">-        &lt;link rel=&quot;preload&quot; media=&quot;print&quot; href=&quot;/fonts/fonts.css?b678-1736-f103&quot; onload=&quot;this.media=&#39;all&#39;&quot;/&gt;
</a><a href="#h2-0-4" id="h2-0-4" class="i">+        &lt;link rel=&quot;preload&quot; media=&quot;print&quot; href=&quot;/fonts/fonts.css?0bb5-20a9-2f0a&quot; onload=&quot;this.media=&#39;all&#39;&quot;/&gt;
</a>


<a href="#h2-1" id="h2-1" class="h">@@ -46,6 +46,8 @@
</a>


<a href="#h2-1-3" id="h2-1-3" class="i">+&lt;link rel=&quot;canonical&quot; href=&quot;https://bitbyte.blog /blog/a-complete-guide-to-wireframe-design/&quot;&gt;
</a><a href="#h2-1-4" id="h2-1-4" class="i">+
</a>


<b>diff --git a/<a id="h3" href="../file/dist/blog/a-font-for-people-with-dyslexia/index.html.html">dist/blog/a-font-for-people-with-dyslexia/index.html</a> b/<a href="../file/dist/blog/a-font-for-people-with-dyslexia/index.html.html">dist/blog/a-font-for-people-with-dyslexia/index.html</a></b>
<a href="#h3-0" id="h3-0" class="h">@@ -19,7 +19,7 @@
</a>


<a href="#h3-0-3" id="h3-0-3" class="d">-        &lt;link rel=&quot;preload&quot; media=&quot;print&quot; href=&quot;/fonts/fonts.css?93ee-2433-1c8b&quot; onload=&quot;this.media=&#39;all&#39;&quot;/&gt;
</a><a href="#h3-0-4" id="h3-0-4" class="i">+        &lt;link rel=&quot;preload&quot; media=&quot;print&quot; href=&quot;/fonts/fonts.css?4c21-d141-49d1&quot; onload=&quot;this.media=&#39;all&#39;&quot;/&gt;
</a>


<a href="#h3-1" id="h3-1" class="h">@@ -46,6 +46,8 @@
</a>


<a href="#h3-1-3" id="h3-1-3" class="i">+&lt;link rel=&quot;canonical&quot; href=&quot;https://bitbyte.blog /blog/a-font-for-people-with-dyslexia/&quot;&gt;
</a><a href="#h3-1-4" id="h3-1-4" class="i">+
</a>


<b>diff --git a/<a id="h4" href="../file/dist/blog/color-palette-generator/index.html.html">dist/blog/color-palette-generator/index.html</a> b/<a href="../file/dist/blog/color-palette-generator/index.html.html">dist/blog/color-palette-generator/index.html</a></b>
<a href="#h4-0" id="h4-0" class="h">@@ -19,7 +19,7 @@
</a>


<a href="#h4-0-3" id="h4-0-3" class="d">-        &lt;link rel=&quot;preload&quot; media=&quot;print&quot; href=&quot;/fonts/fonts.css?f922-2b03-6697&quot; onload=&quot;this.media=&#39;all&#39;&quot;/&gt;
</a><a href="#h4-0-4" id="h4-0-4" class="i">+        &lt;link rel=&quot;preload&quot; media=&quot;print&quot; href=&quot;/fonts/fonts.css?c3a0-8d44-fd6d&quot; onload=&quot;this.media=&#39;all&#39;&quot;/&gt;
</a>


<a href="#h4-1" id="h4-1" class="h">@@ -46,6 +46,8 @@
</a>


<a href="#h4-1-3" id="h4-1-3" class="i">+&lt;link rel=&quot;canonical&quot; href=&quot;https://bitbyte.blog /blog/color-palette-generator/&quot;&gt;
</a><a href="#h4-1-4" id="h4-1-4" class="i">+
</a>


<b>diff --git a/<a id="h5" href="../file/dist/blog/design-thinking-and-understanding-the-product-design-process/index.html.html">dist/blog/design-thinking-and-understanding-the-product-design-process/index.html</a> b/<a href="../file/dist/blog/design-thinking-and-understanding-the-product-design-process/index.html.html">dist/blog/design-thinking-and-understanding-the-product-design-process/index.html</a></b>
<a href="#h5-0" id="h5-0" class="h">@@ -19,7 +19,7 @@
</a>


<a href="#h5-0-3" id="h5-0-3" class="d">-        &lt;link rel=&quot;preload&quot; media=&quot;print&quot; href=&quot;/fonts/fonts.css?7dbd-e2c3-fbb5&quot; onload=&quot;this.media=&#39;all&#39;&quot;/&gt;
</a><a href="#h5-0-4" id="h5-0-4" class="i">+        &lt;link rel=&quot;preload&quot; media=&quot;print&quot; href=&quot;/fonts/fonts.css?6832-684f-2ebd&quot; onload=&quot;this.media=&#39;all&#39;&quot;/&gt;
</a>


<a href="#h5-1" id="h5-1" class="h">@@ -46,6 +46,8 @@
</a>


<a href="#h5-1-3" id="h5-1-3" class="i">+&lt;link rel=&quot;canonical&quot; href=&quot;https://bitbyte.blog /blog/design-thinking-and-understanding-the-product-design-process/&quot;&gt;
</a><a href="#h5-1-4" id="h5-1-4" class="i">+
</a>


<b>diff --git a/<a id="h6" href="../file/dist/blog/index.html.html">dist/blog/index.html</a> b/<a href="../file/dist/blog/index.html.html">dist/blog/index.html</a></b>
<a href="#h6-0" id="h6-0" class="h">@@ -19,7 +19,7 @@
</a>


<a href="#h6-0-3" id="h6-0-3" class="d">-        &lt;link rel=&quot;preload&quot; media=&quot;print&quot; href=&quot;/fonts/fonts.css?7a78-6ce6-3768&quot; onload=&quot;this.media=&#39;all&#39;&quot;/&gt;
</a><a href="#h6-0-4" id="h6-0-4" class="i">+        &lt;link rel=&quot;preload&quot; media=&quot;print&quot; href=&quot;/fonts/fonts.css?9231-47fc-42c0&quot; onload=&quot;this.media=&#39;all&#39;&quot;/&gt;
</a>


<a href="#h6-1" id="h6-1" class="h">@@ -45,6 +45,8 @@
</a>     &lt;meta property=&quot;og:description&quot; content=&quot;My thoughts are on the web now.&quot;/&gt;


<a href="#h6-1-3" id="h6-1-3" class="i">+&lt;link rel=&quot;canonical&quot; href=&quot;https://bitbyte.blog /blog/&quot;&gt;
</a><a href="#h6-1-4" id="h6-1-4" class="i">+
</a>


<b>diff --git a/<a id="h7" href="../file/dist/index.html.html">dist/index.html</a> b/<a href="../file/dist/index.html.html">dist/index.html</a></b>
<a href="#h7-0" id="h7-0" class="h">@@ -19,7 +19,7 @@
</a>


<a href="#h7-0-3" id="h7-0-3" class="d">-        &lt;link rel=&quot;preload&quot; media=&quot;print&quot; href=&quot;/fonts/fonts.css?e693-1825-0b11&quot; onload=&quot;this.media=&#39;all&#39;&quot;/&gt;
</a><a href="#h7-0-4" id="h7-0-4" class="i">+        &lt;link rel=&quot;preload&quot; media=&quot;print&quot; href=&quot;/fonts/fonts.css?e845-e2ed-7cdd&quot; onload=&quot;this.media=&#39;all&#39;&quot;/&gt;
</a>


<a href="#h7-1" id="h7-1" class="h">@@ -45,6 +45,8 @@
</a>     &lt;meta property=&quot;og:description&quot; content=&quot;My little space in the web.&quot;/&gt;


<a href="#h7-1-3" id="h7-1-3" class="i">+&lt;link rel=&quot;canonical&quot; href=&quot;https://bitbyte.blog /&quot;&gt;
</a><a href="#h7-1-4" id="h7-1-4" class="i">+
</a>


<b>diff --git a/<a id="h8" href="../file/dist/robots.txt.html">dist/robots.txt</a> b/<a href="../file/dist/robots.txt.html">dist/robots.txt</a></b>
<a href="#h8-0" id="h8-0" class="h">@@ -0,0 +1,5 @@
</a><a href="#h8-0-0" id="h8-0-0" class="i">+
</a><a href="#h8-0-1" id="h8-0-1" class="i">+Sitemap: https://bitbyte.blog/sitemap.xml
</a><a href="#h8-0-2" id="h8-0-2" class="i">+
</a><a href="#h8-0-3" id="h8-0-3" class="i">+User-agent: *
</a><a href="#h8-0-4" id="h8-0-4" class="i">+Disallow:
</a><a href="#h8-0-5" id="h8-0-5" class="i">+\ No newline at end of file
</a><b>diff --git a/<a id="h9" href="../file/dist/sitemap.xml.html">dist/sitemap.xml</a> b/<a href="../file/dist/sitemap.xml.html">dist/sitemap.xml</a></b>
<a href="#h9-0" id="h9-0" class="h">@@ -0,0 +1,77 @@
</a><a href="#h9-0-0" id="h9-0-0" class="i">+
</a><a href="#h9-0-1" id="h9-0-1" class="i">+&lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-8&quot;?&gt;
</a><a href="#h9-0-2" id="h9-0-2" class="i">+&lt;urlset xmlns=&quot;http://www.sitemaps.org/schemas/sitemap/0.9&quot;&gt;
</a><a href="#h9-0-3" id="h9-0-3" class="i">+
</a><a href="#h9-0-4" id="h9-0-4" class="i">+
</a><a href="#h9-0-5" id="h9-0-5" class="i">+            &lt;url&gt;
</a><a href="#h9-0-6" id="h9-0-6" class="i">+                &lt;loc&gt;https://bitbyte.blog/blog/color-palette-generator/&lt;/loc&gt;
</a><a href="#h9-0-7" id="h9-0-7" class="i">+                &lt;lastmod&gt;2019-11-16T00:00:00.000Z&lt;/lastmod&gt;
</a><a href="#h9-0-8" id="h9-0-8" class="i">+                &lt;changefreq&gt;monthly&lt;/changefreq&gt;
</a><a href="#h9-0-9" id="h9-0-9" class="i">+            &lt;/url&gt;
</a><a href="#h9-0-10" id="h9-0-10" class="i">+
</a><a href="#h9-0-11" id="h9-0-11" class="i">+
</a><a href="#h9-0-12" id="h9-0-12" class="i">+
</a><a href="#h9-0-13" id="h9-0-13" class="i">+            &lt;url&gt;
</a><a href="#h9-0-14" id="h9-0-14" class="i">+                &lt;loc&gt;https://bitbyte.blog/blog/10-tips-for-website-redesign-in-2020/&lt;/loc&gt;
</a><a href="#h9-0-15" id="h9-0-15" class="i">+                &lt;lastmod&gt;2020-01-02T00:00:00.000Z&lt;/lastmod&gt;
</a><a href="#h9-0-16" id="h9-0-16" class="i">+                &lt;changefreq&gt;monthly&lt;/changefreq&gt;
</a><a href="#h9-0-17" id="h9-0-17" class="i">+            &lt;/url&gt;
</a><a href="#h9-0-18" id="h9-0-18" class="i">+
</a><a href="#h9-0-19" id="h9-0-19" class="i">+
</a><a href="#h9-0-20" id="h9-0-20" class="i">+
</a><a href="#h9-0-21" id="h9-0-21" class="i">+            &lt;url&gt;
</a><a href="#h9-0-22" id="h9-0-22" class="i">+                &lt;loc&gt;https://bitbyte.blog/blog/design-thinking-and-understanding-the-product-design-process/&lt;/loc&gt;
</a><a href="#h9-0-23" id="h9-0-23" class="i">+                &lt;lastmod&gt;2020-02-22T00:00:00.000Z&lt;/lastmod&gt;
</a><a href="#h9-0-24" id="h9-0-24" class="i">+                &lt;changefreq&gt;monthly&lt;/changefreq&gt;
</a><a href="#h9-0-25" id="h9-0-25" class="i">+            &lt;/url&gt;
</a><a href="#h9-0-26" id="h9-0-26" class="i">+
</a><a href="#h9-0-27" id="h9-0-27" class="i">+
</a><a href="#h9-0-28" id="h9-0-28" class="i">+
</a><a href="#h9-0-29" id="h9-0-29" class="i">+            &lt;url&gt;
</a><a href="#h9-0-30" id="h9-0-30" class="i">+                &lt;loc&gt;https://bitbyte.blog/blog/a-font-for-people-with-dyslexia/&lt;/loc&gt;
</a><a href="#h9-0-31" id="h9-0-31" class="i">+                &lt;lastmod&gt;2020-04-09T00:00:00.000Z&lt;/lastmod&gt;
</a><a href="#h9-0-32" id="h9-0-32" class="i">+                &lt;changefreq&gt;monthly&lt;/changefreq&gt;
</a><a href="#h9-0-33" id="h9-0-33" class="i">+            &lt;/url&gt;
</a><a href="#h9-0-34" id="h9-0-34" class="i">+
</a><a href="#h9-0-35" id="h9-0-35" class="i">+
</a><a href="#h9-0-36" id="h9-0-36" class="i">+
</a><a href="#h9-0-37" id="h9-0-37" class="i">+            &lt;url&gt;
</a><a href="#h9-0-38" id="h9-0-38" class="i">+                &lt;loc&gt;https://bitbyte.blog/blog/a-complete-guide-to-wireframe-design/&lt;/loc&gt;
</a><a href="#h9-0-39" id="h9-0-39" class="i">+                &lt;lastmod&gt;2020-04-13T00:00:00.000Z&lt;/lastmod&gt;
</a><a href="#h9-0-40" id="h9-0-40" class="i">+                &lt;changefreq&gt;monthly&lt;/changefreq&gt;
</a><a href="#h9-0-41" id="h9-0-41" class="i">+            &lt;/url&gt;
</a><a href="#h9-0-42" id="h9-0-42" class="i">+
</a><a href="#h9-0-43" id="h9-0-43" class="i">+
</a><a href="#h9-0-44" id="h9-0-44" class="i">+
</a><a href="#h9-0-45" id="h9-0-45" class="i">+            &lt;url&gt;
</a><a href="#h9-0-46" id="h9-0-46" class="i">+                &lt;loc&gt;https://bitbyte.blog/tag/tutorial/&lt;/loc&gt;
</a><a href="#h9-0-47" id="h9-0-47" class="i">+                &lt;lastmod&gt;2021-11-11T00:48:52.223Z&lt;/lastmod&gt;
</a><a href="#h9-0-48" id="h9-0-48" class="i">+                &lt;changefreq&gt;monthly&lt;/changefreq&gt;
</a><a href="#h9-0-49" id="h9-0-49" class="i">+            &lt;/url&gt;
</a><a href="#h9-0-50" id="h9-0-50" class="i">+
</a><a href="#h9-0-51" id="h9-0-51" class="i">+
</a><a href="#h9-0-52" id="h9-0-52" class="i">+
</a><a href="#h9-0-53" id="h9-0-53" class="i">+            &lt;url&gt;
</a><a href="#h9-0-54" id="h9-0-54" class="i">+                &lt;loc&gt;https://bitbyte.blog/about/&lt;/loc&gt;
</a><a href="#h9-0-55" id="h9-0-55" class="i">+                &lt;lastmod&gt;2021-11-22T01:50:18.055Z&lt;/lastmod&gt;
</a><a href="#h9-0-56" id="h9-0-56" class="i">+                &lt;changefreq&gt;monthly&lt;/changefreq&gt;
</a><a href="#h9-0-57" id="h9-0-57" class="i">+            &lt;/url&gt;
</a><a href="#h9-0-58" id="h9-0-58" class="i">+
</a><a href="#h9-0-59" id="h9-0-59" class="i">+
</a><a href="#h9-0-60" id="h9-0-60" class="i">+
</a><a href="#h9-0-61" id="h9-0-61" class="i">+            &lt;url&gt;
</a><a href="#h9-0-62" id="h9-0-62" class="i">+                &lt;loc&gt;https://bitbyte.blog/blog/&lt;/loc&gt;
</a><a href="#h9-0-63" id="h9-0-63" class="i">+                &lt;lastmod&gt;2021-11-22T01:50:18.055Z&lt;/lastmod&gt;
</a><a href="#h9-0-64" id="h9-0-64" class="i">+                &lt;changefreq&gt;monthly&lt;/changefreq&gt;
</a><a href="#h9-0-65" id="h9-0-65" class="i">+            &lt;/url&gt;
</a><a href="#h9-0-66" id="h9-0-66" class="i">+
</a><a href="#h9-0-67" id="h9-0-67" class="i">+
</a><a href="#h9-0-68" id="h9-0-68" class="i">+
</a><a href="#h9-0-69" id="h9-0-69" class="i">+            &lt;url&gt;
</a><a href="#h9-0-70" id="h9-0-70" class="i">+                &lt;loc&gt;https://bitbyte.blog/&lt;/loc&gt;
</a><a href="#h9-0-71" id="h9-0-71" class="i">+                &lt;lastmod&gt;2021-11-22T01:50:18.056Z&lt;/lastmod&gt;
</a><a href="#h9-0-72" id="h9-0-72" class="i">+                &lt;changefreq&gt;monthly&lt;/changefreq&gt;
</a><a href="#h9-0-73" id="h9-0-73" class="i">+            &lt;/url&gt;
</a><a href="#h9-0-74" id="h9-0-74" class="i">+
</a><a href="#h9-0-75" id="h9-0-75" class="i">+
</a><a href="#h9-0-76" id="h9-0-76" class="i">+&lt;/urlset&gt;
</a><a href="#h9-0-77" id="h9-0-77" class="i">+\ No newline at end of file
</a><b>diff --git a/<a id="h10" href="../file/dist/sitemap/index.html.html">dist/sitemap/index.html</a> b/<a href="../file/dist/sitemap/index.html.html">dist/sitemap/index.html</a></b>
<b>diff --git a/<a id="h11" href="../file/dist/tag/design-thinking/index.html.html">dist/tag/design-thinking/index.html</a> b/<a href="../file/dist/tag/design-thinking/index.html.html">dist/tag/design-thinking/index.html</a></b>
<a href="#h11-0" id="h11-0" class="h">@@ -19,7 +19,7 @@
</a>


<a href="#h11-0-3" id="h11-0-3" class="d">-        &lt;link rel=&quot;preload&quot; media=&quot;print&quot; href=&quot;/fonts/fonts.css?fe43-8ce6-46ae&quot; onload=&quot;this.media=&#39;all&#39;&quot;/&gt;
</a><a href="#h11-0-4" id="h11-0-4" class="i">+        &lt;link rel=&quot;preload&quot; media=&quot;print&quot; href=&quot;/fonts/fonts.css?1d16-4d30-8b63&quot; onload=&quot;this.media=&#39;all&#39;&quot;/&gt;
</a>


<a href="#h11-1" id="h11-1" class="h">@@ -41,6 +41,8 @@
</a>


<a href="#h11-1-3" id="h11-1-3" class="i">+&lt;link rel=&quot;canonical&quot; href=&quot;https://bitbyte.blog /tag/design-thinking/&quot;&gt;
</a><a href="#h11-1-4" id="h11-1-4" class="i">+
</a>


<b>diff --git a/<a id="h12" href="../file/dist/tag/learning/index.html.html">dist/tag/learning/index.html</a> b/<a href="../file/dist/tag/learning/index.html.html">dist/tag/learning/index.html</a></b>
<a href="#h12-0" id="h12-0" class="h">@@ -19,7 +19,7 @@
</a>


<a href="#h12-0-3" id="h12-0-3" class="d">-        &lt;link rel=&quot;preload&quot; media=&quot;print&quot; href=&quot;/fonts/fonts.css?875c-837a-f2fb&quot; onload=&quot;this.media=&#39;all&#39;&quot;/&gt;
</a><a href="#h12-0-4" id="h12-0-4" class="i">+        &lt;link rel=&quot;preload&quot; media=&quot;print&quot; href=&quot;/fonts/fonts.css?234b-6b9f-29f8&quot; onload=&quot;this.media=&#39;all&#39;&quot;/&gt;
</a>


<a href="#h12-1" id="h12-1" class="h">@@ -41,6 +41,8 @@
</a>


<a href="#h12-1-3" id="h12-1-3" class="i">+&lt;link rel=&quot;canonical&quot; href=&quot;https://bitbyte.blog /tag/learning/&quot;&gt;
</a><a href="#h12-1-4" id="h12-1-4" class="i">+
</a>


<b>diff --git a/<a id="h13" href="../file/dist/tag/resources/index.html.html">dist/tag/resources/index.html</a> b/<a href="../file/dist/tag/resources/index.html.html">dist/tag/resources/index.html</a></b>
<a href="#h13-0" id="h13-0" class="h">@@ -19,7 +19,7 @@
</a>


<a href="#h13-0-3" id="h13-0-3" class="d">-        &lt;link rel=&quot;preload&quot; media=&quot;print&quot; href=&quot;/fonts/fonts.css?2188-f1cc-5eb0&quot; onload=&quot;this.media=&#39;all&#39;&quot;/&gt;
</a><a href="#h13-0-4" id="h13-0-4" class="i">+        &lt;link rel=&quot;preload&quot; media=&quot;print&quot; href=&quot;/fonts/fonts.css?9622-ba64-5284&quot; onload=&quot;this.media=&#39;all&#39;&quot;/&gt;
</a>


<a href="#h13-1" id="h13-1" class="h">@@ -41,6 +41,8 @@
</a>


<a href="#h13-1-3" id="h13-1-3" class="i">+&lt;link rel=&quot;canonical&quot; href=&quot;https://bitbyte.blog /tag/resources/&quot;&gt;
</a><a href="#h13-1-4" id="h13-1-4" class="i">+
</a>


<b>diff --git a/<a id="h14" href="../file/dist/tag/tips-and-tricks/index.html.html">dist/tag/tips-and-tricks/index.html</a> b/<a href="../file/dist/tag/tips-and-tricks/index.html.html">dist/tag/tips-and-tricks/index.html</a></b>
<a href="#h14-0" id="h14-0" class="h">@@ -19,7 +19,7 @@
</a>


<a href="#h14-0-3" id="h14-0-3" class="d">-        &lt;link rel=&quot;preload&quot; media=&quot;print&quot; href=&quot;/fonts/fonts.css?8883-384c-27fe&quot; onload=&quot;this.media=&#39;all&#39;&quot;/&gt;
</a><a href="#h14-0-4" id="h14-0-4" class="i">+        &lt;link rel=&quot;preload&quot; media=&quot;print&quot; href=&quot;/fonts/fonts.css?a374-9200-b4ed&quot; onload=&quot;this.media=&#39;all&#39;&quot;/&gt;
</a>


<a href="#h14-1" id="h14-1" class="h">@@ -41,6 +41,8 @@
</a>


<a href="#h14-1-3" id="h14-1-3" class="i">+&lt;link rel=&quot;canonical&quot; href=&quot;https://bitbyte.blog /tag/tips-and-tricks/&quot;&gt;
</a><a href="#h14-1-4" id="h14-1-4" class="i">+
</a>


<b>diff --git a/<a id="h15" href="../file/dist/tag/tools/index.html.html">dist/tag/tools/index.html</a> b/<a href="../file/dist/tag/tools/index.html.html">dist/tag/tools/index.html</a></b>
<a href="#h15-0" id="h15-0" class="h">@@ -19,7 +19,7 @@
</a>


<a href="#h15-0-3" id="h15-0-3" class="d">-        &lt;link rel=&quot;preload&quot; media=&quot;print&quot; href=&quot;/fonts/fonts.css?046a-b71c-68be&quot; onload=&quot;this.media=&#39;all&#39;&quot;/&gt;
</a><a href="#h15-0-4" id="h15-0-4" class="i">+        &lt;link rel=&quot;preload&quot; media=&quot;print&quot; href=&quot;/fonts/fonts.css?d936-f4ab-4a47&quot; onload=&quot;this.media=&#39;all&#39;&quot;/&gt;
</a>


<a href="#h15-1" id="h15-1" class="h">@@ -41,6 +41,8 @@
</a>


<a href="#h15-1-3" id="h15-1-3" class="i">+&lt;link rel=&quot;canonical&quot; href=&quot;https://bitbyte.blog /tag/tools/&quot;&gt;
</a><a href="#h15-1-4" id="h15-1-4" class="i">+
</a>


<b>diff --git a/<a id="h16" href="../file/dist/tag/tutorial/index.html.html">dist/tag/tutorial/index.html</a> b/<a href="../file/dist/tag/tutorial/index.html.html">dist/tag/tutorial/index.html</a></b>
<a href="#h16-0" id="h16-0" class="h">@@ -19,7 +19,7 @@
</a>


<a href="#h16-0-3" id="h16-0-3" class="d">-        &lt;link rel=&quot;preload&quot; media=&quot;print&quot; href=&quot;/fonts/fonts.css?b3c1-3210-a78f&quot; onload=&quot;this.media=&#39;all&#39;&quot;/&gt;
</a><a href="#h16-0-4" id="h16-0-4" class="i">+        &lt;link rel=&quot;preload&quot; media=&quot;print&quot; href=&quot;/fonts/fonts.css?c3da-4554-f53f&quot; onload=&quot;this.media=&#39;all&#39;&quot;/&gt;
</a>


<a href="#h16-1" id="h16-1" class="h">@@ -41,6 +41,8 @@
</a>


<a href="#h16-1-3" id="h16-1-3" class="i">+&lt;link rel=&quot;canonical&quot; href=&quot;https://bitbyte.blog /tag/tutorial/&quot;&gt;
</a><a href="#h16-1-4" id="h16-1-4" class="i">+
</a>


<b>diff --git a/<a id="h17" href="../file/dist/tag/typography/index.html.html">dist/tag/typography/index.html</a> b/<a href="../file/dist/tag/typography/index.html.html">dist/tag/typography/index.html</a></b>
<a href="#h17-0" id="h17-0" class="h">@@ -19,7 +19,7 @@
</a>


<a href="#h17-0-3" id="h17-0-3" class="d">-        &lt;link rel=&quot;preload&quot; media=&quot;print&quot; href=&quot;/fonts/fonts.css?f4a8-9009-93df&quot; onload=&quot;this.media=&#39;all&#39;&quot;/&gt;
</a><a href="#h17-0-4" id="h17-0-4" class="i">+        &lt;link rel=&quot;preload&quot; media=&quot;print&quot; href=&quot;/fonts/fonts.css?80c3-e5f0-a721&quot; onload=&quot;this.media=&#39;all&#39;&quot;/&gt;
</a>


<a href="#h17-1" id="h17-1" class="h">@@ -41,6 +41,8 @@
</a>


<a href="#h17-1-3" id="h17-1-3" class="i">+&lt;link rel=&quot;canonical&quot; href=&quot;https://bitbyte.blog /tag/typography/&quot;&gt;
</a><a href="#h17-1-4" id="h17-1-4" class="i">+
</a>


<b>diff --git a/<a id="h18" href="../file/src/_data/site.json.html">src/_data/site.json</a> b/<a href="../file/src/_data/site.json.html">src/_data/site.json</a></b>
<a href="#h18-0" id="h18-0" class="h">@@ -1,9 +1,10 @@
</a> {
     &quot;title&quot;: &quot;Hector Aguilar&quot;,
<a href="#h18-0-2" id="h18-0-2" class="i">+    &quot;name&quot;: &quot;Hector Aguilar&quot;,
</a>     &quot;description&quot;: &quot;Hector Aguilar is a front-end engineer that based on Mexico City&quot;,
     &quot;lang&quot;: &quot;en&quot;,
     &quot;locale&quot;: &quot;en_US&quot;,
<a href="#h18-0-6" id="h18-0-6" class="d">-    &quot;domain&quot;: &quot;mxb.dev&quot;,
</a><a href="#h18-0-7" id="h18-0-7" class="d">-    &quot;url&quot;: &quot;https://mxb.dev&quot;,
</a><a href="#h18-0-8" id="h18-0-8" class="d">-    &quot;repo&quot;: &quot;https://github.com/maxboeck/mxb&quot;
</a><a href="#h18-0-9" id="h18-0-9" class="i">+    &quot;domain&quot;: &quot;bitbyte.blog&quot;,
</a><a href="#h18-0-10" id="h18-0-10" class="i">+    &quot;url&quot;: &quot;https://bitbyte.blog&quot;,
</a><a href="#h18-0-11" id="h18-0-11" class="i">+    &quot;repo&quot;: &quot;https://github.com/hectoraldairah/bitbyte_blog&quot;
</a> }
 \ No newline at end of file
<b>diff --git a/<a id="h19" href="../file/src/_includes/partials/seo.njk.html">src/_includes/partials/seo.njk</a> b/<a href="../file/src/_includes/partials/seo.njk.html">src/_includes/partials/seo.njk</a></b>
<a href="#h19-0" id="h19-0" class="h">@@ -28,4 +28,6 @@
</a>     &lt;meta name=&quot;description&quot; content=&quot;{{ metaDesc }}&quot;/&gt;
     &lt;meta name=&quot;twitter:description&quot; content=&quot;{{ metaDesc }}&quot;/&gt;
     &lt;meta property=&quot;og:description&quot; content=&quot;{{ metaDesc }}&quot;/&gt;
<a href="#h19-0-3" id="h19-0-3" class="d">-{% endif %}
</a><a href="#h19-0-4" id="h19-0-4" class="d">-\ No newline at end of file
</a><a href="#h19-0-5" id="h19-0-5" class="i">+{% endif %}
</a><a href="#h19-0-6" id="h19-0-6" class="i">+
</a><a href="#h19-0-7" id="h19-0-7" class="i">+&lt;link rel=&quot;canonical&quot; href=&quot;{{ site.url }} {{ page.url }}&quot;&gt;
</a><a href="#h19-0-8" id="h19-0-8" class="i">+\ No newline at end of file
</a><b>diff --git a/<a id="h20" href="../file/src/robots.njk.html">src/robots.njk</a> b/<a href="../file/src/robots.njk.html">src/robots.njk</a></b>
<a href="#h20-0" id="h20-0" class="h">@@ -0,0 +1,10 @@
</a><a href="#h20-0-0" id="h20-0-0" class="i">+---
</a><a href="#h20-0-1" id="h20-0-1" class="i">+layout: false
</a><a href="#h20-0-2" id="h20-0-2" class="i">+permalink: robots.txt
</a><a href="#h20-0-3" id="h20-0-3" class="i">+eleventyExcludeFromCollections: true
</a><a href="#h20-0-4" id="h20-0-4" class="i">+---
</a><a href="#h20-0-5" id="h20-0-5" class="i">+
</a><a href="#h20-0-6" id="h20-0-6" class="i">+Sitemap: {{ site.url }}/sitemap.xml
</a><a href="#h20-0-7" id="h20-0-7" class="i">+
</a><a href="#h20-0-8" id="h20-0-8" class="i">+User-agent: *
</a><a href="#h20-0-9" id="h20-0-9" class="i">+Disallow:
</a><a href="#h20-0-10" id="h20-0-10" class="i">+\ No newline at end of file
</a><b>diff --git a/<a id="h21" href="../file/src/robots.txt.html">src/robots.txt</a> b/<a href="../file/src/robots.txt.html">src/robots.txt</a></b>
<a href="#h21-0" id="h21-0" class="h">@@ -0,0 +1,5 @@
</a><a href="#h21-0-0" id="h21-0-0" class="i">+
</a><a href="#h21-0-1" id="h21-0-1" class="i">+Sitemap: https://bitbyte.blog/sitemap.xml
</a><a href="#h21-0-2" id="h21-0-2" class="i">+
</a><a href="#h21-0-3" id="h21-0-3" class="i">+User-agent: *
</a><a href="#h21-0-4" id="h21-0-4" class="i">+Disallow:
</a><a href="#h21-0-5" id="h21-0-5" class="i">+\ No newline at end of file
</a><b>diff --git a/<a id="h22" href="../file/src/sitemap.njk.html">src/sitemap.njk</a> b/<a href="../file/src/sitemap.njk.html">src/sitemap.njk</a></b>
<a href="#h22-0" id="h22-0" class="h">@@ -0,0 +1,17 @@
</a><a href="#h22-0-0" id="h22-0-0" class="i">+---
</a><a href="#h22-0-1" id="h22-0-1" class="i">+permalink: /sitemap.xml
</a><a href="#h22-0-2" id="h22-0-2" class="i">+eleventyExcludeFromCollections: true
</a><a href="#h22-0-3" id="h22-0-3" class="i">+---
</a><a href="#h22-0-4" id="h22-0-4" class="i">+
</a><a href="#h22-0-5" id="h22-0-5" class="i">+&lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-8&quot;?&gt;
</a><a href="#h22-0-6" id="h22-0-6" class="i">+&lt;urlset xmlns=&quot;http://www.sitemaps.org/schemas/sitemap/0.9&quot;&gt;
</a><a href="#h22-0-7" id="h22-0-7" class="i">+    {% for page in collections.all %}
</a><a href="#h22-0-8" id="h22-0-8" class="i">+        {% if not page.data.draft %}
</a><a href="#h22-0-9" id="h22-0-9" class="i">+            &lt;url&gt;
</a><a href="#h22-0-10" id="h22-0-10" class="i">+                &lt;loc&gt;{{ site.url }}{{ page.url | url }}&lt;/loc&gt;
</a><a href="#h22-0-11" id="h22-0-11" class="i">+                &lt;lastmod&gt;{{ page.date.toISOString() }}&lt;/lastmod&gt;
</a><a href="#h22-0-12" id="h22-0-12" class="i">+                &lt;changefreq&gt;{{ page.data.changeFreq if page.data.changeFreq else &quot;monthly&quot; }}&lt;/changefreq&gt;
</a><a href="#h22-0-13" id="h22-0-13" class="i">+            &lt;/url&gt;
</a><a href="#h22-0-14" id="h22-0-14" class="i">+        {% endif %}
</a><a href="#h22-0-15" id="h22-0-15" class="i">+    {% endfor %}
</a><a href="#h22-0-16" id="h22-0-16" class="i">+&lt;/urlset&gt;
</a><a href="#h22-0-17" id="h22-0-17" class="i">+\ No newline at end of file
</a></pre>
</div>
</body>
</html>
