/// BASE SIZE
/// All calculations are based on this. It’s recommended that
/// you keep it at 1rem because that is the root font size. You
/// can set it to whatever you like and whatever unit you like.
///
$gorko-base-size: 1rem;

/// SIZE SCALE
/// This is a Major Third scale that powers all the utilities that
/// it is relevant for (font-size, margin, padding). All items are
/// calcuated off the base size, so change that and cascade across
/// your whole project.
///
$gorko-size-scale: (
  '300': $gorko-base-size * 0.8,
  '400': $gorko-base-size,
  '500': $gorko-base-size * 1.2,
  '600': $gorko-base-size * 1.6,
  '700': $gorko-base-size * 2,
  '800': $gorko-base-size * 2.5,
  '900': $gorko-base-size * 3,
  '1000': $gorko-base-size * 4,
  '1100': $gorko-base-size * 5,
  '1200': $gorko-base-size * 6,
);

/// COLORS
/// Colors are shared between backgrounds and text by default.
/// You can also use them to power borders, fills or shadows, for example.
///
$gorko-colors: (
  'Rosewater': '#f1ece0',
  'Flamingo': '#f2cdcd',
  'Pink': '#f5c2e7',
  'Mauve': '#cba6f7',
  'Red': '#f38ba8',
  'Maroon': '#eba0ac',
  'Peach': '#fab387',
  'Yellow': '#f9e2af',
  'Green': '#a6e3a1',
  'Teal': '#94e2d5',
  'Sky': '#89dceb',
  'Sapphire': '#74c7ec',
  'Blue': '#89b4fa',
  'Lavender': '#b4befe',
  'Text': '#CAD3F5',
  'Subtext1': '#bac2de',
  'Subtext0': '#a6adc8',
  'Overlay2': '#9399b2',
  'Overlay1': '#7f849c',
  'Overlay0': '#6c7086',
  'Surface2': '#585b70',
  'Surface1': '#45475a',
  'Surface0': '#313244',
  'Base': '#1e1e2e',
  'Mantle': '#181825',
  'Crust': '#11111b',
);

/// CORE CONFIG
/// This powers everything from utility class generation to breakpoints
/// to enabling/disabling pre-built components/utilities.
///
$gorko-config: (
  'bg': (
    'items': $gorko-colors,
    'output': 'standard',
    'property': 'background',
  ),
  'color': (
    'items': $gorko-colors,
    'output': 'standard',
    'property': 'color',
  ),
  'box': (
    'items': (
      'block': 'block',
      'flex': 'flex',
      'hide': 'none',
      'show': 'inherit',
    ),
    'output': 'responsive',
    'property': 'display',
  ),
  'font': (
    'items': (
      'base': 'sans-serif',
      'terminal': 'serif',
    ),
    'output': 'standard',
    'property': 'font-family',
  ),
  'gap-top': (
    'items': $gorko-size-scale,
    'output': 'standard',
    'property': 'margin-top',
  ),
  'gap-right': (
    'items': $gorko-size-scale,
    'output': 'standard',
    'property': 'margin-right',
  ),
  'gap-bottom': (
    'items': $gorko-size-scale,
    'output': 'standard',
    'property': 'margin-bottom',
  ),
  'gap-left': (
    'items': $gorko-size-scale,
    'output': 'standard',
    'property': 'margin-left',
  ),
  'pad-top': (
    'items': $gorko-size-scale,
    'output': 'standard',
    'property': 'padding-top',
  ),
  'pad-right': (
    'items': $gorko-size-scale,
    'output': 'standard',
    'property': 'padding-right',
  ),
  'pad-bottom': (
    'items': $gorko-size-scale,
    'output': 'standard',
    'property': 'padding-bottom',
  ),
  'pad-left': (
    'items': $gorko-size-scale,
    'output': 'standard',
    'property': 'padding-left',
  ),
  'stack': (
    'items': (
      '300': 0,
      '400': 10,
      '500': 20,
      '600': 30,
      '700': 40,
    ),
    'output': 'standard',
    'property': 'z-index',
  ),
  'text': (
    'items': $gorko-size-scale,
    'output': 'responsive',
    'property': 'font-size',
  ),
  'weight': (
    'items': (
      'light': '300',
      'regular': '400',
      'bold': '700',
    ),
    'output': 'standard',
    'property': 'font-weight',
  ),
  'width': (
    'items': (
      'full': '100%',
    ),
    'output': 'responsive',
    'property': 'width',
  ),
  'breakpoints': (
    'sm': '(min-width: 36em)',
    'md': '(min-width: 48em)',
    'lg': '(min-width: 62em)',
  ),
);
