@import 'reset';

// First up: config and functions
@import 'config';

// Next: pull in gorko for design tokens
@import '../../node_modules/gorko/gorko.scss';

// Base Styles
@import 'base/typography';
@import 'base/scrollbar';
@import 'base/focus';
@import 'base/anchor';

// Import Utilities
@import 'utilities/wrapper';

// Blocks
@import 'blocks/main-content';
@import 'blocks/header';
@import 'blocks/footer';
@import 'blocks/nav';
@import 'blocks/page-header';
@import 'blocks/stack';

@import 'themes/prism-laserwave';

html {
  font-size: 20px;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #{get-color('Base')};
  color: #{get-color('Text')};
  overflow-x: hidden;
  min-height: 100vh;
  font-family: ui-serif, serif;
}

h1 {
  color: #{get-color('Text')} 
}

h2 {
  color: #{get-color('Teal')}
}

h3,
h4,
h5 {
  color: #{get-color('Green')};
}

pre {
  font-size: 0.825rem !important;
}
