@import 'reset';

// First up: config and functions
@import 'config';

// Next: pull in gorko for design tokens
@import '../../node_modules/gorko/gorko.scss';

// Base Styles
@import 'base/animation';
@import 'base/typography';
@import 'base/scrollbar';
@import 'base/focus';
@import 'base/anchor';

// Import Utilities
@import 'utilities/wrapper';

// Blocks
@import 'blocks/header';
@import 'blocks/footer';
@import 'blocks/nav';
@import 'blocks/link';
@import 'blocks/page-header';
@import 'blocks/stack';

@import 'themes/prism-laserwave';

:root {
  --bg-color: #{get-color('Crust')};

  --text-color: #{get-color('Text')};

  --feature-post-color: #{get-color('Mantle')};
  --text-heading-color: #{get-color('Teal')};

  --link-color: #{get-color('Text')};
  --text-decoration-color: #{get-color('Teal')};

  --link-hover-color: #{get-color('Teal')};
  --focus-color: #{get-color('Surface1')};

  --flow-space: #{get-size('600')};

  --scrollbar-color: #{get-color('Surface2')};
  --scrollbar-thumb-color: #{get-color('Mantle')};

  --block-quote-color: #{get-color('Teal')};
  --block-quote-shadow-color: #{get-color('Teal')};
  --footer-border-color: #{get-color('Teal')};

  scrollbar-color: var(--scrollbar-color) var(--scrollbar-thumb-color);
  scrollbar-width: auto !important;
}

html {
  font-size: 17px;
}

body {
  display: flex;
  flex-direction: column;
  background: var(--bg-color);
  color: var(--text-color);
  line-height: 1.5;
  font-size: get-size('500');
  overflow-x: hidden;
  min-height: 100vh;
}

h1,
h2,
h3 {
  font-weight: get-size('900');
  color: var(--text-heading-color);
}

pre {
  font-size: 0.825rem !important;
}
#main-content {
  margin-top: get-size('600');
}
