@import 'config';

// // Set Gorko to output no CSS for this file
$generate-utility-classes: false;

// // Next: pull in Gorko for design tokens
@import '../../node_modules/gorko/gorko.scss';

// // Pull in blocks
@import 'blocks/post-list';
@import 'blocks/tag-lists';
@import 'blocks/page-content';
@import 'blocks/books-list';

// // Generic styles

html {
  background-color: var(--color-bg);
  background-image: url('../../assets/images/bg-sample.png');
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-attachment: fixed;
  background-blend-mode: luminosity;
  image-rendering: pixelated;
}
