<section class="books">
  <div class="wrapper">
    <ol class="[ books-list ] [ flow ]">
      {% for book in books %}
      <li class="[ books-list__item ]">
        <span>
          <a href="{{ book.url }}">{{ book.data.title }}</a>
          ::
          <span>{{ book.data.rating | stars }}</span>
        </span>
        <p> - {{ book.data.writter }}</p>
      </li>
      {% endfor %}
    </ol>
 </div>
</section>
