<div class="buttons_link pixelBorder--2">
  <p>Cool buttons</p>
  <marquee scrollamount="3" behavior="scroll" direction="down" loop="infinite">
    <img
      width="88"
      height="31"
      src="{{'/assets/images/cyberrot.gif' | url }}"
      alt="Website ping whink whink"
    />
    <img
      width="88"
      height="31"
      src="{{'/assets/images/digitalme.gif' | url }}"
      alt="Website ping whink whink"
    />
    <img
      width="88"
      height="31"
      src="{{'/assets/images/dbfire88.gif' | url }}"
      alt="Website ping whink whink"
    />
    <img
      width="88"
      height="31"
      src="{{'/assets/images/learn_html.gif' | url }}"
      alt="Website ping whink whink"
    />
    <img
      width="88"
      height="31"
      src="{{'/assets/images/nekojiru.gif' | url }}"
      alt="Website ping whink whink"
    />
    <img
      width="88"
      height="31"
      src="{{'/assets/images/sonicstadium.gif' | url }}"
      alt="Website ping whink whink"
    />
  </marquee>
</div>
