<section class="[ feature-post ]">
  <div class="[ wrapper ]">
    <h2 class="feature-post__title">Posts</h2>
    <div class="feature-post__list">
      {% for item in postItems %}
      <article class="featured-article">
        <a href="{{ item.url }}" class="[ featured-article__title ]">
          {{item.data.title}}
        </a>
        <p class="featured-article__clamp">
          <span class="featured-article__meta">
            {% for tag in item.data.tags %}
            <a class="featured-article__meta__tags" href="/tag/{{ tag | slug }}/">#{{ tag }}</a>
            {% endfor %} ⁃
            <time
              class="featured-article__date"
              datetime="{{ item.data.date | postDate }}"
              >{{ item.data.date | postDate }}</time
            >
          </span>
          {{item.data.description }}
        </p>
      </article>
      {% endfor %}
    </div>

    <a class="feature-post__more" href="/blog">See more articles...</a>
  </div>
</section>
