<footer class="[ site-footer ]">
 <nav class="site-footer__navigation" aria-label="Secondary">
    <ul class="site-footer__navigation__inner">
      <li>
        <img
          width="88"
          height="31"
          src="{{'/assets/images/cyberrot.gif' | url }}"
          alt="Website ping whink whink"
        />
      </li>
      <li>
        <img
          width="88"
          height="31"
          src="{{'/assets/images/digitalme.gif' | url }}"
          alt="Website ping whink whink"
        />
      </li>
      <li>
        <a href="/feed.xml">RSS</a>
      </li>
      <li>
        <a
          href="https://github.com/hectoraldairah/bitbyte-blog"
          rel="noopener noreferrer"
          >Edit this site</a
        >
      </li>
    </ul>
  </nav>
</footer>
