<footer class="[ site-footer pixelBorder--2 ]">
  <ul class="site-footer__links">
    <li>
      <a href="/feed.xml">RSS</a>
    </li>
    <li>
      <a
        href="https://github.com/hectoraldairah/bitbyte-blog"
        rel="noopener noreferrer"
        >Edit this site</a
      >
    </li>
  </ul>
  <section class="site-footer__webring">
    <a href="https://xn--sr8hvo.ws/previous">prev</a>
    <a href="https://xn--sr8hvo.ws">An IndieWeb Webring</a>
    <a href="https://xn--sr8hvo.ws/next">next</a>
  </section>
</footer>
