<div role="banner" class="[ header ]">
    <pre class="[ header__ascii ]" href="https://www.bitbyte.blog/" rel="me">
 ▄▄▄▄     ██▓▄▄▄█████▓ ▄▄▄▄   ▓██   ██▓▄▄▄█████▓ ▓█████
▓█████▄ ▒▓██▒▓  ██▒ ▓▒▓█████▄  ▒██  ██▒▓  ██▒ ▓▒ ▓█   ▀
▒██▒ ▄██▒▒██▒▒ ▓██░ ▒░▒██▒ ▄██  ▒██ ██░▒ ▓██░ ▒░ ▒███
▒██░█▀  ░░██░░ ▓██▓ ░ ▒██░█▀    ░ ▐██▓░░ ▓██▓ ░  ▒▓█  ▄
░▓█  ▀█▓░░██░  ▒██▒ ░ ░▓█  ▀█▓  ░ ██▒▓░  ▒██▒ ░ ▒░▒████
░▒▓███▀▒ ░▓    ▒ ░░   ░▒▓███▀▒   ██▒▒▒   ▒ ░░   ░░░ ▒░
▒░▒   ░ ░ ▒ ░    ░    ▒░▒   ░  ▓██ ░▒░     ░    ░ ░ ░
 ░    ░ ░ ▒ ░  ░       ░    ░  ▒ ▒ ░░    ░          ░
 ░        ░            ░       ░ ░              ░   ░
  </pre
    >
</div>
