<div id="pixelart-list">
  <div class="[ wrapper ] [ flow ]">
    <ul class="[ pixelart-grid ]">
      {% for item in pixelArtItems %}
      {% set pixelArtImageUrl = [ "src/pixelart/", item.data.dir, "/", item.data.image] | join %}
      {% set imageAlt = item.data.title %}
      <li class="[ pixelart-list ]">
      <article class="[ pixelart-card ]">
          {% image pixelArtImageUrl, imageAlt %}
        <a href="{{ item.url }}">{{item.data.title}}</a>
      </article>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
