<div id="pixelart-list">
    <div class="[ wrapper ] [ flow ]">
        <ul class="">
          {% for item in pixelArtItems %}
            {{item.data.title}}  
          {% endfor %} 
        </ul>
    </div>
</div>
