{# General #}
<meta name="author" content="{{ author.name }}">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:locale" content="{{ site.locale }}">
<meta name="twitter:site" content="@{{ author.social.twitter.name }}">
<meta name="twitter:creator" content="@{{ author.social.twitter.name }}">

{% if metaDesc %}
    <meta name="description" content="{{ metaDesc }}"/>
    <meta name="twitter:description" content="{{ metaDesc }}"/>
    <meta property="og:description" content="{{ metaDesc }}"/>
{% endif %}