{%- set isPost = (layout == 'layouts/post.njk') -%}

{%- if isPost -%}
  <meta property="og:type" content="article"/>
{%- else -%}
  <meta property="og:type" content="website"/>
{%- endif -%}

{%- set metaTitle = title or site.title -%}
{%- set metaDesc  = description or site.description -%}
{%- set metaURL   = site.url ~ page.url -%}

{%- set ogTpl = "_includes/og-image.og.njk" -%}

{% metagen
  title=metaTitle,
  desc=metaDesc,
  url=metaURL,
  img_alt=metaTitle,
  twitter_card_type='summary_large_image',
  name=site.name,
  generator='eleventy',
  comments=true
%}

{% setAsync "ogRel" -%}
  {% ogImage ogTpl, { title: metaTitle, site: site, description: metaDesc } %}
{%- endsetAsync %}

{%- set ogRel = ogRel | trim -%}
{%- set imageURL = site.url + ogRel %}

<!-- DEBUG ogRel: [{{ ogRel | dump }}] -->
<!-- DEBUG ogTpl: {{ ogTpl }} -->
<meta property="og:image" content="{{imageURL}}">
