{# General #}
<meta name="author" content="{{ author.name }}">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:locale" content="{{ site.locale }}">
<meta name="twitter:site" content="@{{ author.social.twitter.name }}">
<meta name="twitter:creator" content="@{{ author.social.twitter.name }}">

<meta property="og:image" content="https://v1.screenshot.11ty.dev/https%3A%2F%2Fwww.11ty.dev%2Fdocs%2F/opengraph/">

{% if metaDesc %}
    <meta name="description" content="{{ metaDesc }}"/>
    <meta name="twitter:description" content="{{ metaDesc }}"/>
    <meta property="og:description" content="{{ metaDesc }}"/>
{% endif %}