<header role="banner" class="site-head pixelBorder pixelBorder--2">
    <div class="site-head__inner">
      <nav class="[ nav ] [ site-head__nav ]" aria-label="Primary">
        <ul class="nav__list">
          {% for item in collections.all | eleventyNavigation %}
          <li>
            <a href="{{item.url}}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>{{item.title}}</a>
          </li>
          {% endfor %}
          <li><a href="../../assets/files/resume.pdf" target="_blank">resume</a></li>
        </ul>
      </nav>
    </div>
</header>
