<div role="banner" class="page-header">
  {% image "src/assets/images/ball.gif", "logo from blog", "favicon" %}
  <h2>
    <a href="https://www.bitbyte.blog/" rel="me">bitbyte.blog</a>
  </h2>
  {% image "src/assets/images/ball.gif", "logo from blog", "favicon" %}
</div>
