<div role="banner" class="page-header">
  {% image "src/assets/images/ball.gif", "logo from blog", "favicon" %}
  <h2>
    <a href="https://www.bitbyte.blog/" class="h-card" rel="me">bitbyte.blog</a>
  </h2>
</div>
