{% macro renderNav(items, currentUrl, isChild = false) %} {% set listClass =
'nav__list' %} {% if isChild %} {% set listClass = listClass + "
nav__list__children" %} {% set childAnchor = "child" %} {% endif %}
<ul class="{{ listClass }}">
  {% for item in items %}
  <li>
    <a
      href="{{ item.url }}"
      class="{{ childAnchor }}"
      {{
      helpers.getLinkActiveState(item.url,
      currentUrl)
      |
      safe
      }}
    >
      {{ item.title }}
    </a>
  </li>
  {% endfor %} {% if isChild == false %}
  <li>
    <a href="../../assets/files/resume.pdf" target="_blank">resume</a>
  </li>
  {% endif %}
</ul>
{% endmacro %}

<aside class="[ site-nav ]">
  <nav class="[ nav ]" aria-label="Primary">
    {% set nav = collections.all | eleventyNavigation %} {{ renderNav(nav,
    page.url) }}
  </nav>
  <div>
    {% include "partials/theme-picker.njk" %}
    {% include "partials/noise.njk" %}
    {% include "partials/status-cafe.njk" %}
  </div>
</aside>
