<div id="statuscafe" class="[ status-cafe pixelBorder--2 ]">
  <div class="[ status-cafe__username ]">
    <p>{{status.author}} <span>{{status.face}}</span></p>
    <p>{{status.timeAgo}}</p>
  </div>
  <div id="statuscafe-content">
    <p>{{status.content}}</p>
  </div>
</div>
