<div class="[ theme-picker pixelBorder--2 ]">
  <label for="theme-input" class="theme-picker__label">Pick a theme</label>
  <select name="theme-input" id="theme-input" class="theme-picker__select">
    <option value="default">catppuccin</option>
    <option value="gameboy">gameboy</option>
    <option value="sadness">sadness</option>
    <option value="grue">grue</option>
  </select>
</div>
